@import "cockpitng-globals.scss";

$flexlayout__sidebar--width: $globals__sidebar--width; // 300px

$flexlayout__sidebar--transform-left: translateX(-$flexlayout__sidebar--width);
$flexlayout__sidebar--transform-right: translateX($flexlayout__sidebar--width);
$flexlayout__sidebar-collapsed--width: $toolbar__default--height;
$flexlayout__sidebar-collapsed--transform-left: translateX(-$flexlayout__sidebar-collapsed--width);
$flexlayout__sidebar-collapsed--transform-right: translateX($flexlayout__sidebar-collapsed--width);
$flexlayout__sidebar-overlap--width: $flexlayout__sidebar--width;

$flexlayout__sidebar--transform-left: translateX(-100%);
$flexlayout__sidebar--transform-right: translateX(100%);
$flexlayout__sidebar-collapsed--width: 50px;
//_flexlayout__sidebar-collapsed--transform-left: translateX(-$flexlayout__sidebar-collapsed--width);
//_flexlayout__sidebar-collapsed--transform-right: translateX($flexlayout__sidebar-collapsed--width);
//_flexlayout__sidebar-overlap--width: $flexlayout__sidebar--width;


$flexlayout__sidebar--transition: transform 0.5s, visibility 0s linear 0.5s;
$flexlayout__sidebar-opened--transition: transform 0.5s;
$flexlayout__sidebar--box-shadow: 0 0 2px var(--bo-container-border-color);

$flexlayout__sidebar-overlap--transition: width 0.3s;
$flexlayout__sidebar-overlap-hover--transition: width 0.3s;

$flexlayout__sidebar-footer-before--width: 100%;
$flexlayout__sidebar-footer-before--font-family: $font-family__icon;
$flexlayout__sidebar-footer-before--font-size: $font-size__large;
$flexlayout__sidebar-footer-before--line-height: $font-size__large;
$flexlayout__sidebar-footer-before--color: var(--bo-button-icon-color);
$flexlayout__sidebar-footer-before--right: floor($flexlayout__sidebar-collapsed--width/2);

$flexlayout__sidebar-footer-angle-left--content: _getIconGlyphContentValue('navigation-left-arrow');
$flexlayout__sidebar-footer-angle-right--content: _getIconGlyphContentValue('navigation-right-arrow');

$flexlayout__sidebar-footer--width: 100%;
$flexlayout__sidebar-footer--height: $toolbar__default--height;
$flexlayout__sidebar-footer--padding: $container-spacing-default__half $container-spacing-default__half;
$flexlayout__sidebar-footer--cursor: pointer;
$flexlayout__sidebar-footer--bottom: 0;
$flexlayout__sidebar-footer--bg-color: var(--bo-page-footer-background);

$flexlayout__sidebar-collapsible--padding-bottom: $flexlayout__sidebar-footer--height;

$flexlayout__contents-opened--width: calc(100% - #{$flexlayout__sidebar--width});
$flexlayout__contents-collapsed--width: calc(100% - #{$flexlayout__sidebar-collapsed--width});
$flexlayout__contents--transition: transform 0.5s;
$flexlayout__contents-opened--transform-left: translateX($flexlayout__sidebar--width);
$flexlayout__contents-collapsed--transform-left: translateX($flexlayout__sidebar-collapsed--width);
$flexlayout__contents-dimmer--bg-color: var(--bo-block-layer-background);
$flexlayout__contents-dimmer--bg-opacity: 0.6;

//_flexlayout__contents-opened--transform-left: translateX($flexlayout__sidebar--width);
//_flexlayout__contents-collapsed--transform-left: translateX($flexlayout__sidebar-collapsed--width);
$_flexlayout__contents--z-index: 0;


$flexlayout__trigger--border-radius: $toolbar__button-default--border-radius;
$flexlayout__trigger--button-size: $toolbar__button-default--size;
$flexlayout__trigger--font-size: $font-size__large; //$toolbar__default--height;
$flexlayout__trigger-right--content: _getIconGlyphContentValue("journey-depart");
$flexlayout__trigger-left--content: _getIconGlyphContentValue("journey-arrive");
// $flexlayout__trigger--bg-image: url("images/icon_menu_inverted.svg");
$flexlayout__trigger-hover--bg-color: var(--bo-button-hover-background);
$flexlayout__icon--font-family: $font-family__icon;
$flexlayout__icon--font-size: $font-size__large;
$flexlayout__trigger-summary--content: _getIconGlyphContentValue("message-information");
// $flexlayout__trigger-summary--bg-image: url("images/icon_sidebar_summary_default.svg");
$flexlayout__trigger-summary--bg-color: var(--bo-button-background);
$flexlayout__trigger-summary--color: var(--bo-button-icon-color);
$flexlayout__trigger-summary--hover-color: var(--bo-button-hover-color);
$flexlayout__trigger-summary--icon--line-height: $toolbar__button-default--size;

$flexlayout__media-query-xl--min-width: 1920px;
$flexlayout__media-query-l--min-width: 1600px;
$flexlayout__media-query-m--min-width: 1366px;
$flexlayout__media-query-s--min-width: 1200px;
$flexlayout__media-query-xs--max-width: $flexlayout__media-query-s--min-width - 1px; //
$flexlayout__media-query-xs--min-width: 1024px;

$flexlayout__sidebar--z-index: 1;
$flexlayout__sidebar-overlap--z-index: 1;
$flexlayout__sidebar-header--z-index: 9;
$flexlayout__contents-dimmer--z-index: 99;
$flexlayout__sidebar--bp-s--z-index: 100;

$flexlayout__sidebar-header-btn--top: $_container-spacing-default__small;

$flexlayout__sidebar-header-btn-before--content: $close--content;
$flexlayout__sidebar-header-right-btn-before--content: _getIconGlyphContentValue("slim-arrow-right");
$flexlayout__sidebar-header-left-btn-before--content: _getIconGlyphContentValue("slim-arrow-left");
$flexlayout__sidebar-header-btn-before--color: var(--bo-button-icon-color);
$flexlayout__sidebar-header-btn-before--font-size: $font-size__large;
$flexlayout__sidebar-header-btn-before--spacing: -16px;
$flexlayout__sidebar-header-btn-before-shadow: var(--bo-content-shadow-medium);
$flexlayout__sidebar-header-btn-hover--bg-color: var(--bo-button-icon-color);

$flexlayout__sidebar-header-btn-left--box-shadow: -1px 0 3px 0 var(--bo-container-border-color);
$flexlayout__sidebar-header-btn-right--box-shadow: 1px 0 3px 0 var(--bo-container-border-color);

$_flexlayout__sidebar-right--box-shadow: $flexlayout__sidebar-header-btn-left--box-shadow;
$_flexlayout__sidebar-left--box-shadow: $flexlayout__sidebar-header-btn-right--box-shadow;

