/*================================
	Configurable Flow Widget
================================*/
/* Status */
/* Button Color Scheme */
/* Status */
/* Button Color Scheme */
/* Status */
/* Button Color Scheme */
.yw-modal-configurableFlow-small {
  width: 30%;
  max-width: 500px; }

.yw-modal-configurableFlow-medium {
  width: 60%;
  max-width: 800px; }

.yw-modal-configurableFlow-large {
  width: 90%;
  max-width: 1200px; }

/* Status */
/* Button Color Scheme */
.yw-modal-configurableFlow-small {
  width: 30%;
  max-width: 500px; }

.yw-modal-configurableFlow-medium {
  width: 60%;
  max-width: 800px; }

.yw-modal-configurableFlow-large {
  width: 90%;
  max-width: 1200px; }

.yw-modal-configurableFlow {
  min-width: 300px;
  height: auto; }
  .yw-modal-configurableFlow .z-window-content {
    height: auto !important; }
  .yw-modal-configurableFlow .yw-wizard-breadcrumb {
    color: var(--bo-text-color);
    padding: 16px 0;
    padding-right: 0.5rem;
    position: relative;
    display: table-cell; }
    .yw-modal-configurableFlow .yw-wizard-breadcrumb-wrapper {
      position: relative;
      background: var(--bo-list-background);
      padding: 0 16px;
      box-shadow: var(--bo-content-header-shadow); }
    .yw-modal-configurableFlow .yw-wizard-breadcrumb-cnt {
      display: table;
      table-layout: fixed;
      padding: 0;
      margin: 0;
      width: 100%; }
      .yw-modal-configurableFlow .yw-wizard-breadcrumb-cnt:empty {
        display: none; }
    .yw-modal-configurableFlow .yw-wizard-breadcrumb-container {
      display: flex;
      align-items: center;
      cursor: default; }
      .yw-modal-configurableFlow .yw-wizard-breadcrumb-container:hover, .yw-modal-configurableFlow .yw-wizard-breadcrumb-container:focus, .yw-modal-configurableFlow .yw-wizard-breadcrumb-container:active {
        text-decoration: none; }
    .yw-modal-configurableFlow .yw-wizard-breadcrumb-indicator {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      min-width: 32px;
      min-height: 32px;
      background: var(--bo-list-background);
      border: var(--bo-list-border-width) solid var(--bo-list-border-color);
      color: var(--bo-content-label-color); }
    .yw-modal-configurableFlow .yw-wizard-breadcrumb-label-container {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      color: var(--bo-text-color);
      margin-left: 0.5rem; }
    .yw-modal-configurableFlow .yw-wizard-breadcrumb-sublabel .z-label {
      font-size: var(--bo-font-size-small);
      color: var(--bo-content-label-color); }
    .yw-modal-configurableFlow .yw-wizard-breadcrumb-label .z-label {
      font-family: var(--bo-tab-text-font-family);
      font-size: var(--bo-font-size); }
    .yw-modal-configurableFlow .yw-wizard-breadcrumb-active .yw-wizard-breadcrumb-container:after {
      height: 3px;
      background: var(--bo-selected-color);
      content: "";
      position: absolute;
      width: 32px;
      border-top-left-radius: 0.125rem;
      border-top-right-radius: 0.125rem;
      bottom: 0; }
    .yw-modal-configurableFlow .yw-wizard-breadcrumb-active .yw-wizard-breadcrumb-indicator {
      color: var(--bo-contrast-text-color);
      background-color: var(--bo-selected-color); }
    .yw-modal-configurableFlow .yw-wizard-breadcrumb-active .yw-wizard-breadcrumb-label-container {
      color: var(--bo-selected-color); }
    .yw-modal-configurableFlow .yw-wizard-breadcrumb-active .yw-wizard-breadcrumb-label:after {
      content: "";
      position: absolute;
      display: block;
      bottom: 0;
      border-bottom: 3px solid var(--bo-step-active-indicator-color);
      right: 16px;
      left: 16px; }
    .yw-modal-configurableFlow .yw-wizard-breadcrumb-active + .yw-wizard-breadcrumb-after .yw-wizard-breadcrumb-spacer {
      color: var(--bo-container-color); }
    .yw-modal-configurableFlow .yw-wizard-breadcrumb-spacer {
      flex: 1 1 auto;
      margin: 0.5rem;
      min-width: 1rem;
      border-bottom: var(--bo-border-width) solid var(--bo-list-border-color); }
    .yw-modal-configurableFlow .yw-wizard-breadcrumb:last-child .yw-wizard-breadcrumb-spacer {
      display: none; }
    .yw-modal-configurableFlow .yw-wizard-breadcrumb-before .yw-wizard-breadcrumb-container {
      cursor: pointer; }
    .yw-modal-configurableFlow .yw-wizard-breadcrumb-before .yw-wizard-breadcrumb-indicator {
      border-color: var(--bo-selected-color);
      color: var(--bo-selected-color); }
    .yw-modal-configurableFlow .yw-wizard-breadcrumb-before .yw-wizard-breadcrumb-spacer {
      border-bottom-color: var(--bo-selected-color); }
  .yw-modal-configurableFlow .yw-wizard-msgArea-cnt {
    position: relative;
    overflow: hidden; }
  .yw-modal-configurableFlow .yw-labelstyle {
    color: var(--bo-container-color); }
  .yw-modal-configurableFlow .yw-wizard-info {
    padding: 16px;
    font-size: 14px;
    color: var(--bo-container-color);
    overflow: auto;
    background: transparent;
    border-bottom: 1px solid transparent; }
  .yw-modal-configurableFlow .yw-wizard-tabpanel.z-tabpanel {
    padding: 0; }
  .yw-modal-configurableFlow .yw-wizard-tabs > .z-tabs-header .z-tab-hm, .yw-modal-configurableFlow .yw-wizard-tabs > .z-tabs-header .z-tab-hr, .yw-modal-configurableFlow .yw-wizard-tabs > .z-tabs-header .z-tab-hl {
    background: none; }
  .yw-modal-configurableFlow .yw-wizard-layout > .z-vlayout-inner {
    height: auto !important;
    width: 100% !important; }
  .yw-modal-configurableFlow .yw-wizard-content {
    padding: 16px;
    min-height: 250px;
    max-height: 420px;
    overflow: hidden;
    overflow-y: auto;
    width: 100% !important;
    height: auto !important; }
    @media screen and (min-height: 720px) {
      .yw-modal-configurableFlow .yw-wizard-content {
        max-height: calc(100vh - 300px); } }
    .yw-modal-configurableFlow .yw-wizard-content .ye-qualifier-not-found-error.z-label {
      border: 1px dashed;
      color: var(--bo-error-color);
      padding: 5px;
      display: block; }
  .yw-modal-configurableFlow .yw-wizard-property {
    padding: 1px 8px;
    margin-bottom: 16px;
    position: relative;
    overflow: hidden; }
    .yw-modal-configurableFlow .yw-wizard-property-label {
      color: var(--bo-content-label-color);
      font-weight: normal;
      padding-top: 16px; }
      .yw-modal-configurableFlow .yw-wizard-property-label-mandatory:after {
        content: "*";
        color: var(--bo-input-required-color);
        font-size: 14px;
        position: relative;
        top: -2px;
        font-weight: 700; }
    .yw-modal-configurableFlow .yw-wizard-property .z-spinner,
    .yw-modal-configurableFlow .yw-wizard-property .z-timebox {
      display: block; }
    .yw-modal-configurableFlow .yw-wizard-property textarea.z-textbox + * button {
      margin-top: 10px; }
    .yw-modal-configurableFlow .yw-wizard-property .ye-validation-info .yw-loceditor-row-wysiwyg > .yw-loceditor-row-locale:before, .yw-modal-configurableFlow .yw-wizard-property .ye-validation-info .yw-loceditor-row-wysiwyg > .yw-loceditor-row-locale:after, .yw-modal-configurableFlow .yw-wizard-property .ye-validation-warn .yw-loceditor-row-wysiwyg > .yw-loceditor-row-locale:before, .yw-modal-configurableFlow .yw-wizard-property .ye-validation-warn .yw-loceditor-row-wysiwyg > .yw-loceditor-row-locale:after, .yw-modal-configurableFlow .yw-wizard-property .ye-validation-error .yw-loceditor-row-wysiwyg > .yw-loceditor-row-locale:before, .yw-modal-configurableFlow .yw-wizard-property .ye-validation-error .yw-loceditor-row-wysiwyg > .yw-loceditor-row-locale:after {
      display: none; }
    .yw-modal-configurableFlow .yw-wizard-property .ye-validation-info .ye-validation-exclamation-icon, .yw-modal-configurableFlow .yw-wizard-property .ye-validation-warn .ye-validation-exclamation-icon, .yw-modal-configurableFlow .yw-wizard-property .ye-validation-error .ye-validation-exclamation-icon {
      position: absolute;
      top: 0px;
      right: 10px;
      margin-right: 4px; }
    .yw-modal-configurableFlow .yw-wizard-property .ye-validation-info .ye-com_hybris_cockpitng_editor_localized, .yw-modal-configurableFlow .yw-wizard-property .ye-validation-warn .ye-com_hybris_cockpitng_editor_localized, .yw-modal-configurableFlow .yw-wizard-property .ye-validation-error .ye-com_hybris_cockpitng_editor_localized {
      margin-top: 0; }
  .yw-modal-configurableFlow .yw-wizard-navigation {
    border-top: 1px solid var(--bo-list-border-color);
    height: 68px; }
    .yw-modal-configurableFlow .yw-wizard-navigation .yw-left-pack .yw-component-wrapper, .yw-modal-configurableFlow .yw-wizard-navigation .yw-left-pack .component-wrapper, .yw-modal-configurableFlow .yw-wizard-navigation .yw-right-pack .yw-component-wrapper, .yw-modal-configurableFlow .yw-wizard-navigation .yw-right-pack .component-wrapper {
      display: inline-block; }
      .yw-modal-configurableFlow .yw-wizard-navigation .yw-left-pack .yw-component-wrapper .z-button, .yw-modal-configurableFlow .yw-wizard-navigation .yw-left-pack .component-wrapper .z-button, .yw-modal-configurableFlow .yw-wizard-navigation .yw-right-pack .yw-component-wrapper .z-button, .yw-modal-configurableFlow .yw-wizard-navigation .yw-right-pack .component-wrapper .z-button {
        margin: 16px; }
    .yw-modal-configurableFlow .yw-wizard-navigation .yw-right-pack {
      position: absolute;
      right: 0;
      top: 0; }
      .yw-modal-configurableFlow .yw-wizard-navigation .yw-right-pack .yw-component-wrapper + .yw-component-wrapper .z-button,
      .yw-modal-configurableFlow .yw-wizard-navigation .yw-right-pack .component-wrapper + .component-wrapper .z-button {
        margin-left: 0; }
    .yw-modal-configurableFlow .yw-wizard-navigation .yw-left-pack .yw-component-wrapper + .yw-component-wrapper,
    .yw-modal-configurableFlow .yw-wizard-navigation .yw-left-pack .component-wrapper + .component-wrapper {
      padding-right: 0; }
  .yw-modal-configurableFlow .ye-com_hybris_cockpitng_editor_defaultboolean.z-radiogroup {
    clear: both;
    display: block; }
