@import "../support/_compare-variables.scss";

.yw-compareview-header-title {
    font-size: $_compareview__header-title--font-size;
    // padding-left: $_compareview__header-title--padding-left;
}

// .yw-compareview-header {
//     display: inline;
// }

.yw-compareview-leftslot-widget {
    display: inline-block;
    .yw-navigationhistory {
        padding-left: 16px;
    }
}

// .yw-compareview-toolbarcontainer {
//     padding-right: 0px;
//     padding-left: 0px;
// }

.yw-compareview-rightslot {
    padding-right: $_compareview__toolbar-rightslot-padding-right;
}
