/*================================
    Explorer Tree Mold - Dark (default)
================================*/
@import "../support/_explorerTree-mixins.scss";

.yw-explorerTree {
  &-widget {
    &,
    .cng-adminmode {
        background: $explorertree__default--bg-color;
    }
  }

  @include _rowStateColor("z-treerow", $explorertree__row--color);
  @include _rowStateColor("z-treerow:hover", $explorertree__row-hover--color, $explorertree__row-hover--bg-color);
  @include _rowStateColor("z-treerow.yw-highlighted", $explorertree__row-highlighted--color, $explorertree__row-highlighted--bg-color);
  @include _rowStateColor("z-treerow.yw-selected", $explorertree__row-selected--color, $explorertree__row-selected--bg-color);
  @include _rowStateColor("z-treerow.yw-selected:hover", $explorertree__row-selected--color, $explorertree__row-selected-hover--bg-color);
  @include _rowStateColor("z-treerow.z-treerow-focus", $explorertree__row-focus--color, $explorertree__row-focus--bg-color);
  @include _rowStateColor("z-treerow.z-treerow-focus:hover", $explorertree__row-focus--color, $explorertree__row-focus--bg-color);

  .yw-caption-label {
    color: $explorertree__default-label--color;
  }

  .z-treerow {
    @if $explorertree__row--bg-color {
      background-color: $explorertree__row--bg-color;
    }

    &.yw-selected > .z-treecell {
        box-shadow: none;
        // border-bottom: $explorertree__row-selected--border-bottom;
    }
    &.yw-navigationNode {
      &-level1 {
        @if $explorertree__row-l1--bg-color {
          background-color: $explorertree__row-l1--bg-color;
        }
      }
      &-level2 {
        @if $explorertree__row-l2--bg-color {
          background: $explorertree__row-l2--bg-color;
        }
      }
      &-level3 {
        @if $explorertree__row-l3--bg-color {
          background: $explorertree__row-l3--bg-color;
        }
      }
    }
    &.yw-navigationnode {
      &-first,
      &-last + .z-treerow {
          border-color: $explorertree__row-depth-delimiter--border-color;
      }
    }
  }

  &-filterDiv {
    .z-bandbox {
      &-input {
        @include _filter-textbox-colors ($explorertree__filter-input--color,
          $explorertree__filter-input--border-color,
          $explorertree__filter-input--bg-color,
          $explorertree__filter-input-focus--color,
          $explorertree__filter-input-focus--border-color,
          $explorertree__filter-input-focus--bg-color);
        @include _placeholder-text-color ( $explorertree__filter-input-placeholder--color );
        // border: 1px solid $explorertree__filter-input--border-color;
        // border-radius: 4px;

        // &:hover {
        //   border-radius: 4px 0 0 4px !important;
        //   border-right-width: 0 !important;
        // }

        // &:focus {
        //   border-right-width: 1px;
        // }
      }

//       &-button {
//         background-color: $explorertree__filter-input--bg-color;
//         border-color: $explorertree__filter-input--border-color;
//       }
    }

  }
}

@import "_explorertree__extendsplitlayout.scss";
@import '_explorertree-sidenavigation.scss';
