@import "_theme-adjust";

/**
 * Leverage explorerTree to display as sideNavigation, you should add "yw-explorerTree-sideNavigation" for field
 * "widgetStyleClass" in your explorerTree widget settings.
 */
 .yw-explorerTree-sideNavigation {
  padding: $_container-spacing-default__core 0;
  //arrow align right
  .z-vfiletree-icon {
    position: absolute;
    right: 8px;
  }
  .yw-explorerTree-filterDiv {
    padding-top: 12px;
  }

  .z-treerow > .z-treecell {
    border: none;
    .z-treecell-content {
      height: $sideNavigation__treecell_content--height;
      border-radius: $sideNavigation__treecell_content--border-radius;
      margin: 0 $_container-spacing-default__core;
      position: relative;
      display: flex;
      align-items: center;
      overflow: hidden;
      width: auto;

      .z-vfiletree-icon + .yw-treeCellInner.z-div{
        margin-right: $explorertree__item-arrow-icon--margin-right;
      }

      &:before {
        left: 0;
        top: 0;
        content: "";
        height: 100%;
        width: 0.25rem;
        position: absolute;
        background: none;
      }
    }
  }

  @include _rowAndCellStateColor(
    "z-treerow:hover",
    $sideNavigation__treerow_hover--bg-color,
    $sideNavigation__treecell_content_hover--bg-color,
    $sideNavigation__treecell_content_side_hover--bg-color
  );
  @include _rowAndCellStateColor(
    "z-treerow.yw-selected",
    $sideNavigation__treerow_selected--bg-color,
    $sideNavigation__treecell_content_selected--bg-color,
    $sideNavigation__treecell_content_side_selected_hover--bg-color
  );
  @include _rowAndCellStateColor(
    "z-treerow.yw-selected:hover",
    $sideNavigation__treerow_selected_hover--bg-color,
    $sideNavigation__treecell_content_selected_hover--bg-color,
    $sideNavigation__treecell_content_side_selected_hover--bg-color
  );

  .yw-explorerTree .yw-treeCellInner {

    .y-tree-icon {
        position: relative;
        margin-right: 10px;
        left: 0;
        font-size: 20px;
    }

    .z-label {
      margin-right: 16px; // give space for up/down arrow
    }
  }

  //only show icon for 1th level node
  .z-treerow:not(.yw-navigationNode-level1) {

    .y-tree-icon {
      display:none;
    }

    .z-vfiletree-icon+.yw-treeCellInner {

        .z-label {
          padding-left: 12px !important;
        }
    }

  }

  .z-vfiletree-spacer+.z-vfiletree-icon+.yw-treeCellInner {
    padding-left:10px;
  }

  .z-treerow.yw-navigationNode-level1 {

      .z-vfiletree-spacer {
          width: 0;
            min-width: 0;
        }

        .yw-treeCellInner {

          .z-label {
            margin-left: 6px;
          }
        }
  }

  .z-vfiletree .yw-treeCellInner {
    margin-left: 14px !important;
  }

  .yw-explorerTree.z-vfiletree .z-treecell {
    padding: 0; 
  }
}
