/*================================
    Default List
================================*/
// Defined Variables for Default List
@import "cockpitng-globals.scss";

$list-editor__listbox--border-color: $form-defaults__box--border-color;
$list-editor__listbox--border-radius: $editor-defaults__input-box--border-radius;
$list-editor__listbox--border-top-color: $_navigation__tabs--border-color;
$_list-editor__list-item--height: $editor-defaults__inline-box--height - 2 * $editor-defaults__input-field--border-width;
$_list-editor__list-item--padding: $container-spacing-default__third $_container-spacing-default__small;
$_list-editor__list-item--line-height: $_list-editor__list-item--height - nth($_list-editor__list-item--padding, 1) * 2;
$_list-editor__list-item-inline-edit--padding: $_container-spacing-default__core 0;
$_list-editor__list-item-focused--box-shadow: var(--bo-content-shadow-small);

$_list-editor__listbox--border-width: $boxes--border__thin;
$_list-editor__toolbar--bg-color: $_button__action-tool--bg-color;

$list-editor__toolbar-button--size: $toolbar__button-default--size;

$_list-editor__toolbar-button--bg-color: $_button__action-tool--bg-color;
$_list-editor__toolbar-button--margin-right: $_container-spacing-default__tiny;
$_list-editor__toolbar-button--border: $boxes--border__thin solid $_button__action-tool--border-color;
$_list-editor__toolbar-button--color: $_button__action-tool--color;
$_list-editor__toolbar-button--box-shadow: false;
$list-editor__toolbar-button-hover--bg-color: $_button__action-tool-hover-active-focus--bg-color;
$_list-editor__toolbar-button-hover--border-color: $_button__action-tool-hover-active-focus--border-color;
$_list-editor__toolbar-button-hover--color: $_button__action-tool-hover-active-focus--color;
$_list-editor__toolbar-button-disabled--opacity: 0.4;

$_list-editor__toolbar--padding: $_container-spacing-default__tiny $_container-spacing-default__small;
//(floor(($editor-defaults__inline-box--height - $list-editor__toolbar-button--size) / 2) - $_list-editor__listbox--border-width) $_container-spacing-default__small (floor(($editor-defaults__inline-box--height - $list-editor__toolbar-button--size) / 2));

$_list-editor__toolbar-button-icon--font-size: $font-size__base;
$_list-editor__toolbar-button-icon--font-family: $font-family__icon;
$list-editor__toolbar-add-button--bg-image: url("icons/icon_func_add_default.png");
$list-editor__toolbar-add-button-hover--bg-image: url("icons/icon_func_add_hover.png");
$list-editor__toolbar-add-button-disabled--bg-image: url("icons/icon_func_add_disabled.png");
$_list-editor__toolbar-add-button--content: _getIconGlyphContentValue('add');
$list-editor__toolbar-edit-button--bg-image: url("icons/icon_func_edit_default.png");
$list-editor__toolbar-edit-button-hover--bg-image: url("icons/icon_func_edit_hover.png");
$list-editor__toolbar-edit-button-disabled--bg-image: url("icons/icon_func_edit_disabled.png");
$_list-editor__toolbar-edit-button--content: _getIconGlyphContentValue('edit');
$list-editor__toolbar-delete-button--bg-image: url("icons/icon_func_delete_default.png");
$list-editor__toolbar-delete-button-hover--bg-image: url("icons/icon_func_delete_hover.png");
$list-editor__toolbar-delete-button-disabled--bg-image: url("icons/icon_func_delete_disabled.png");
$_list-editor__toolbar-delete-button--content: _getIconGlyphContentValue('delete');

$list-editor__paging--line-height: $toolbar__vertical-centering-base--height;
$_list-editor__paging--padding: $_container-spacing-default__core $_container-spacing-default__small;
$_list-editor__paging--border-color: $_default-list__item--border-color;

$list-editor__cell--bg: $form-defaults__box--bg-color;
$list-editor__button--margin-top: $_container-spacing-default__tiny;
$list-editor__button--margin-left: $_container-spacing-default__tiny;

$list-editor__toolbar-popup-content--padding: $container-spacing-default__half;
// $list-editor__toolbar-popup-cl--bg: $container-spacing-default__third;
$list-editor__toolbar-popup-cancel-primary-button--margin: 0 0 0 $_container-spacing-default__tiny;
$list-editor__toolbar-popup-cancel-primary-button--padding: 0 $container-spacing-default__half;
$list-editor__toolbar-popup-checkbox--margin-top: $_container-spacing-default__core;
$_list-editor__toolbar-popup-container--padding-top: $_container-spacing-default__tiny;
$_list-editor__toolbar-popup--border-width: $boxes--border__thin;

$list-editor__list--line-height: 18px;
$_list-editor__list-item--padding-x: $_container-spacing-default__tiny;
$list-editor__list-paging-button--bg-image: none;

$list-editor__add-inline-editor--border: solid 1px $list-editor__listbox--border-color;
$list-editor__add-inline-editor--border-top: none;
$_list-editor__list-paging-button--font-weight: $font-weight-normal;
$_list-editor__list-paging-button--color: $_container__action--color;
$_list-editor__list-paging-button-hover--bg-color: transparent;
$_list-editor__list-paging-button-selected--font-weight: $font-weight-bold;
$_list-editor__list-paging-button-selected--color: $_navigation__menu-item-selected--color;
$_list-editor__list-paging-button-selected--bg-color: transparent;
$_list-editor__list-paging-item--margin-right: $_container-spacing-default__tiny;
$_list-editor__list-empty-item--min-height: $form-defaults__input-icon--size;
