@import "support/_flexiblelayout-variables.scss";

.yw-flexlayout-trigger {
    background: $flexlayout__trigger-summary--bg-color;

    &:after {
        font-family: $flexlayout__icon--font-family;
        //content: $flexlayout__trigger--content;
        font-size: $flexlayout__trigger--font-size;
        position: relative;
    }

    & {
        @include _add-button-styles();
    }

    &, 
    &-summary {
        width: $flexlayout__trigger--button-size;
        height: $flexlayout__trigger--button-size;
        border-radius: $flexlayout__trigger--border-radius;
        background-repeat: no-repeat;
        background-position: center center;
        display: inline-block;
        cursor: pointer;
        vertical-align: top;

        .ya-toggle-active &,
        &:hover {
            background-color: $flexlayout__trigger-hover--bg-color;
        }
    }

    &-summary {
        font-family: $flexlayout__icon--font-family;
        font-size: $flexlayout__trigger--font-size;
        background: $flexlayout__trigger-summary--bg-color;
        color: $flexlayout__trigger-summary--color;
        text-align: center;

        &:after {
            content: $flexlayout__trigger-summary--content;
            line-height: $flexlayout__trigger-summary--icon--line-height;
        }

        &:hover {
            color: $flexlayout__trigger-summary--hover-color;
        }
    }
}

.yw-pcmbackoffice-collection-toolbar {
    .yw-toolbar {
        &-content {
           .yw-toolbar-actions {
                .ya-toggle .yw-flexlayout-trigger {
                    &:after {
                        content: $flexlayout__trigger-left--content;
                    }
                } 
            }
        }
    }
}

.yw-listview-actioncontainer {
    .y-toolbar {
        &-leftslot .cng-action-group {
            .ya-toggle .yw-flexlayout-trigger {
                &:after {
                    content: $flexlayout__trigger-right--content;
                }
            }
        }
    }
}
