@import "scss/support/_networkchart-variables.scss";

@mixin _network-chart-toolbar-icon ($icon-name) {
  content: _getIconGlyphContentValue($icon-name);
  font-size: $font-size__large;
  font-family: $font-family__icon;
}

@mixin _add_transparent_button_style() {
  &:hover {
    opacity: 1;
    color: $networkchart__toolbar-button-hover--color;
    background-color: $networkchart__toolbar-button-hover--background-color;
    border-color: $networkchart__toolbar-button-hover--border-color;
    box-shadow: $networkchart__toolbar-button-hover--box-shadow;
  }

  &:focus {
    outline: var(--bo-content-focus-outline-width) var(--bo-content-focus-outline-style) var(--bo-content-focus-outline-color);
    outline-offset: $content-focus-outline-offset;
  }

  &:active {
    color: $networkchart__toolbar-button-active--color;
    background-color: $networkchart__toolbar-button-active--background-color;
    border-color: $networkchart__toolbar-button-active--border-color;
    box-shadow: none;
  }
}

.yw-com_hybris_cockpitng_visjs_networkchart
{
  height: 100%;
}

.yw-visjs-chart-container
{
  width : 100%;
  background: $white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: $networkchart__chart-container--height;
  height: 100%;

  .z-networkchart{
    width : 100%;
    height: auto;
    overflow: hidden;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;

    .vis-network {
      .vis-manipulation {
        border-top: $networkchart__toolbar--border-top;
        border-bottom: $networkchart__toolbar--border-bottom;
        height: auto;
        background: $networkchart__toolbar--bg-color;
        box-sizing: border-box;

        .vis-none {
          display: inline-block;
          font-size: $networkchart__toolbar-button-label--font-size;
          line-height: $networkchart__toolbar-button-label--line-height;
          color: $networkchart__toolbar-button--color;
          margin: $networkchart__toolbar-button--padding;
          float: none;
          height: $networkchart__toolbar-button-icon--size;
          cursor: pointer;
        }

        .vis-button {
          margin: $networkchart__toolbar-button--padding;
          float: none;
          height: $networkchart__toolbar-button-icon--size;
          line-height: $networkchart__toolbar-button-icon--size;
          color: $networkchart__toolbar-button--color;
          position: relative;
          background-color: $networkchart__toolbar-button--background-color;
          border-radius: $networkchart__toolbar-button--border-radius;
          border: var(--bo-button-border-width) solid $networkchart__toolbar-button--border-color;
          background-image: none !important; //Remove button image

          &:not(.vis-none) {
            @include _add_transparent_button_style();
            &:before {
              content: '';
              background-position: 50%;
              background-repeat: no-repeat;
              min-width: $networkchart__toolbar-button-icon--size;
              height: $networkchart__toolbar-button-icon--size;
              position: absolute;
              top: $networkchart__toolbar-button-icon--top;
              left: $networkchart__toolbar-button-icon--left;
              transform: translateY(-50%) translateX(-50%);
              margin-left: $networkchart__toolbar-button-icon--margin-left;
            }
          }
          &.vis-none {
            .vis-label {
              margin: 0;
            }
          }

          &.vis-connect {
            &:before {
              @include _network-chart-toolbar-icon("chain-link");
            }
          }
          &.vis-add {
            float: left;
            &:before {
              @include _network-chart-toolbar-icon("add");
            }
          }
          &.vis-edit {
            &:before {
              @include _network-chart-toolbar-icon("edit");
            }
          }
          &.vis-delete {
            &:before {
              @include _network-chart-toolbar-icon("delete");
            }
          }
          &.vis-back {
            &:before {
              @include _network-chart-toolbar-icon("nav-back");
            }
          }
          .vis-label {
            font-size: $networkchart__toolbar-button-label--font-size;
            line-height: $networkchart__toolbar-button-label--line-height;
          }
        }
        .vis-separator-line {
          float: none;
          height: $networkchart__toolbar-separator--height;
          margin: $networkchart__toolbar-separator--margin;
          vertical-align: middle;
          background: $networkchart__toolbar-separator--bg-color;
        }
      }

      .vis-close {
        background-color: $networkchart__toolbar-button--background-color;
        color: $networkchart__toolbar-button--color;
        width: $networkchart__toolbar-button-icon--size;
        height: $networkchart__toolbar-button-icon--size;
        line-height: $networkchart__toolbar-button-icon--size;
        border-radius: $networkchart__toolbar-button--border-radius;
        border: var(--bo-button-border-width) solid $networkchart__toolbar-button--border-color;
        right: $networkchart__toolbar-button-icon-close-right;
        top: $networkchart__toolbar-button-icon-close-top;
        background-image: none; //Remove close image
        @include _add_transparent_button_style();

        // replace close image into close button
        &:before {
          font-family: $networkchart__toolbar-button-icon-close-font-family;
          font-size: var(--bo-font-size-large);
          content: $networkchart__toolbar-button-icon-close-content;  // inspect-down button
        }
      }

      .vis-edit-mode {
        right: $networkchart__toolbar-button--right;
        left: unset;
        .vis-button.vis-edit.vis-edit-mode {
          color: $networkchart__toolbar-button--color;
          background: var(--bo-button-transparent-background);
          border-color: $networkchart__toolbar-button--border-color;
          font-size: $font-size__base;
          font-family: $font-family__text;
          border-radius: $networkchart__toolbar-button--border-radius;
          height: $networkchart__toolbar-button-icon--size;
          line-height: $networkchart__toolbar-button-label--line-height;
          @include _add_transparent_button_style();
          .vis-label {
            margin: 0;
            line-height: $networkchart__toolbar-button-icon--size;
            white-space: nowrap;
          }
        }
      }
    }
  }
  .yw-button-container.z-div{
    padding: $networkchart__toolbar-buttons-container--padding;
  }
  .save-button{
    float: right;
    margin-left: $networkchart__toolbar-button-save--margin-left;
  }
  .refresh-button{
    border-color: transparent;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 500;
    white-space: nowrap;
    line-height: 1.33;
    box-shadow: none;
	  float: right;
  }

  .cancel-button {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 500;
    white-space: nowrap;
    line-height: 1.33;
  }

  .action-slot{
    margin-left: auto;
    margin-right: 15%;
    display: table;
  }
}
