/* Status */
/* Button Color Scheme */
[data-base-theme^="sap_fiori_3"] .yw-borderlayout-opaque .opaquetrue .z-west {
  box-shadow: var(--bo-content-shadow-small);
  border-radius: 0; }

[data-base-theme^="sap_horizon"] .yw-borderlayout-opaque.yw-borderlayout > .z-borderlayout > div > .z-west-splitter {
  background: transparent; }

.yw-borderlayout .opaquetrue .yw-layoutregion {
  background: var(--bo-container-background); }
.yw-borderlayout > .z-borderlayout > div > .z-south-splitter > span,
.yw-borderlayout > .z-borderlayout > div > .z-north-splitter > span,
.yw-borderlayout > .z-borderlayout > div > .z-west-splitter > span,
.yw-borderlayout > .z-borderlayout > div > .z-east-splitter > span {
  color: var(--bo-button-icon-color);
  background-color: var(--bo-button-background); }
  .yw-borderlayout > .z-borderlayout > div > .z-south-splitter > span:hover,
  .yw-borderlayout > .z-borderlayout > div > .z-north-splitter > span:hover,
  .yw-borderlayout > .z-borderlayout > div > .z-west-splitter > span:hover,
  .yw-borderlayout > .z-borderlayout > div > .z-east-splitter > span:hover {
    background-color: var(--bo-button-hover-background);
    color: var(--bo-button-hover-text-color);
    border-color: var(--bo-button-hover-border-color);
    box-shadow: var(--bo-button-hover-shadow); }
  .yw-borderlayout > .z-borderlayout > div > .z-south-splitter > span:active,
  .yw-borderlayout > .z-borderlayout > div > .z-north-splitter > span:active,
  .yw-borderlayout > .z-borderlayout > div > .z-west-splitter > span:active,
  .yw-borderlayout > .z-borderlayout > div > .z-east-splitter > span:active {
    color: var(--bo-button-active-text-color);
    background-color: var(--bo-button-active-background);
    border-color: var(--bo-button-active-border-color); }
.yw-borderlayout > .z-borderlayout > div > .z-south-collapsed,
.yw-borderlayout > .z-borderlayout > div > .z-north-collapsed,
.yw-borderlayout > .z-borderlayout > div > .z-west-collapsed,
.yw-borderlayout > .z-borderlayout > div > .z-east-collapsed {
  background-color: var(--bo-container-background); }
.yw-borderlayout > .z-borderlayout > div > .z-south-collapsed {
  border-top-width: 2px; }
.yw-borderlayout > .z-borderlayout > div > .z-north-collapsed {
  border-bottom-width: 2px; }
.yw-borderlayout > .z-borderlayout > div > .z-west-collapsed {
  border-right-width: 2px; }
.yw-borderlayout > .z-borderlayout > div > .z-east-collapsed {
  border-left-width: 2px; }

.yw-borderlayout-opaque .opaquetrue .z-west {
  box-shadow: var(--bo-content-interaction-shadow);
  border-top-right-radius: var(--bo-popover-border-radius); }
