@import "cockpitng-globals.scss";
@import "./scss/support/_theme-adjust.scss";

$border-layout__region--bg-color: var(--bo-container-background);
$border-layout__region--box-shadow: false;

$border-layout__mold-splitter--bg-color: var(--bo-button-background);
$border-layout__mold-splitter--border-color: var(--bo-button-border-color);
$border-layout__mold-splitter-color: var(--bo-button-icon-color);
$border-layout__mold-splitter-hover-color: var(--bo-button-hover-text-color);
$border-layout__mold-splitter-button-hover--bg-color: var(--bo-button-hover-background);
$border-layout__mold-splitter-button-hover--border-color: var(--bo-button-hover-border-color);
$border-layout__mold-splitter-button-hover--box-shadow: var(--bo-button-hover-shadow);
$border-layout__mold-collapsed--bg-color: var(--bo-container-background);
$border-layout__z-west_splitter-box-shadow: var(--bo-content-interaction-shadow);
$border-layout__z-west_splitter-border-top-right-radius: var(--bo-popover-border-radius);

@mixin _collapsedBorders($border-width: false) {
    @if $border-width and $border-width > 0 {
        > .z-south-collapsed {
            border-top-width: $border-width;
        }
        > .z-north-collapsed {
            border-bottom-width: $border-width;
        }
        > .z-west-collapsed {
            border-right-width: $border-width;
        }
        > .z-east-collapsed {
            border-left-width: $border-width;
        }
    }
}

$border-layout__mold-dark-splitter-button-hover--color: $white;
$border-layout__splitter-collapsed--size: 40px;

.yw-borderlayout {
    .opaquetrue .yw-layoutregion {
        @if $border-layout__region--bg-color {
            background: $border-layout__region--bg-color;
        }
        @if $border-layout__region--box-shadow {
            box-shadow: $border-layout__region--box-shadow;
        }
    }

    > .z-borderlayout > div {
        > .z-south,
        > .z-north,
        > .z-west,
        > .z-east {
            &-splitter {
                > span {
                    color: $border-layout__mold-splitter-color;
                    background-color: $border-layout__mold-splitter--bg-color;
                    &:hover {
                        background-color: $border-layout__mold-splitter-button-hover--bg-color;
                        color: $border-layout__mold-splitter-hover-color;
                        border-color: $border-layout__mold-splitter-button-hover--border-color;
                        box-shadow: $border-layout__mold-splitter-button-hover--box-shadow;
                    }
                    &:active {
                        color: var(--bo-button-active-text-color);
                        background-color: var(--bo-button-active-background);
                        border-color: var(--bo-button-active-border-color);
                    }
                }
            }
            &-collapsed {
                background-color: $border-layout__mold-collapsed--bg-color;
            }
        }
        @include _collapsedBorders($_layout--splitter-default--size);
    }
}

.yw-borderlayout-opaque .opaquetrue .z-west {
    box-shadow: $border-layout__z-west_splitter-box-shadow;
    border-top-right-radius: $border-layout__z-west_splitter-border-top-right-radius;
}
