@charset "UTF-8";
/*================================
    Advanced Search - Defaults
================================*/
// Styling of defaults on the advanced-search component.

@import "../support/_advancedsearch-variables.scss";

/* general */
/*
.z-combobox-popup.yw-advancedsearch-operator .z-comboitem-text,
.yw-advancedsearch-line .yw-advancedsearch-operator input,
.yw-global-operator-selector input,
.yw-global-operator-selector {
    text-transform: lowercase;
}
*/

// .yw-collapsibleContainer-caption > .z-center-header,
// .yw-active-attributes-grid-container {
//     background-color: $grey__light--500;
// }

.yw-advancedsearch {
    padding: 0;

    .yw-active-attributes-grid {
        & > td, 
        & > td.z-cell {
            border-bottom: $advancedsearch__attributes-grid-row--border;
            line-height: $advancedsearch__attributes-grid-row--line-height;
            vertical-align: top;
            color: $advancedsearch-header__search-query-label--color;
        }

        &:last-child > td.z-cell {
            border-bottom: none;
        }

        &:first-child.yw-add-field-row > td.z-cell {
            border-bottom: none;
        }

        .yw-active-attributes-grid span.z-label {
            max-width: 100%;
            word-break: break-word;
            vertical-align: middle;
        }
    }

    .yw-add-field-row + .yw-active-attributes-grid > td.z-cell {
        border-top: $advancedsearch__attributes-grid-row--border;
    }

    &.yw-com_hybris_cockpitng_advancedsearch {
        height: 100%;

        @if $advancedsearch-body__header--border-top {
            &.widget_body.z-div {
                border-top: $advancedsearch-body__header--border-top;
            }
        }
        div.yw-active-attributes-grid {
            @if $advancedsearch__attributes-grid--border-bottom {
                border-bottom: $advancedsearch__attributes-grid--border-bottom;
            }
            background: $advancedsearch__attributes-grid--bg-color;
            padding: $advancedsearch__attributes-container-inner--space-y 0 0;
            overflow: auto;

            .z-grid-header {
                background-color: transparent;
                width: 100% !important;
            }
        }
        .yw-topcontainer-open .yw-active-attributes-grid-container {
            padding: $advancedsearch__attributes-container-outer--space-y 0 0;

        }

        .yw-topcontainer-open ~ .yw-nested-widget .yw-coll-browser {
            padding-bottom: $advancedsearch-nested-widget-collection-browser--padding-bottom;
        }
    }
    .z-groupbox-content {
        padding: 0;
    }
    .z-grid {
        .z-row {
            .z-row-inner {
                vertical-align: top;
            }
            .yw-remove-container {
                text-align: right;
            }
            .yw-remove-container-scroll-bar {
                margin-right: $advancedsearch__attributes-grid-row--line-scroll-bar--margin-right;
            }

            .z-cell {
                border-bottom: none;
            }
        }
        .yw-active-attributes-grid .z-cell {
            padding: $advancedsearch__attributes-grid-item--padding;
        }
        .yw-active-attributes-grid .z-cell,
        .yw-add-field-row > .z-row-inner {
            &:last-child {
                overflow: visible;
                padding-right: 0;
            }
            @if $advancedsearch__attributes-grid-inner--space-x {
                &:not(.yw-advancedsearch-line):first-child {
                    padding-left: $advancedsearch__attributes-grid-inner--space-x + _paddingLeft($advancedsearch__attributes-grid-last-row-item--padding);
                }
                &:last-child {
                    padding-right: $advancedsearch__attributes-grid-inner--space-x;
                }
            }
        }
        .yw-add-field-row {
            // @if $_advancedsearch__attributes-grid-add-row--bg-color {
            //     background-color: $_advancedsearch__attributes-grid-add-row--bg-color;
            // }
            .z-row-inner, 
            .z-cell {
                padding: $advancedsearch__attributes-grid-last-row-item--padding;
                vertical-align: top;

                @if $advancedsearch__attributes-grid-add-row--no-border-bottom {
                    border-bottom: 0;
                } @else {
                    border-bottom: $advancedsearch__attributes-grid-row--border;
                }

                &:last-child {
                    position: relative;
                }
                @if $advancedsearch__attributes-grid-inner--space-x {
                    &:first-child {
                        padding-left: $advancedsearch__attributes-grid-inner--space-x + _paddingLeft($advancedsearch__attributes-grid-last-row-item--padding);
                    }
                    &:last-child {
                        padding-right: $advancedsearch__attributes-grid-inner--space-x + _paddingRight($advancedsearch__attributes-grid-last-row-item--padding);
                        .yw-advancedsearch-add-btn.z-button {
                            @if $_advancedsearch__action-btn-add--position == absolute {
                                right: $advancedsearch__attributes-grid-inner--space-x + $_advancedsearch__action-btn-add--right;
                            }
                        }
                        .yw-advancedsearch-add-btn-scroll-bar.z-button {
                            margin-right: $advancedsearch__attributes-grid-row--line-scroll-bar--margin-right;
                        }
                    }
                }
            }

            .z-row-content {
                padding: $boxes--border__thin;
                margin: -$boxes--border__thin;
                line-height: inherit;
            }
        }
        .yw-advancedsearch-editor {
            > table:only-child,
            >.z-hbox td:only-child table:only-child {
                table-layout: fixed;
                width: 100%;
            }
        }

        .z-row .yw-advanced-search-rowspan,
        .yw-advancedsearch-last-row-for-condition .z-cell {
            border-bottom: $advancedsearch__attributes-grid-row--border;
            padding: $advancedsearch__attributes-grid-last-row-item--padding;
            
            > .z-label {
                line-height: $advancedsearch__attributes-grid-row-label--line-height;
                margin-top: $advancedsearch__attributes-grid-row-label--margin-top;
                display: inline-block;
            }
        }

        &-body {
            width: 100% !important;
            padding: 0;

            display: inline-table;
            @if $advancedsearch__attributes-container-inner--space-x {
                > table {
                    border-right: $advancedsearch__attributes-container-inner--space-x solid transparent;
                    border-left: $advancedsearch__attributes-container-inner--space-x solid transparent;
                }
            }
            // @if $advancedsearch__attributes-grid-inner--space-x {
            //     .z-row > td:first-child {
            //         padding-left: $advancedsearch__attributes-grid-inner--space-x;
            //     }
            //     .z-row > td:last-child {
            //         padding-right: $advancedsearch__attributes-grid-inner--space-x;
            //     }
            // }
        }
        &-header {
            display: inline-table;
            overflow: visible;
            @if $advancedsearch__attributes-container-inner--space-x {
                > table {
                    border-right: $advancedsearch__attributes-container-inner--space-x solid transparent;
                    border-left: $advancedsearch__attributes-container-inner--space-x solid transparent;
                }
            }
            &-border {
                display: none;
            }
            th.z-columns-bar {
                border-left-width: 0;
                border-bottom-width: 0;
            }
            @if $advancedsearch__attributes-grid-inner--space-x {
                .z-column:first-child {
                    padding-left: $advancedsearch__attributes-grid-inner--space-x;
                }
                .z-column:last-child {
                    padding-right: $advancedsearch__attributes-grid-inner--space-x;
                }
            }
        }
    }

    .yw-active-header {
        .z-column-content {
            // padding: $advancedsearch__attributes-grid-header-item--padding;
            padding-bottom: 0;
            font-family: $font-family__text;
            font-size: $font-size__base;
            font-weight: bold;
            color: $advancedsearch__attributes-grid-header-color;
        }
    }
    .yw-caption-container.yw-noncollapsible-caption {
        padding: $advancedsearch-ref-editor__header-caption--padding;
        display: inline-block;
    }

    .yw-topcontainer-open {
          ~  .yw-nested-widget,
          ~  .yw-nested-widget .yw-coll-browser,
          ~  .yw-nested-widget .yw-coll-browser-container,
          ~  .yw-nested-widget div.z-listbox-body,
          ~  .yw-nested-widget .yw-coll-browser-tree-view-table,
          ~  .yw-nested-widget div.z-tree-body,
          ~  .yw-nested-widget .yw-com_hybris_cockpitng_collectionBrowser .z-vlayout-inner {
             height: auto !important;
         }
    }

    &-line {
        > div {
            min-height: $advancedsearch-header__search-query-label--line-height;
            display: block;
            padding: $boxes--border__thin;
        }
        > .yw-advancedsearch-editor {
            min-height: auto;
        }
    }
}

/* Title / Label */

.yw-active-attributes-grid .yw-advanced-search-cnd-disabled.z-label,
.yw-active-attributes-grid .ye-editor-disabled.z-label {
    @if $advancedsearch__disabled-label--color {
        color: $advancedsearch__disabled-label--color;
    }
    @if $_advancedsearch__disabled-label--opacity {
        opacity: $_advancedsearch__disabled-label--opacity;
    }
}

.yw-type-label {
    float: left;
}

.yw-caption-container.yw-noncollapsible-caption {
    .yw-textsearch {
        .yw-buttons-container {
            display: inline-block;
            padding: 1px;
        }
    }
}

.yw-caption-container .yw-textsearch {

    .yw-textsearch-title.z-label {
        width: initial;
        position: absolute;
        right: $advancedsearch__textsearch-title--right;
    }

    span.z-label {
        display: inline-block;
        font-size: $advancedsearch-header__search-query-element--font-size;
        font-weight: normal;
        padding: $_advancedsearch-header__search-query-element--padding;
        line-height: $advancedsearch-header__search-query-element--line-height;
        float: none;
        vertical-align: top;
    }
    .yw-global-typeSelector-container span.z-label {
        display: none;
    }
    .yw-buttons-container {
        display: inline-block;
        float: right;
        margin-right: $advancedsearch__attributes-grid-save-search-action--margin-right;
    }
}

.yw-referencesearch-advancedsearch .yw-caption-container .yw-textsearch {
    .yw-buttons-container {
        float: initial;
    }

    .yw-advancedsearch-title-container {
        min-height: initial;
    }
}

.yw-advancedsearch-header-container {
    .yw-global-typeSelector-container span.yw-type-label.z-label {
        display: none;
        color: $advancedsearch-header__type-selector-label--color;
    }

    .w-global-operator-selector-container span.yw-operator-label.z-label {
        color: $advancedsearch-header__operator-selector-label--color;
    }

    span.z-label {
        margin-right: $advancedsearch-header__search-query-element--margin-right;
    }
}

/* Container */
/* global-typeSelector */
.yw-textsearch .yw-global-typeSelector.z-bandbox {
    display: flex;
    width: $advancedsearch__bandbox-typeSelector-popup--width;
    line-height: $advancedsearch-header__search-query-label--line-height;
    border-spacing: 0;
}

.yw-global-typeSelector-container,
.w-global-operator-selector-container {
    display: inline-block;
    margin: 0 $advancedsearch__box-space-to-follow-up-element--margin-right $advancedsearch-header__search-query-element--margin-bottom 0;
    vertical-align: top;
}

.yw-include-subtypes {
    display: inline-block;
    margin-right: $advancedsearch__box-space-to-follow-up-element--margin-right;
    line-height: $editor-defaults__inline-box--height;
    vertical-align: middle;
}

