@import "cockpitng-globals.scss";

$networkchart__toolbar-button-icon-close-font-family: var(--bo-content-icon-font-family);
$networkchart__toolbar-button-icon-close-top: 12px;
$networkchart__toolbar-button-icon-close-right: 16px;
$networkchart__chart-container--height: 680px;
$networkchart__toolbar--border-top: $boxes--border__thin solid var(--bo-list-border-color);
$networkchart__toolbar--border-bottom: $networkchart__toolbar--border-top;
$networkchart__toolbar--bg-color: var(--bo-list-background);
$networkchart__toolbar-button-label--font-size: $font-size__base;
$networkchart__toolbar-button-icon--size: $toolbar__button-default--size;
$networkchart__toolbar-button-label--line-height: $networkchart__toolbar-button-icon--size;
$networkchart__toolbar-button--color: var(--bo-button-transparent-text-color);
$networkchart__toolbar-button--padding: ($container-spacing-default__half / 2) $container-spacing-default__third;
$networkchart__toolbar-button--background-color: var(--bo-button-transparent-background);
$networkchart__toolbar-button--border-radius: var(--bo-button-border-radius);
$networkchart__toolbar-button--border-color: var(--bo-button-transparent-border-color);
$networkchart__toolbar-button--right: 8px;
$networkchart__toolbar-button-icon--top: 50%;
$networkchart__toolbar-button-icon--left: $container-spacing-default__third;
$networkchart__toolbar-button-icon--margin-left: $container-spacing-default__third;
$networkchart__toolbar-separator--height: 28px;
$networkchart__toolbar-separator--margin: 5px ($container-spacing-default__half / 2);
$networkchart__toolbar-separator--bg-color: var(--bo-list-border-color);
$networkchart__toolbar-button-icon-close-content: _getIconGlyphContentValue('inspect-down'); // "\e03e"
$networkchart__toolbar-button-hover--color: var(--bo-button-transparent-hover-text-color);
$networkchart__toolbar-button-hover--border-color: var(--bo-button-transparent-hover-border-color);
$networkchart__toolbar-button-hover--background-color: var(--bo-button-transparent-hover-background);
$networkchart__toolbar-button-hover--box-shadow: var(--bo-button-transparent-hover-shadow);
$networkchart__toolbar-button-active--color: var(--bo-button-transparent-active-text-color);
$networkchart__toolbar-button-active--border-color: var(--bo-button-transparent-active-border-color);
$networkchart__toolbar-button-active--background-color: var(--bo-button-transparent-active-background);
$networkchart__toolbar-buttons-container--padding: 10px;
$networkchart__toolbar-button-save--margin-left: 10px;