div.yw-explorerTree .y-tree-icon {
    @include setTreeIconGlyph("pcmbackoffice-bundle-view", "overview-chart");
}

div.yw-sideNavigation .yw-treeCellInner {
    @include setSideNavigationIconGlyph("pcmbackoffice-bundle-view", "overview-chart");
}

.yw-configurablebundle-backoffice-actions-toolbar {
    
    >.yw-toolbar-content {
        margin: 5px 0 0 8px;

        >.yw-toolbar-before {
            float: none !important;
            margin-left: 8px;
        }

        >.yw-toolbar-actions {
            float: left;
        }
    }

    .yw-pcmbackoffice-toolbar-summary {
        .yw-toolbar-actions-copylink {
            padding: 0 16px 0 0;
        }
    }
}
