@charset "UTF-8";
/*================================
    Advanced Search - Facet-Search
================================*/
// Styling of the faced-search (using solr).

@import "../support/_advancedsearch-variables.scss";

/* FacetData support */
.yw-textsearch {
    .yw-add-facet-wrapper {
        display: inline-block;
    }

    .yw-add-facet {
        padding: 0;
        width: $advancedsearch-facets__add-facet-button--size;
        height: $advancedsearch-facets__add-facet-button--size;
        line-height: $advancedsearch-facets__add-facet-button--size;
        margin-right: $_advancedsearch-facets__add-facet-button--margin-right;
        border-radius: $advancedsearch-facets__selected-facet--border-radius;

        &:after {
            content: $_advancedsearch-facets__add-facet-button-icon--content;
            font-family: $_advancedsearch-facets__add-facet-button-icon--font-family;
            font-size: $_advancedsearch-facets__add-facet-button-icon--font-size;
            display: inline;
        }

        &:before {
            display: block;
            bottom: -5px;
            z-index: 9999;
        }

        &-popup {
            position: absolute;
        }
    }
}

.yw-advancedsearch {
    .yw-facet-container {
        background-color: $advancedsearch-facets__container--bg-color;
        height: auto;
        width: 100%;
    }
    .yw-selected-facets,
    .yw-add-facet-container {
        float: none;
        display: inline-block;
    }
    .yw-selected-facets {
        width: auto;
        padding: $advancedsearch-facets__selected-facet-container--padding;
    }

    .yw-remove-facet-inline {
        cursor: pointer;
        float: right;
        margin-left: $advancedsearch-facets__selected-facet-remove-button--margin-left;
        color: $_advancedsearch-facets__selected-facet-remove-button--color;

        &:after {
            content: $_advancedsearch-facets__selected-facet-remove-button--content;
            font-family: $_advancedsearch-facets__selected-facet-remove-button--font-family;
            font-size: $advancedsearch-facets__selected-facet-remove-icon--font-size;
            display: inline;
            line-height: $_advancedsearch-facets__selected-facet--line-height;
        }
    }
    .yw-selected-facet-value-inline {
        display: inline-block;
        text-align: left;
        float: left;
        box-sizing: border-box;
        color: $advancedsearch-facets__selected-facet--color;
        background-color: $advancedsearch-facets__selected-facet--bg-color;
        height: $advancedsearch-facets__selected-facet--height;
        line-height: $_advancedsearch-facets__selected-facet--line-height;
        padding: $advancedsearch-facets__selected-facet--padding;
        margin-top: $_advancedsearch-facets__selected-facet--margin-top;
        border-radius: $advancedsearch-facets__selected-facet--border-radius;
        margin-right: $_advancedsearch-facets__selected-facet--margin-right;
        border: $boxes--border__thin solid $advancedsearch-facets__selected-facet--border-color;
        &:hover {
            background-color: $advancedsearch-facets__selected-facet-hover--bg-color;
            border-color: $dvancedsearch-facets__selected-facet-hover--border-color;
            box-shadow: var(--bo-content-shadow-small);
        }

        .z-label {
            font-size: $advancedsearch-facets__selected-facet-label--font-size;
        }
        
        &:last-child {
            margin-right: 0;
        }
    }

    .yw-add-facet,
    .yw-selected-facet {
        border-radius: $advancedsearch-facets__selected-facet--border-radius;
    }

}

.yw-add-facet-popup {
    box-shadow: $_advancedsearch-facets__popup--box-shadow;
    width: $advancedsearch-facets__popup--width;
    background-color: $advancedsearch-facets__popup--bg-color;
    margin-top: $advancedsearch-facets__popup--margin-top;
    overflow: visible;
    height: $advancedsearch-facets__popup--height;
    border: $advancedsearch-facets__popup--border-width solid $advancedsearch-facets__popup--border-color;

    .yw-type-container .z-label,
    .yw-value-container .z-label {
        color: $advancedsearch-facets__popup-apply-action-label--color;
        display: block;
        margin-bottom: $advancedsearch-facets__popup-apply-action-label--margin-bottom;
    }
    > .z-popup-content {
        position: static;
        bottom: 0;
        border-radius: inherit;
        display: block;
        max-height: 100%;
        height: auto;
        line-height: 0;

        &:before,
        &:after {
            -moz-border-bottom-colors: none;
            -moz-border-left-colors: none;
            -moz-border-right-colors: none;
            -moz-border-top-colors: none;
            border-image: none;
            border-style: solid;
            content: "";
            height: 0;
            width: 0;
            position: absolute;
        }
        &:before {
            border-color: transparent transparent $advancedsearch-facets__popup--bg-color;
            border-width: $advancedsearch-facets__popup-pointer-inner--border-width;
            right: $advancedsearch-facets__popup-pointer-inner--left;
            top: $advancedsearch-facets__popup-pointer-inner--top;
            z-index: 5;
        }
        &:after {
            border-color: transparent transparent $advancedsearch-facets__popup-pointer--border-color;
            border-width: $advancedsearch-facets__popup-pointer-outer--border-width;
            right: $advancedsearch-facets__popup-pointer-outer--left;
            top: $advancedsearch-facets__popup-pointer-outer--top;
        }

        &:empty {
            display: none;
        }
    }
    .z-window-header {
        background-color: $advancedsearch-facets__popup--bg-color;

        .z-window-icon {
            background-color: transparent;
        }
    }
    .yw-facet-main-container {
        padding: $advancedsearch-facets__popup-facets-main-container--padding;
        border-top: $advancedsearch-facets__popup-facets-main-container--border;
        border-bottom: $advancedsearch-facets__popup-facets-main-container--border;
    }
    .yw-value-container {
        padding-top: (nth($advancedsearch-facets__popup-facets-main-container--padding,1));

        .z-chosenbox {
            width: 100%;
            border-color: $advancedsearch-facets__selected-facet--border-color;
        }
    }
    .yw-apply-container {
        text-align: right;
        display: inline-block;
        padding: $advancedsearch-facets__popup-apply-container--padding;
        border-top: $_advancedsearch-facets__popup-apply-container--border-top;
        width: 100%;

        .z-label {
            color: $advancedsearch-facets__popup-apply-action-label--color;
            padding: $advancedsearch-facets__popup-apply-action-label--padding;
            display: inline-block;
            text-transform: uppercase;
            font-weight: 300;
            cursor: pointer;

            &:hover {
                color: $advancedsearch-facets__popup-apply-action-label-hover--color;
            }
            &.yw-cancel-label,
            &.yw-clear-label {
                cursor: pointer;
            }
        }
    }
    .z-popup-content {
        > .z-div {
            padding: $advancedsearch-facets__popup-container--padding;
            margin: 0;
            display: block;
            max-height: $advancedsearch-facets__popup--max-height;
            line-height: $_advancedsearch-facets__popup--line-height;
            width: 100%;
            overflow: auto;
            height: auto;

            &.yw-facet-selector-input-container {
                bottom: auto;
                top: 0;
                padding-top: 0;
                padding-bottom: 0;
            }
            &.yw-apply-container {
                padding: $advancedsearch-facets__popup-apply-container--padding;
                display: inline-block;
                top: auto;
                text-align: right;
                bottom: 0;
            }

            > .yw-facet-container:only-child {
                max-width: 100%;
                width: 100%;
                padding-right: 0;

                .yw-facet-value-container {
                    .z-checkbox,
                    .z-radio {
                        width: $advancedsearch-facets__popup-facets-items-container--width;
                        max-width: $advancedsearch-facets__popup-facet-item--max-width;
                        float: left;
                        padding-right: ceil($_advancedsearch-facets__popup-facets-items-container--padding-right/2);
                    }
                }
            }
        }
    }
    .yw-facet-selector-input {
        margin: $advancedsearch-facets__popup-search-input--margin;
        max-width: $advancedsearch-facets__popup-search-input--max-width;
        min-width: auto;
        width: 100%;
        position: relative;

        .z-bandbox-button.z-bandbox-disabled {
            border: none !important;
            position: absolute !important;
            background-color: transparent !important;
            top: $advancedsearch-facets__popup-search-bandbox-button--top;
            right: 0;
            height: $advancedsearch-facets__popup-search-bandbox-button--height;
            .z-bandbox-icon:before {
                font-family: $_advancedsearch-facets__popup-search-bandbox-button-icon--font-family;
                content: $_advancedsearch-facets__popup-search-bandbox-button-icon--content;
                line-height: $advancedsearch-facets__popup-search-bandbox-button--height;
                color: $_advancedsearch-facets__popup-search-bandbox-button-icon--color;
            }
        }
        .z-bandbox-input {
            &,
            &:hover,
            &:active {
                border-width: $advancedsearch-header__search-input-field--border-width;
                @if $_advancedsearch-facets__popup-search-bandbox-input--border-radius {
                    border-radius: $_advancedsearch-facets__popup-search-bandbox-input--border-radius;
                }
            }
            &:not([disabled]):focus {
                border-width: $advancedsearch-header__search-input-field-focus--border-width;
            }
        }
    }
    .yw-facet-container {
        margin: 0 0 $advancedsearch-facets__popup-facets-items-container--margin-bottom 0;
        padding-top: 0;
        padding-right: $_advancedsearch-facets__popup-facets-items-container--padding-right;
        position: relative;
        width: $advancedsearch-facets__popup-facets-items-container--width;
        max-width: $advancedsearch-facets__popup-facet-item--max-width;
        min-width: $advancedsearch-facets__popup-facet-item--min-width;
        float: none;
        display: inline-block;
        padding-bottom: $advancedsearch-facets__popup-facets-items-container--padding-bottom;

        .yw-facet-label {
            &-container {
                text-transform: capitalize;
                font-weight: 700;
                position: static;
                font-size: $advancedsearch-facets__popup-facet-item--font-size;
                margin-bottom: $advancedsearch-facets__popup-facet-item-lable-container--margin-bottom;
                margin-top: $advancedsearch-facets__popup-facet-item-lable-container--margin-top;
            }
            &-selected-count {
                margin-left: $advancedsearch-facets__popup-facet-item-lable-selected-count--margin-left;
                font-weight: 100;
            }
            &-more {
                position: absolute;
                bottom: 0;
                margin-left: 0;
                left: 0;
            }
        }

        .yw-facet-value-container {
            .z-checkbox,
            .z-radio {
                width: 100%;
                font-weight: 300;
                text-transform: capitalize;
                white-space: pre;
                text-overflow: ellipsis;
                overflow: hidden;
                display: table;
                max-width: $advancedsearch-facets__popup-facet-item--max-width;
                position: relative;
                margin-bottom: $advancedsearch-facets__popup-facet-item--margin-bottom;
            }
        }
        .z-checkbox,
        .z-radio {
            position: relative;
            display: inline-table;
            table-layout: fixed;
            line-height: $advancedsearch-facets__popup-facet-item--line-height;

            input {
                display: inline-block;
                position: relative;
                line-height: $advancedsearch-facets__popup-facet-item--line-height;
                width: auto;
                height: auto;
                vertical-align: middle;
                overflow: visible;

                &:first-child {
                    display: none;
                }
                ~ label {
                    padding-left: 0;
                }
            }
            label {
                text-align: left;
                float: none;
                width: 100%;
                max-width: $advancedsearch-facets__popup-facet-item--max-width;
                padding-right: $advancedsearch-facets__popup-facet-item-lable--padding-right;
                line-height: $advancedsearch-facets__popup-facet-item--line-height;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                display: inline-block;
                vertical-align: middle;
            }

            .note {
                font-size: $advancedsearch-facets__popup-facet-item-note--font-size;
                margin-top: $advancedsearch-facets__popup-facet-item-note--margin-top;
                color: $advancedsearch-facets__popup-facet-item-note--color;
            }
            &-mold {
                position: absolute;
                left: 0;
            }
        }
    }


    body.ie & {
        .yw-facet-container {
            .z-checkbox input:first-child,
            .z-radio input:first-child {
                position: absolute;
                padding-left: 0;
                margin-left: 0;
            }
        }
    }
    body > & {
        margin-left: $advancedsearch-facets__popup--margin-left;
        margin-top: 0;
    }

    .yw-show-more-facets {
        &-container {
            padding: $advancedsearch-facets__popup-more-facets-container--padding;
            text-align: $advancedsearch-facets__popup-more-facets-container--text-align;
            line-height: 1;
        }
        &-button {
            margin-right: $advancedsearch-facets__popup-more-facets-button--margin-right;
            line-height: $advancedsearch-facets__popup-more-facets-button--line-height;
            font-size: $advancedsearch-facets__popup-more-facets-button--font-size;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}
.yw-facet-select-popup-container {
    max-width: $advancedsearch-facets__popup-search-list-popup-container--max-width; //$advancedsearch-facets__popup-search-list-popup-list-box--border;
    max-height: $advancedsearch-facets__popup-search-list-popup-container--max-height;

    div.z-listcell-content {
        font-size: $advancedsearch-facets__popup-search-list-item--font-size;
        @if $advancedsearch-facets__popup-search-list-item--line-height {
            line-height: $advancedsearch-facets__popup-search-list-item--line-height;
        }
    }
    .yw-facet-list{
        width: auto;

        &.z-listbox {
            border: $advancedsearch-facets__popup-search-list-popup-list-box--border;
        }
    }
    .z-bandbox-popup > &.z-bandpopup {
        overflow: auto;
        padding: 0;
        line-height: 0;
        border: none;
        max-height: 100%;
        width: 100%;
        margin: 0;

        .yw-facet-list.z-listbox {
            width: auto !important;
            display: block;
            max-width: 100%;
        }
    }
}

.yw-bandpopup-autosuggestion {
    width: $advancedsearch__textsearch-box--width;

    .z-listbox {
        border: none;
        .z-listitem .z-listcell > .z-listcell-content {
            padding: $advancedsearch__textsearch-auto-suggestion--listcell--padding;
            height: $advancedsearch__bandbox-popup-content--height;
            line-height: $advancedsearch__bandbox-popup-content--height;
            text-align: left;
            vertical-align: middle;
            display: inline;
        }
    
        .z-listitem:last-child .z-listcell {
            border-bottom-width: 0;
        }
    }
}