@charset "UTF-8";
/*================================
    Advanced Search - Text-Search
================================*/
// Styling of the simpletext text-search

@import "../support/_advancedsearch-variables.scss";

.yw-textsearch {
    padding: $advancedsearch__textsearch--padding;
    width: 100%;

    &-toolbar {
        display: inline-flex;
        float: right;
        margin-right: 0px;
        margin-top: $advancedsearch__textsearch-toolbar--margin-top;
    }

    &-toolbar-with-lock-button {
        margin-right: $advancedsearch__textsearch-toolbar-with-lock-button--margin-right;
    }

    &-searchbox {
        width: $advancedsearch__textsearch-box--width;
        height: $advancedsearch__textsearch--height;
        line-height: $advancedsearch__textsearch--line-height;
        color: $advancedsearch__textsearch--color;
        margin-left: $advancedsearch__textsearch--margin-left;
        vertical-align: $advancedsearch__textsearch--vertical-align;
        box-sizing: border-box;
        display: inline-block;

        .z-bandbox {
            &-input {
                &,
                &:hover {
                    vertical-align: top;
                    // border-right-width: $advancedsearch-header__search-input-field--border-width;
                }
            }
            &-popup.z-bandbox-open {
                top: auto !important;
                left: auto !important;
            }

            &-button {
                // we want to hide default magnifier icon for simple search bandbox
                display: none !important;
            }

        }
    }
    .yw-search-mode-container .z-bandbox {
        &-icon {
            width: $advancedsearch__textsearch-bandbox-icon--width;
            line-height: $advancedsearch__textsearch-bandbox-icon--line-height;
        }
    }

    &-searchbutton {
        height: $editor-defaults__inline-box--height;

        &:not([class*="y-btn-"]){
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            color: $advancedsearch__button--color;
            border: $advancedsearch__button--border;
            background: $advancedsearch__button--background;

            &:hover {
                background: var(--bo-button-hover-background) var(--bo-input-background-style);
                border-color: var(--bo-button-hover-border-color);
                color: var(--bo-button-hover-color);
            }

            &:focus {
                background: var(--bo-button-active-background);
                border-color: $advancedsearch__button-active--border-color;
                color: var(--bo-button-active-color);
            }
        }
    }
    &:not(.yw-toggle-open){
        .yw-search-mode-container,
        .yw-buttons-container {
            z-index: 0;
            
            &:hover {
                z-index: 1;
            }
        }
        .yw-textsearch-searchbox {
            .z-bandbox-input {
                &,
                &:hover {
                    border-right-width: $advancedsearch-header__search-input-field--border-width;
                }
                &:focus {
                    border-right-width: $advancedsearch-header__search-input-field-focus--border-width;
                }
            }
        }
    }
    &.yw-toggle-open {
        .yw-textsearch-searchbutton {
            display: inline-block;
            vertical-align: top;
            text-indent: 0;
            margin-left: $advancedsearch__search-button--margin-x;
        }
    }

    &.yw-toggle-closed {

        .yw-textsearch-searchbox {
            border-radius: var(--bo-button-border-radius) 0 0 var(--bo-button-border-radius);
        }

        .yw-textsearch-toolbar {
            .yw-textsearch-searchbutton {
                &:after {
                    font-family: var(--bo-content-icon-font-family);
                    font-size: var(--bo-font-size);
                    content: _getIconGlyphContentValue('search');
                }
            }
        }
    }
}
