/*================================
    Action Group 
================================*/
// Styling of the Action Group 

@import "../support/_create-variables.scss";

.cng-action-group {
    td {
        > a.ya-create-type-selector-button.z-toolbarbutton {
            width: $create__toolbar-action-group-item-create-type-button--width;
            float: none;
            text-align: center;
            box-shadow: none;
            
            &:hover {
                @if $create__create-new-action-hover--box-shadow {
                    box-shadow: $create__create-new-action-hover--box-shadow;
                }
                background-color: $create__create-new-button-hover--bg-color;
            }
        }
        &:last-child {
            > a.ya-create-type-selector-button.z-toolbarbutton {
                border-top-right-radius: $_create__toolbar-action-button--border-radius;
                border-bottom-right-radius: $_create__toolbar-action-button--border-radius;
            }
        }
    }

}

.cng-action-group td > a.ya-create-type-selector-button.z-toolbarbutton,
.ya-extended-group-cnt a.ya-create-type-selector-button.z-toolbarbutton {

    .z-toolbarbutton-content {
        left: $create__toolbar-action-group-item-create-type-button-content--left;
        color: $create__toolbar-action-group-item-create-type-button-content--color;
        right: $create__toolbar-action-group-item-create-type-button-content--right;
        top: 2px;
    }
}