/*================================
    Extended Group 
================================*/
// Styling of the Extended Group 

@import "../support/_create-variables.scss";

.ya-extended-group-cnt {
    text-align: left;
    position: relative;
    background-color: $_action__icon-button--bg-color;
    color: $_button__action-tool--color;
    border: $_create__toolbar-action-button--border;
    border-radius: $_create__toolbar-action-button--border-radius;
    overflow: hidden;
    height: $toolbar__button-default--size;

    &:active {
        color: $_button__icon-active--color;
        background-color: $_button__icon-active--bg-color;
        border-color: $_button__icon-active--border-color;
        border-radius: $toolbar__button-default--border-radius;
        box-shadow: none;
    }
    &:hover {
        color: $_button__icon-hover--color;
        border-color: $_button__icon-hover--border-color;
        background-color: $_button__icon-hover--bg-color;
        border-radius: $toolbar__button-default--border-radius;
        box-shadow: var(--bo-button-hover-shadow);
    }

    &:focus-within {
        color: $_button__icon-active--color;
        border-radius: $toolbar__button-default--border-radius;
        background-color: $_button__icon-active--bg-color;
        outline: var(--bo-content-focus-outline-width) var(--bo-content-focus-outline-style) var(--bo-content-focus-outline-color);
        outline-offset: $content-focus-outline-offset;
    }

    img {
        z-index: $create__toolbar-action-extended-group-image--z-index;
        display: inline-block;
        float: none;
        position: absolute;
    }
    > a.ya-create-type-selector-button.z-toolbarbutton,
    > .z-image {
        margin: nth($create__toolbar-action-split-group-items-overlap--margin, 1) 0;
    }
    button.z-button {
        height: $create__toolbar-action-extended-group-create-type-button--height;
        width: $create__toolbar-action-extended-group-create-type-button--width;
        color: inherit;
        background: none;
        border: none;
        box-shadow: none;
        outline: none;
        font-size: var(--bo-font-size-large);
    }
    a.ya-create-type-selector-button.z-toolbarbutton {
        width: $create__toolbar-action-extended-group-create-type-button--width;
        display: inline-block;
        float: none;
        text-align: center;
        box-shadow: none;
        border: none;
        background: none;
        outline: none;
    }
    &.ya-cng-extended-action-container-hover {
        // background-color: $create__create-new-button-hover--bg-color;
        // color: $create__create-new-button-hover--color;
        // border-color: $_create__create-new-button-hover--border-color;
        // cursor: pointer;

        a.ya-create-type-selector-button.z-toolbarbutton {
            &,
            &:hover {
                @if $create__create-new-action-hover--box-shadow {
                    box-shadow: $create__create-new-action-hover--box-shadow;
                }
                color: inherit;
                background-color: transparent;
            }
        }
    }
}
