/* Status */
/* Button Color Scheme */
/* Status */
/* Button Color Scheme */
.ye-dndfileupload-single-line-mode {
  background: var(--bo-list-background);
  border: 1px solid var(--bo-list-border-color);
  border-radius: var(--bo-input-border-radius);
  padding: 10px 8px 9px;
  min-height: 36px;
  height: 36px;
  line-height: 16px;
  font-size: 14px;
  position: relative; }
  .ye-dndfileupload-single-line-mode.ye-dndfileupload-container {
    box-shadow: none;
    display: block;
    height: auto;
    margin: 0; }
  .ye-dndfileupload-single-line-mode .ye-dndfileupload-preview-container {
    padding: 0 0 0 0;
    margin: 0 28px 0 0;
    text-align: left;
    position: relative;
    display: block; }
  .ye-dndfileupload-single-line-mode .ye-dndfileupload-preview-remove-btn {
    width: 24px;
    height: 24px;
    min-height: 24px;
    margin-top: -12px;
    right: 8px;
    display: block;
    position: absolute;
    top: 50%;
    border-color: transparent;
    background: transparent; }
    .ye-dndfileupload-single-line-mode .ye-dndfileupload-preview-remove-btn:hover {
      color: var(--bo-button-hover-color);
      border: 1px solid var(--bo-button-hover-border-color);
      background: var(--bo-button-hover-background); }
  .ye-dndfileupload-single-line-mode .ye-dndfileupload-preview-image {
    max-height: 20px;
    max-width: 20px;
    transform: translate3d(-50%, -50%, 0);
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
    position: absolute;
    top: 50%;
    border-radius: 0; }
  .ye-dndfileupload-single-line-mode .ye-dndfileupload-preview-filename.z-label {
    padding: 0 0 0 28px;
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 0;
    border: none;
    display: inline-block;
    -ms-word-wrap: break-word;
    word-wrap: break-word; }
  .ye-dndfileupload-single-line-mode:hover {
    background: var(--bo-list-hover-background); }
    .ye-dndfileupload-single-line-mode:hover .ye-dndfileupload-preview-remove-btn {
      display: block; }
      .ye-dndfileupload-single-line-mode:hover .ye-dndfileupload-preview-remove-btn, .ye-dndfileupload-single-line-mode:hover .ye-dndfileupload-preview-remove-btn:hover, .ye-dndfileupload-single-line-mode:hover .ye-dndfileupload-preview-remove-btn:focus, .ye-dndfileupload-single-line-mode:hover .ye-dndfileupload-preview-remove-btn:active {
        background: transparent; }
