@import "../support/dndfileupload-variables.scss";

.ye-dndfileupload-single-line-mode {
	//Same styling as ye-default-reference-editor-item-container
    background: $_default-list__item--bg-color;
    border: $ye-dndfileupload-single-line-mode__box--border-width solid $_default-list__item--border-color;
    border-radius: $_ye-dndfileupload-single-line-mode__box--border-radius;
    padding: $ye-dndfileupload-single-line-mode__list-item-content--padding;
    min-height: $editor-area__box--height;
    height: $editor-area__box--height;
    line-height: $editor-area__input-field--line-height;
    font-size: $editor-area__input-field--font-size;
    position: relative;

	&.ye-dndfileupload-container {
		box-shadow: none;
		display: block;
		height: auto;
		margin: 0;
	}
	.ye-dndfileupload-preview {
		&-container {
			padding: $ye-dndfileupload-single-line-mode__preview-container--padding;
			margin: $ye-dndfileupload-single-line-mode__preview-container--margin;
			text-align: left;
			position: relative;
			display: block;
		}

		&-remove-btn {
			width: $ye-dndfileupload-single-line-mode__delete-btn--size;
			height: $ye-dndfileupload-single-line-mode__delete-btn--size;
			min-height: $ye-dndfileupload-single-line-mode__delete-btn--size;
			margin-top: $ye-dndfileupload-single-line-mode__delete-btn--margin-top;
			right: $ye-dndfileupload-single-line-mode__delete-btn--right;
			@if $_ye-dndfileupload-single-line-mode-default__delete-btn--visible {
				display: block;
			}@else {
				display: none;
			}
			position: absolute;
			top: 50%;
			border-color: transparent;
			background: transparent;

			&:hover {
				color: $_button__icon-hover--color;
				border: $boxes--border__thin solid $editor-defaults__action-button-hover--border-color;
				background: $_button__icon-hover--bg-color;
			}
		}

		&-image {
			max-height: $ye-dndfileupload-single-line-mode__preview_image--max-size;
			max-width: $ye-dndfileupload-single-line-mode__preview_image--max-size;
			transform: translate3d(-50%, -50%, 0);
			margin-top: 0;
			margin-bottom: 0;
			margin-left: floor($ye-dndfileupload-single-line-mode__preview_image--max-size/2);
			position: absolute;
			top: 50%;
			border-radius: $_ye-dndfileupload-single-line-mode__preview_image--border-radius;
		}
		&-filename.z-label {
			padding: 0 0 0 $ye-dndfileupload-single-line-mode__preview-label--padding-left;
			font-size: $ye-dndfileupload-single-line-mode__preview-label--font-size;
			margin-bottom: 0;
			margin-top: 0;
			border: none;
			display: inline-block;
			-ms-word-wrap: break-word;
			word-wrap: break-word;
		}
	}
	&:hover {
		background: $_default-list__item-hover--bg-color;
		.ye-dndfileupload {
			&-preview-remove-btn{
				display: block;

				&,
				&:hover,
				&:focus,
				&:active {
					background: transparent;
				}
			}
		}
	}
}
