@import "cockpitng-globals.scss";
@import "../systemBarWidget/scss/support/_systembar-variables.scss";

$notification_icon--font-family: $font-family__icon;
$notification_message--padding-x: $_container-spacing-default__small;
$notification_message--padding-y: $_container-spacing-default__tiny;
$notification_message--border-width: $boxes--border__thin;
$notification_icon-close--content: _getIconGlyphContentValue('decline');
$notification_icon-close--font-family: $font-family__icon;
$notification_icon-close--font-size: $font-size__large;

$notification_icon-success--content: _getIconGlyphContentValue('message-success');
$notification_icon-failure--content: _getIconGlyphContentValue('message-error');
$notification_icon-warn--content: _getIconGlyphContentValue('message-warning');
$notification_icon-info--content: _getIconGlyphContentValue('message-information');
$notification_icon-status--font-family: $notification_icon--font-family;
$notification_icon-status--font-size: $font-size__large;
$notification_icon-status--width: $toolbar__button-small--size;

$notification_text--color: $_default__header--color;
$notification_link--color: var(--bo-link-color);
$notification_message--top-position: $systembar__container--height + $_container-spacing-default__medium;

$notification_neutral--color: $_default__status-neutral--color;
$notification_neutral--bg-color: $_default__status-neutral--background;
$notification_success--color: $_default__status-positive--color;
$notification_success--bg-color: $_default__status-positive--background;
$notification_failure--color: $_default__status-negative--color;
$notification_failure--bg-color: $_default__status-negative--background;
$notification_warn--color: $_default__status-alert--color;
$notification_warn--bg-color: $_default__status-alert--background;
$notification_info--color: $_default__status-info--color;
$notification_info--bg-color: $_default__status-info--background;

$notification_message--padding: $notification_message--padding-y $notification_message--padding-x;
$notification_message--border-radius: var(--bo-popover-border-radius);
$notification_window-message-close-icon--width: $toolbar__button-medium--size;
$notification_window-message-close-icon--margin-right: $notification_message--border-width * -1;
$notification_window-message--padding-right: $notification_message--padding-x + $notification_window-message-close-icon--width + $notification_window-message-close-icon--margin-right;
$notification_window-message--z-index: 1002;
$notification_window--z-index: 12000;

.yw-systemBarContainer .yw-notification-message .z-label {
    white-space: nowrap;
}

.yw-notification {
    position: absolute;
    z-index: $notification_window--z-index;
    top: $notification_message--top-position;
    left: 50%;
    transform: translateX(-50%);
    height: auto!important;

    &-type{
        color: $notification_text--color;
    }

    &-message {
        display: flex;
        min-height: $editor-defaults__inline-box--height;
        align-items: center;
        padding: $notification_message--padding;
        background-color: $notification_neutral--bg-color;
        border: $notification_message--border-width solid $notification_neutral--color;
        border-radius: $notification_message--border-radius;
        cursor: pointer;
        text-align: left;
        word-wrap: break-word;
        position: relative;
        
        .z-label {
            color: $notification_text--color;
        }

        a {
            color: $notification_link--color;
            margin-left: $_container-spacing-default__tiny;
            word-break: break-word;;
        }

        &:before {
            content: '';
            font-family: $notification_icon-status--font-family;
            font-size: $notification_icon-status--font-size;
            display: none;
            margin-right: $_container-spacing-default__small;
        }

        &:after {
            content: $notification_icon-close--content;
            font-family: $notification_icon-close--font-family;
            display: inline-block;
            font-size: $notification_icon-close--font-size;
            cursor: pointer;
            margin-left: $_container-spacing-default__small;
        }

        &.success,
        &.failure,
        &.warning,
        &.info {
            &:before {
                display: block;
            }
        }

        &.success {
            background-color: $notification_success--bg-color;
            border-color: $notification_success--color;

            &:before {
                content: $notification_icon-success--content;
                color: $notification_success--color;
            }
        }
        &.failure {
            background-color: $notification_failure--bg-color;
            border-color: $notification_failure--color;

            &:before {
                content: $notification_icon-failure--content;
                color: $notification_failure--color;
            }
        }
        &.warning {
            background-color: $notification_warn--bg-color;
            border-color: $notification_warn--color;

            &:before {
                content: $notification_icon-warn--content;
                color: $notification_warn--color;
            }
        }
        &.info {
            background-color: $notification_info--bg-color;
            border-color: $notification_info--color;

            &:before {
                content: $notification_icon-info--content;
                color: $notification_info--color;
            }
        }
    }

    /* Special Skin changes for Wizzard/Window */
    .z-window-highlighted & {
        position: relative;
        top: 0;
        

        &-message {
            z-index: $notification_window-message--z-index;
            border-radius: 0;

            &:after {
                text-align: right;
                display: block;
            }
            .z-label{
                word-wrap: break-word;
                padding-left: 0;
                
                &.yw-notification-type {
                    word-wrap: normal;
                    padding: 0;
                }
            }
        }
    }
}
