.yw-modal-RegisterIOWithBasicCredential .integrationbackoffice-modal-body {
    border-bottom: 0
}

.yw-modal-RegisterIOWithBasicCredential .integrationbackoffice-editor-splitlayout {
    border-top: 1px solid var(--bo-field-border-color);
}

.yw-modal-RegisterIOWithBasicCredential .integrationbackoffice-editor-white-background {
    margin-left: 10px;
}

.yw-modal-RegisterIOWithBasicCredential .integrationbackoffice-modal-body {
    border-top: 0 solid
}

.yw-modal-RegisterIOWithBasicCredential .yw-integrationbackoffice-create-basic-cred {
    display: block;
    margin-top: 20px;
    padding: 15px 0 15px 0;
}

.yw-modal-RegisterIOWithBasicCredential .integrationbackoffice-modal-label {
    padding: 5px 0 5px 0;
}

.yw-modal-RegisterIOWithBasicCredential .attribute-label-description-password {
    margin-bottom:20px;
}

.yw-modal-RegisterIOWithBasicCredential .integrationbackoffice-modal-button {
    margin-right: 0;
}
