/*================================
    z-Tabs / z-Tabpanel
================================*/
// Defintions of Tabs, Tabpanel

@charset "UTF-8";
@import "../support/_cockpit-mixins.scss";
@if variable-exists(editorarea__tab--height){
    .z-tab-text,
    .z-tabbox-scroll > .z-tabbox-icon {
        min-height: $editorarea__tab--height;
        line-height: $_editorarea__tab--line-height;
        padding-top: $_editorarea__tab-text--padding-top;
    }
    .z-tab-text .z-caption {
        margin: auto;
    }
}@else {
    .z-tabbox-icon {
        min-height: initial;
    }
}

.z-tab-text {
    font-family: $editorarea__tab-text--font-family;
    color: $editorarea__tab-text--font-color;
}

.z-tabbox-top {
    > .z-tabs,
    &.z-tabbox-scroll > .z-tabbox-icon {
        background-color: $editorarea__tabs-top--bg-color;
    }

    .z-tabs-content {
        .z-tab {
            .z-tab-text {
                text-transform: $editorarea__tab-text--text-transform;
                position: relative;
            }

            &.z-tab-selected .z-tab-text {
                color: $editorarea__tab-text-selected--font-color;
                border-bottom: $editorarea__tab-selected--border-bottom;
            }
        }
    }
}


.z-tabbox-accordion > .z-tabpanels,
.z-tabbox-top > .z-tabs {
    .z-tab {
        padding-bottom: $editorarea__tabs-content--padding-bottom;

        &.z-tab-selected {
            box-shadow: none;
        }
    }

    .z-tabs-content {
        border-bottom-width: $editorarea__tabs-content--border-bottom-width;
        border-color: $editorarea__tabs--border-color;
    }
    .z-caption {
        min-height: 0;
    }
}

.z-tabbox-top > .z-tabpanels > .z-tabpanel {
    padding-top: 0;
    background: $editorarea__tabs-panel--bg-color;
}

.z-tab {
    padding: $editorarea__tab--padding;
    background-color: $editorarea__tab--bg-color;
    border: none;
    line-height: 1;

    &:hover {
        background-color: $editorarea__tab-hover--bg-color;

        .z-tab-text {
            color: $editorarea__tab-text-hover--font-color;
        }
    }

    &:first-child {
        padding-left: $editorarea__tab-first--padding-left;
    }

    &:last-child {
        padding-right: $editorarea__tab-last--padding-right;
    }

    .z-label {
        font-size: $editorarea__tab-text--font-size;
        font-family: $editorarea__tab-text--font-family;
    }

    &:focus .z-label {
        outline-offset: var(--bo-content-focus-outline-width);
        outline-style: var(--bo-content-focus-outline-style);
        outline-width: var(--bo-content-focus-outline-width);
        outline-color: var(--bo-button-focus-outline-color);
        margin-left: calc(2 * var(--bo-content-focus-outline-width));
        margin-right: calc(2 * var(--bo-content-focus-outline-width));
    }

    .z-caption-content {
        padding: $editorarea__tabs-caption-content--padding;
        @if variable-exists(editorarea__tabs-caption-content--margin) and ($editorarea__tabs-caption-content--margin != 0) {
            margin: $editorarea__tabs-caption-content--margin;
        } @else {
            margin-bottom: $editorarea__tabs-caption-content--margin-bottom;
        }
    }
}

.z-tabs-content {


    .z-tab-text {
        // color: $editorarea__tab-text--font-color;
        // border-bottom: $editorarea__tab-text--border-width solid transparent;
        // text-transform: $editorarea__tab-text--text-transform;
    }
    .z-tab-selected .z-tab-text {

    }
    .yw-editorarea-tab-pinned .z-tab-text {
        // font-weight: $editorarea__tab-pinned--font-weight;
    }
    .z-tabs-content .cng-newTab .z-tab-text {
        //TODO: check if it is needed
        cursor: pointer;
    }

}

.z-tabpanel-content {
    @if variable-exists(editorarea__tabpanel-accordion-content--bg-color){
        background-color: $editorarea__tabpanel-content--bg-color;

        .z-tabbox-accordion .z-tabpanel & {
            background-color: $editorarea__tabpanel-accordion-content--bg-color;
        }

    } @else {
        &,
        .z-tabbox-accordion .z-tabpanel > & {
            background-color: $editorarea__tabpanel-content--bg-color;
        }
    }

}

/* z-tabs-scroll */

.z-tabbox-scroll {
    .z-tabbox-left-scroll,
    .z-tabbox-right-scroll {
        width: auto;
        line-height: normal;
        background-color: $editorarea__tabbox-scroll--bg-color;
        border-color: $editorarea__tabs--border-color;
        border-width: 0;
    }

    .z-icon-chevron-right,
    .z-icon-chevron-left {
        width: $editorarea__tabbox-icon-chevron--width;
        height: $editorarea__tabbox-icon-chevron--height;
        padding-top: $editorarea__tabbox-icon-chevron--padding-top;

        &:before {
            font-size: $editorarea__tabbox-icon-chevron--font-size;
            font-family: $editorarea__tab-caret--font-family;
            color: $editorarea__tabbox-icon-chevron--font-color;
        }
    }

    .z-tabbox-left-scroll:hover .z-icon-chevron-left,
    .z-tabbox-right-scroll:hover .z-icon-chevron-right {
        &:before {
            color: $editorarea__tabbox-icon-chevron-hover--font-color;
        }
    }

    .z-tabbox-right-scroll .z-icon-chevron-right {
        border-left: $editorarea__tabbox-scroll--border;
        &:before {
            content: $editorarea__tabbox-scroll-right--content;
        }
    }

    .z-tabbox-left-scroll .z-icon-chevron-left {
        border-right: $editorarea__tabbox-scroll--border;
        &:before {
            content: $editorarea__tabbox-scroll-left--content;
        }
    }

    > .z-tabs {
        margin: $editorarea__tabs-scroll--margin;

        .yw-modal-collectionEditorAreaGroup & {
            margin: $editorarea__tabs-scroll--margin;
            position: absolute;
        }
    }

    .z-tab {
        &,
        .z-window-highlighted & {
            &:first-child {
                padding: $editorarea__tab--padding;
            }

            &:last-child {
                padding: $editorarea__tab--padding;
            }
        }
    }
}

/* z-tabs-scroll */

/* z-tabs-accordion */

.z-tabbox-accordion {
    &.z-tabbox {
        overflow: auto;
    }
    &,
    > .z-tabbox-content {
        > .z-tabpanels {
            .z-label {
                font-size: $editorarea__tab-text--font-size;
                font-weight: $editorarea__tab-text--font-weight;
            }
        }
    }

    .z-tab {

        .z-label {
            @if ($editorarea__tabpanel-accordion-tab-label--color) {
                color: $editorarea__tabpanel-accordion-tab-label--color;
            } @else {
                color: inherit;
            }
        }
    }

    .z-tabpanel {
        background-color: $editorarea__tabpanel-accordion--bg-color;
        box-shadow: $editorarea__tabpanel-accordion--shadow;

        > .z-tabpanel-content {
            height: auto !important;
        }

        > .z-tab {
            background-color: $editorarea__tabpanel-accordion-tab--bg-color;
            color: $editorarea__tab-text--font-color;
            padding: $editorarea__tabpanel-accordion-tab--padding;
            display: flex;
            align-items: center;

            .z-tab-content {
                margin-left: $_container-spacing-default__tiny; // margin for arrow-down icon
                cursor: pointer;
            }

            .z-tab-text {
                border: none;
                font-size: $editorarea__tab-text--font-size;
            }

            &:before {
                content: $editorarea__tabbox-accordion-tab-closed--content;
                font-family: $editorarea__tab-caret--font-family;
                font-size: $editorarea__tab-caret--font-size;
                color: $editorarea__tabpanel-accordion-caret--color;
            }

            &:hover {
                color: $editorarea__tab-text-hover--font-color;
            }

            &-selected {
                background-color: $editorarea__tabpanel-accordion-selected--bg-color;
                box-shadow: $editorarea__tabs-content--shadow;
                color: $editorarea__tab-text-hover--font-color;

                .z-tab-content {
                    cursor: auto;
                }

                .z-tab-text {
                    color: $editorarea__tab-text-hover--font-color; //overwrite zk style
                    border-bottom: none;
                }

                &:before {
                    content: $editorarea__tabbox-accordion-tab-opened--content;
                    color: $editorarea__tabbox-accordion-tab-opened--color;
                }
            }
        }

        .z-tab-selected + .z-tabpanel-content {
            border: none;
        }
    }
}

/* z-tabs-accordion */
