/*================================
    Highilighte Window
================================*/
// Layout & Coloring for Highlighted Windows
@charset "UTF-8";
@import "../support/_cockpit-mixins.scss";

.z-window-highlighted {
    .z-window-header {
        box-shadow: $messagebox-popup__messagebox-header-shadow;
        height: $messagebox-popup__messagebox-header-height;
    }

    &-header {
        font-size: $font-size__large;
        vertical-align: middle;
        font-weight: $font-weight-normal;
        padding-top: 0px;
        line-height: $messagebox-popup__messagebox-header-height;
    }
    .z-center,
    .z-north,
    .z-south,
    .z-west,
    .z-east {
        &-header {
            .yw-caption-container {
                position: relative;
            }
        }
    }
}

.yw-info-box {
    overflow: auto;
    background: $_window__info-box--bg-color;
    color: $_window__info-box--color;
    border-color: $_window__info-box--border-color;
    border-style: solid;
    border-width: $_window__info-box--border-width;
    padding: $_window__info-box--padding;
    margin-bottom: $_window__info-box--margin-bottom;

    .yw-editorarea-tabbox-tabpanels-tabpanel & {
        padding-left: $_window__info-box-editorarea--padding-x;
        padding-right: $_window__info-box-editorarea--padding-x;
    }
    .yw-editorarea-tabbox-tabpanels-tabpanel-groupbox & {
        padding: $_window__info-box-editorarea-section--padding;
    }

    .z-vlayout-inner > &{
        border-right-width: 0;
        border-left-width: 0;
    }

    .z-groupbox-content > & {
        -webkit-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
    }

    .z-vlayout-inner:first-child > & {
        &:first-child {
            border-top-width: 0;
        }
    }

    .yw-wizard-layout > .z-vlayout-inner + .z-vlayout-inner > & {
        &:last-child {
            margin-bottom: $boxes--border__thin * -1;
        }
    }
}




/*================================
    Messagebox Window
================================*/
// Layout & Coloring for Message Windows

.z-messagebox {
    word-wrap: break-word;
    word-break: break-word;

    &-viewport,
    &-content {
        height: 100%;
        width: 100%;
        padding: $_container-spacing-default__small;
        word-wrap: break-word;
        overflow: auto;
        margin: 0;
    }

    &-window {
        width: 480px;

        &.z-window-highlighted,
        &.z-window-modal {
            background: $window-highlighted__modal--bg-color;
            border-radius: $window-highlighted__modal--border-radius;
            border-color: transparent;
            box-shadow: $window-highlighted__modal--box-shadow;
        }


    }
    .z-label {
        font-family: $_window-highlighted__messagebox-label--font-family;
        font-size: $_window-highlighted__messagebox-label--font-size;
        color: $_window-highlighted__messagebox-label--font-color;
        padding: 0;
        white-space: normal;
        word-break: break-word;
    }
    .z-window & .z-html {
        text-align: justify;
        display: inline-block;
    }

    &-icon {
        background-position: center;
    }
    &-question {
        background-image: none;
    }
    &-button.z-button {
        width: auto;
        min-width: $messagebox-popup__messagebox-btn-min-width;
        margin-left: $messagebox-popup__messagebox-btn-margin-left;
    }
    &-window &-icon {
        width: $_window-highlighted__messagebox-icon--size;
        height: $_window-highlighted__messagebox-icon--size;
    }

    &-window-footer,
    &-buttons {
        height: $messagebox-popup__messagebox-header-height;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        margin: 0;
        padding: $messagebox-popup__messagebox-footer-padding;
        border-top: $boxes--border__thin solid var(--bo-page-footer-border-color);

        .z-button:first-child {
            @extend .y-btn-primary;
        }
    }
}

// for message box close button rendered in front of title
.z-messagebox-window.z-window.z-window-highlighted.z-window-shadow {
    .z-window-header.z-window-header-move {
        justify-content: space-between;
    }
}
