/*================================
    z-Buttons
================================*/
// Definitions of the z-Buttons (Basic Button Component)

@charset "UTF-8";
@import "../support/_cockpit-variables.scss";

.z-button {
    @include _add-button-styles();

    &.y-btn-primary,
    &.yw-btn-primary {
        @include _add-button-styles("-primary");
    }

    &.y-btn-transparent {
     @include _add-button-styles("-transparent");
    }

    &.y-btn-warning {
        @include _add-button-styles("-warning");
    }

    &.y-btn-danger {
       @include _add-button-styles("-danger");
    }

    &.y-btn-success {
        @include _add-button-styles("-success");
    }

    &.y-btn-accept {
    	@include _add-button-styles("-accept");
    }

    &.y-btn-reject {
        @include _add-button-styles("-reject");
    }

    &.y-btn-attention {
        @include _add-button-styles("-attention");
    }

    &.cng-font-icon {
        font-family: var(--bo-content-icon-font-family);
        font-size: var(--bo-font-size-large);
    }

    &.yw-toggle-on {
    	@include _add-button-styles("-selected");
    	&:hover,
        &:active {
            @include _add-button-general-styles("-selected", "-hover", var(--bo-button-hover-shadow));
        }
        &:focus {
            outline: none;
        }
      	&.cng-font-icon {
            font-family: var(--bo-content-icon-font-family);
        }
    }
}

.ye-text-button {
    text-align: inherit;
    line-height: inherit;
    font-weight: inherit;
    text-transform: none;
    white-space: normal;
    padding: 0;
    height: auto;
    min-height: 0;
    border-color: transparent;

    &,
    &:hover,
    &:focus,
    &:active {
        background-color: $editor-defaults__button-text--bg-color;
        color: $editor-defaults__button-text--color;
        box-shadow: none;
        border-color: transparent;
    }
    &:hover {
        color: $editor-defaults__button-text-hover--color;
        text-decoration: $editor-defaults__button-text-hover--text-decoration;
    }
    &[disabled], &[disabled]:hover, &[disabled]:active {
        color: $editor-defaults__button-text--color;
        opacity: $editor-defaults__button-text-disabled--opacity;
        text-decoration: none;
        border-color: transparent;
    }
}

.z-a {
    font-family: $font-family__text;
    background-color: $editor-defaults__button-text--bg-color;
    color: $editor-defaults__button-link--color;
    text-decoration: none;
    box-shadow: none;

    &:hover,
    &:focus,
    &:active {
        background-color: $editor-defaults__button-text--bg-color;
        color: $editor-defaults__button-link-hover--color;
        text-decoration: $editor-defaults__button-text-hover--text-decoration;
        box-shadow: none;
    }
    &[disabled], &[disabled]:hover, &[disabled]:active {
        color: $editor-defaults__button-link--color;
        opacity: $editor-defaults__button-text-disabled--opacity;
        text-decoration: none;
    }
}

.ye-btn-container > button {
    &.ye-btn-cancel.z-button {
        padding: 0;
    }
}

.ye-btn-container > button.z-button.y-btn-primary {
    margin-top: .3em;
}

.ye-delete-btn,
.cng_admin_deleteButton,
.yo-delete-btn,
.removeWidgetBtn {
    position: relative;

    &:after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: transparent;
        content: $_editor-defaults__item-delete-button--content;
        font-family: $_editor-defaults__item-delete-button--font-family;
        font-size: $editor-defaults__item-delete-button--font-size;
        text-align: center;
    }
    &:hover {
        color: $editor-defaults__button-hover--color;
        border: 0.0625rem solid $editor-defaults__button-hover--border-color;
        border-radius: $editor-defaults__button--border-radius;
        background-color: $editor-defaults__button-hover--bg-color;
    }
    &:active {
        box-shadow: none;
        color: $_container__action-selected--color;
        border: 0.0625rem solid $editor-defaults__button--border-color;
        border-radius: $editor-defaults__button--border-radius;
        background-color: $editor-defaults__button-active--bg-color;
        outline-color: $editor-defaults__button-active--outline-color;
    }
    &:focus {
        outline: $_button__icon-focus-outline-width dotted $_button__icon-focus-outline-color;
        outline-offset: $_button__icon-focus-outline-offset;
    }
    &:disabled, &[disabled] {
        color: $editor-defaults__item-delete-button-disabled--color;
        opacity: $editor-defaults__item-delete-button-disabled--opacity;
    }
}

.z-upload-hover {
    .ye-dndfileupload-upload-container & {
        background-color: transparent;
        border-color: transparent;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -ms-box-shadow: none;
        -o-box-shadow: none;
        box-shadow: none;

        &.z-button {
            &.ye-text-button {
            text-decoration: underline;
            border-color: transparent;
            }
        }
    }

    &.z-button.y-btn-primary {
        background-color: $editor-defaults__button-primary-hover--bg-color;
    }

}

