/*================================
    Box-Defaults
================================*/
// Default Defintions on Basic Box-Elements (Focus on Combobox, Bandbox)


@charset "UTF-8";
@import "../support/_cockpit-mixins.scss";


/* textboxes / label / checkbox- & radio-button container */

.z-label, .z-radio-content, .z-checkbox-content,
.z-textbox, .z-decimalbox, .z-intbox, .z-longbox, .z-doublebox, .z-combobox-input {
    font-family: $font-family__text;
    font-size: $font-size__base;
}

// overwrite ZK styles
.z-combobox-input, .z-bandbox-input, .z-datebox-input, .z-timebox-input, .z-spinner-input, .z-doublespinner-input {
    padding: $editor-boxes__input-field--padding;
    padding-right: $_container-spacing-default__tiny;
}

.z-textbox, .z-decimalbox, .z-intbox, .z-longbox, .z-doublebox, .z-combobox-input {
    width: 100%;
    padding: $editor-boxes__input-field--padding;
}



input.z-textbox {
    // background: $editor-defaults__input-field--bg-color;
    // color: $editor-defaults__input-field--color;
    // border-width: $editor-defaults__input-field--border-width;
    // border-style: solid;
    @include _defaultInputStyles();
}

input::placeholder {
    font-style: $font-style-italic;
    color: var(--bo-placeholder-text-color);
}

// multi browser support
input::-moz-placeholder,
input::-webkit-input-placeholder,
input:-ms-input-placeholder {
    font-style: $font-style-italic;
    color: var(--bo-placeholder-text-color);
}

input::-ms-clear{
    display: none;
}

input:-webkit-autofill{
    color: $editor-defaults__input-field--color !important;
    outline: none;
    border-color: $editor-defaults__box-focus--border-color;
    @if ($_editor-defaults__input-field-focus--border-width){
        padding-left: $editor-defaults__input-field-focus--text-indent;
        border-width: $_editor-defaults__input-field-focus--border-width;
        padding-top: $_editor-boxes__input-field-focus--padding-top;
        padding-bottom: $_editor-boxes__input-field-focus--padding-bottom;
    }
}

textarea.z-textbox {
    @if $editor-boxes__textarea-field--padding {
        padding: $editor-boxes__textarea-field--padding;
    }
}

.z-textbox,
.z-decimalbox,
.z-intbox,
.z-longbox,
.z-doublebox,
.z-bandbox,
.z-combobox,
.z-timebox,
.z-datebox,
.z-spinner {
    @include _defaultBandboxStyles();

    &-disabled {
        &, &:hover, &:focus, &:focus-within {
            @include _input_base_status_styles("disabled");
        }
    }
}

// .z-datebox-input, .z-textbox, .z-decimalbox, .z-intbox, .z-longbox, .z-doublebox, .z-bandbox-input, .z-combobox-input, .z-textbox-focus, .z-timebox-input, .z-spinner-input, .z-doublespinner-input, .z-paging-input {
//     line-height: $editor-defaults__input-field--line-height;
//     height: $editor-defaults__box--height;
//     padding-left: $editor-defaults__input-field--text-indent;
//     box-sizing: border-box;
//     max-width: 100%;
// }

/*======= z-select ====*/
select,
.z-select {
    border-radius: $editor-defaults__input-field--border-radius;
    padding: $editor-boxes__input-field--padding;
    padding-left: $editor-defaults__input-field--text-indent;
    height: $editor-defaults__box--height;
    border-color: $editor-defaults__box--border-color;
    color: $editor-defaults__input-field--color;
    background: $_editor-defaults__select-field--background;
    border-width: $editor-defaults__input-field--border-width;
    border-style: solid;
    width: 100%;
    outline: none;
    box-sizing: border-box;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    @if ($editor-defaults__input-field--box-shadow) {
        -webkit-box-shadow: $editor-defaults__input-field--box-shadow;
        -moz-box-shadow: $editor-defaults__input-field--box-shadow;
        box-shadow: $editor-defaults__input-field--box-shadow;
    }
    &:hover {
        border-color: $editor-defaults__input-field-hover--border-color;
    }

    &::-ms-expand {
        display: none;
    }
    &:focus,
    &:active {
        outline: none;
        border-color: $editor-defaults__box-focus--border-color;
        background: $_editor-defaults__select-field-focus--background;
        @if ($editor-defaults__input-field-focus--box-shadow){
            -webkit-box-shadow: $editor-defaults__input-field-focus--box-shadow;
            -moz-box-shadow: $editor-defaults__input-field-focus--box-shadow;
            box-shadow: $editor-defaults__input-field-focus--box-shadow;
        }
        @if ($_editor-defaults__input-field-focus--border-width){
            padding-left: $editor-defaults__input-field-focus--text-indent;
            border-width: $_editor-defaults__input-field-focus--border-width;
            padding-top: $_editor-boxes__input-field-focus--padding-top;
            padding-bottom: $_editor-boxes__input-field-focus--padding-bottom;
        }
    }
    &:-moz-focusring,
    &::-moz-focus-inner {
        outline: 0;
        outline-color: transparent;
        color: transparent !important;
        text-shadow: 0 0 0 $editor-defaults__input-field--color !important;
        border-color: $editor-defaults__box-focus--border-color;
        background: $_editor-defaults__select-field-focus--background;
        @if ($_editor-defaults__input-field-focus--border-width){
            padding-left: $editor-defaults__input-field-focus--text-indent;
            border-width: $_editor-defaults__input-field-focus--border-width;
            padding-top: $_editor-boxes__input-field-focus--padding-top;
            padding-bottom: $_editor-boxes__input-field-focus--padding-bottom;
        }
    }
}


/*======== z-combobox, z-bandbox =======*/

.z-combobox,
.z-bandbox {
    width: 100%;
    display: flex;
    border-spacing: 0;

    &-icon.z-icon-caret-down {
        &:before {
            font-family: $editor-defaults__box-button-icon--font-family;
            content: $_editor-defaults__box-combobox-button-icon--content;
        }
    }
}

//taken from zk
// .z-combobox-button,
// .z-bandbox-button,
// .z-datebox-button,
// .z-timebox-button,
// .z-spinner-button,
// .z-doublespinner-button {
//     &:hover {
//         color: $editor-defaults__box-button-hover--color;
//         background-color: $editor-defaults__box-button-hover--bg-color;

//         > i {
//             color: inherit;
//         }
//     }
//     input[disabled] + & {
//         &:hover,
//         &:active {
//             border-color: $editor-default-disabled-opacity;
//         }
//     }
// }

// .z-combobox,
// .z-datebox,
// .z-bandbox {
//     & &-button,
//     & &-input {
//         &:hover {
//             border-color: $editor-defaults__inputbox-hover--border-color;
//         }
//     }
//     input:hover + &-button {
//         border-left-color: $editor-defaults__inputbox-hover--border-color;
//     }
//     & &-button {
//         border: $editor-defaults__inputbox--border-width solid $editor-defaults__box--border-color;
//         border-left-width: $editor-defaults__input-split-inner--border-width;
//         border-radius: $editor-defaults__input-split-inner--border-radius $editor-defaults__input-box--border-radius $editor-defaults__input-box--border-radius $editor-defaults__input-split-inner--border-radius;
//         @if $_editor-defaults__box-icon-button--bg-color {
//             background-color: $_editor-defaults__box-icon-button--bg-color;
//         }
//         display: table-cell;
//         position: relative;
//         text-align: center;
//         width: $_editor-defaults__box-icon-button--width;
//         text-align: center;
//         vertical-align: middle;
//     }
//     & &-input {
//         padding-right: $editor-defaults__inputbox-input--padding-right;
//         background: $editor-defaults__input-field--bg-color;
//         border-color: $editor-defaults__box--border-color;
//         color: $editor-defaults__box--text-color;
//         border-radius: $editor-defaults__input-field--border-radius $editor-defaults__input-split-inner--border-radius $editor-defaults__input-split-inner--border-radius $editor-defaults__input-field--border-radius;
//         box-sizing: border-box;
//         margin-bottom: 0;
//         width: 100%;
//         display: table-cell;

//         &,
//         &:hover,
//         &:focus {
//             border-right-width: 0;
//         }
//     }
//     & &-button:hover {
//     	background: $editor-defaults__box-button-hover--bg-color;
//     	color: $editor-defaults__box-button-hover--color;
//     }

//     &-button &-icon {
//         background-image: none;
//         width: $_editor-defaults__box-button-icon--size;
//         height: $_editor-defaults__box-button-icon--size;
//         font-size: $_editor-defaults__box-button-icon--font-size;
//         line-height: $_editor-defaults__box-button-icon--size;
//         margin: auto;
//         @if $_editor-defaults__box-button-icon--color {
//             color: $_editor-defaults__box-button-icon--color;
//         }

//         &:before {
//             font-family: $editor-defaults__box-button-icon--font-family;
//             display: block;
//             // content: $_editor-defaults__box-settings-button-icon--content;
//         }
//     }
//     &-button:active &-icon {
//     	color: $_editor-defaults__box-icon-button-active--color;//$_editor-defaults__box-button-icon--color;
//     }

//     & &-input:focus + &-button {
//         border-left-color: $editor-defaults__box-focus--border-color;
//     }
//     & &-input:focus,
//     &-open &-input:focus + &-button {
//         border-color: $editor-defaults__box-focus--border-color;
//     }
//     @if ($_editor-defaults__input-field-focus--border-width){
//         & &-input:not([disabled]):focus {
//             border-right-width: $_editor-defaults__input-field-focus--border-width - $editor-defaults__input-field--border-width;
//             border-right-style: solid;
//             padding-right: $editor-defaults__inputbox-input--padding-right + $editor-defaults__input-field--border-width - $_editor-defaults__input-field-focus--border-width;
//         }
//         &-button:focus,
//         &-open &-input:not([disabled]):focus + &-button {
//             border-width: $_editor-defaults__input-field-focus--border-width;
//         }
//         &-open &-input:not([disabled]):focus {
//             padding-right: $editor-defaults__inputbox-input--padding-right;
//             padding-top: $_editor-boxes__input-field-focus--padding-top;
//             padding-bottom: $_editor-boxes__input-field-focus--padding-bottom;
//             border-right-width: 0;
//         }
//     }
//     input[disabled] + &-button:hover {
//         border-color: $editor-defaults__box--border-color;
//     }
//     &-button:focus,
//     &-open &-button {
//         @if $_editor-defaults__box-icon-button-focus--bg-color {
//             background-color: $_editor-defaults__box-icon-button-focus--bg-color !important;
//         }

//         i {
//         	color: $_editor-defaults__box-icon-button-active--color;
//         }
//     }
//     &-disabled &-button,
//     &-disabled &-input {
//         &,
//         &:hover,
//         &:focus {
//             background: $editor-defaults__input-box-disabled--bg-color;
//             border-color: $editor-defaults__input-box-disabled--border-color;
//         }
//     }
//     &-disabled input:hover + &-button {
//         background: $editor-defaults__input-box-disabled--bg-color;
//         border-color: $editor-defaults__input-box-disabled--border-color;
//     }
//     &-disabled &-icon {
//         color: inherit;
//     }
// }

@if $editor-boxes__combobox-combine {
    @include _combineInputAndButtonBox(z-combobox);
}
@if $editor-boxes__datebox-combine {
    @include _combineInputAndButtonBox(z-datebox);
}

.z-combobox-input, .z-bandbox-input, .z-datebox-input, .z-timebox-input,
.z-spinner-input, .z-doublespinner-input {
    font-size: $editor-defaults__input-field--font-size;
}

.z-datebox .z-datebox-icon,
.z-icon-calendar {
    &:before {
        content: $_editor-defaults__box-datebox-button-icon--content;
        font-family: $editor-defaults__box-button-icon--font-family;
    }
}

.z-icon-search,
.z-icon-check {
    font-family: $editor-defaults__box-button-icon--font-family;
}

.z-icon-search {
    &:before {
        content: $_editor-defaults__box-search-button-icon--content;
    }
}
.z-icon-check {
    &:before {
        content: $_editor-defaults__box-check-icon--content;
    }
}

.z-combobox,
.z-bandbox,
.z-datebox,
.z-timebox,
.z-spinner,
.z-doublespinner {
    &-readonly {
        &:focus {
            border-right-width: $boxes--border__thin;
        }
    }

    &-input {
        &:focus {
            +.z-combobox-button,
            +.z-bandbox-button,
            +.z-datebox-button,
            +.z-timebox-button,
            +.z-spinner-button,
            +.z-doublespinner-button {
                border-left: var(--bo-input-border-width) var(--bo-input-border-style) var(--bo-input-border-color);
            }
        }
    }

    &-button {
        position: static;
    }
}

.z-combobox {
    & &-icon {
        &:before {
            content: $_editor-defaults__box-combobox-button-icon--content;
        }
    }
}

/*====== z-timebox, z-spinner, z-doublespinner =========*/

.z-timebox,
.z-spinner,
.z-doublespinner {

    & &-button {
        // @include _add-button-styles();
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background: transparent;
        box-shadow: none;

        > i.z-timebox-separator {
            display: none !important;
        }

        > a {
            position: static;
            border: none;
            background: var(--bo-input-background);
            background-image: none !important;
            width: calc(100% - 2 * #{$boxes--border__thin});
            height: calc(50% - 2 * #{$boxes--border__thin});

            
            &:first-child,
            &:last-child {
                &:active {
                    background: var(--bo-button-active-background);
                    i {
                        color: var(--bo-button-active-color);
                    }
                }
            }

            &:first-child {
                border-radius: $editor-defualts__bandbox-updown-button-up-border-radius;
                border-bottom: none; //make up/down parts separated with one line
            }

            &:last-child {
                border-radius: $editor-defualts__bandbox-updown-button-down-border-radius;
            }

            & i {

                color: var(--bo-button-icon-color);

                &.z-icon-angle-up {
                    &:before {
                        content: $_editor-defaults__timebox-button-icon-up--content;
                        font-family: $_editor-defaults__timebox-button-icon--font-family;
                        line-height: $toolbar__button-default--size / 2;
                    }
                }

                &.z-icon-angle-down {
                    &:before {
                        content: $_editor-defaults__timebox-button-icon-down--content;
                        font-family: $_editor-defaults__timebox-button-icon--font-family;
                        line-height: $toolbar__button-default--size / 2;
                    }
                }
            }
        }
    }

    &:focus-within {
        a {
            background: transparent;

            &:active {
                background: var(--bo-button-active-background);
                i {
                    color: var(--bo-button-active-color);
                }
            }
        }
    }

    &:hover {
        a {
            background: transparent;

            &:first-child,
            &:last-child {
                &:hover {
                    background: var(--bo-button-hover-background);
                    i {
                        color: var(--bo-button-hover-color);
                    }
                    box-shadow: var(--bo-button-hover-shadow);

                    &:active {
                        background: var(--bo-button-active-background);
                        i {
                            color: var(--bo-button-active-color);
                        }
                        box-shadow: none;
                    }
                }
            }

            &:last-child { 
                &:hover {
                    background: var(--bo-button-hover-background) var(--bo-input-hover-background-style);
                }
            }
        }
    }
}

// overwrite ZK styles
.z-timebox-active.z-timebox-icon:hover {
    color: var(--bo-button-active-color);
}

.ye-validation{
    &-error, &-info, &-warn {
        .z-timebox-button .z-timebox-icon,
        .z-spinner-button .z-spinner-icon,
        .z-doublespinner-button .z-doublespinner-icon {
            border: none;
        }
    }
}

