.cockpit-config-filter {
    background: $admin-defaults__config-filter-container--bg-color;
    overflow: auto;
    padding-left: $admin-defaults__widget-container--space-x;
    height: 280px;

    .attribute {
        &-container {
            background-color: $admin-defaults__config-filter-attribute-container--bg-color;
            padding: $admin-defaults__config-filter-attribute-container--padding;
            margin: $admin-defaults__config-filter-attribute-container--margin;
            tbody.z-listbox-emptybody td {
                font-size: smaller;
            }
        }
        &-name-label {
            font-weight: bold;
            text-transform: capitalize;
            padding-left: $admin-defaults__config-filter-attribute-name-label--padding-left;
        }
        &-find-parent {
            line-height: $editor-defaults__inline-box--height;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;

            .z-hlayout-inner {
                input,
                button {
                    margin: 1px;
                }
            }
        }
    }
    .selected-attribute {
        &-container {
            display: flex;
            align-items: center;
            box-sizing: border-box;
            width: fit-content;
            color: var(--bo-text-color);
            background: var(--bo-button-token-background);
            height: var(--bo-compact-height);
            line-height: var(--bo-compact-height);
            padding: 0 $_container-spacing-default__tiny;
            border-radius: var(--bo-button-border-radius);
            border: $boxes--border__thin solid var(--bo-button-token-border-color);

            &:hover {
                background: var(--bo-button-hover-background);
                border-color: var(--bo-input-hover-border-color);
                box-shadow: var(--bo-content-shadow-small);
            }
            
            &:last-child {
                margin-right: 0;
            }
        }
        &-value-remove {
            color: var(--bo-text-color);
            background: transparent;
            border: none;
            box-shadow: none;
            outline: none;
            min-width: 26px;
            font-size: var(--bo-content-icon-font-size);
        }

        &-value-label {
            text-overflow: ellipsis;
            max-width: 180px;
            overflow: hidden;
            display: block;
            white-space: nowrap;
            font-family: var(--bo-font-family);
            font-size: var(--bo-font-size);
            color: var(--bo-text-color);
        }

    }
    .search-parent {
        position: relative;
        &:after {
            font-family: $font-family__icon;
            content: $search--content;
            color: inherit;
            font-size: $font-size__base;
            line-height: 1;
            width: $admin-defaults__filter-attribute-button-icon--size;
            text-align: center;
            height: $admin-defaults__filter-attribute-button-icon--size;
            margin-top: -$admin-defaults__filter-attribute-button-icon--size/2;
            margin-left: -$admin-defaults__filter-attribute-button-icon--size/2;
            position: absolute;
            top: 50%;
            left: 50%;
        }
    }
    .clear-parent {
        &, &:hover, &:active, &:focus {
            color: $admin-defaults__filter-container-attribute-button--color;
        }
    }
    div.z-listbox-body {
        background-color: $admin-defaults__filter-container-attribute-list-bg-color;

        .z-listcell {
            border-style: none;
        }
    }
    .disabled_listbox {
        opacity: $admin-defaults-disabled--opacity;
    }
    .btn_minimalize {
        background-color: transparent;
        background-image: url("images/icon_func_colapse_sprite.png") !important;
        background-repeat: no-repeat;
        height: 16px;
        min-height: 16px;
        padding: 0;
        width: 16px;
        margin-top: 5px;
        
        &[disabled] {
            background-color: transparent;
            cursor: default;
        }
        &.expanded {
            background-position: 0px 0px;

            &-disabled {
                background-position: 0px -16px;
            }
        }
        &.collapsed {
            background-position: -16px 0px;
        }
    }
    > .z-hlayout-inner {
        height: auto;
        display: table-cell;
    }
}

    
.yw-xmlConfigWin .filterDiv-contianer {
    border-bottom: $admin-defaults__filter-component-container--border;
}

.yw-xmlConfigWin {
    .filterDiv {
        background: $admin-defaults__filter-component-container--bg-color;
    
        .searchButtonSection {
            background: $admin-defaults__filter-options-searchsection-bg-color;
            line-height: $admin-defaults__filter-search-button-section--line-height;
            border-bottom: $admin-defaults__filter-component-container--border;
        }
    
        .z-vlayout-inner {
            &:last-child {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    &-toolbar {
        .z-south-body .z-div {
            margin-top: 2px;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            padding-right: $admin-defaults__widget-container--space-y;

            span {
                font-family: var(--bo-font-family);
                font-size: var(--bo-font-size);
            }

            button {
                margin-left: $_container-spacing-default__tiny;

                &:last-child {
                    margin-right: $_container-spacing-default__tiny - $admin-defaults__widget-container--space-y;
                }
            }
        }
    }
}



.show-filter-options-button {
    @include _add-button-styles("-primary");

    span.z-toolbarbutton-content {
        font-family: var(--bo-font-family);
        font-size: var(--bo-font-size);
        font-weight: normal;
        color: var(--bo-button-primary-text-color);
    }

    &:hover {
        span.z-toolbarbutton-content {
            color: var(--bo-button-primary-hover-text-color);
        }
    }

    &:active {
        span.z-toolbarbutton-content {
            color: var(--bo-button-primary-active-text-color);
        }
    }
}

.yw-admin-filter-options-searchsection {
    padding: 8px 16px;

    .z-button {
        width: 250px;
        position: absolute;
    }

    .label-warning {
        max-width: calc(100% - 270px);
        margin-left: 270px;
    }
}

.yw-admin-searchbuttonsection {
    .z-hlayout-inner {
        width: 100%;
    }
}