@import "../support/_cockpit_admin-mixins.scss";

//_cockpit_admin-buttons

// Buttons
.connectBtn,
.removeWidgetBtn,
.templateBtn,
.addWidgetBtn,
.widget_toolbar .addWidgetBtn,
.ye-toolbar .widget_toolbar .addWidgetBtn,
.y-toolbar .widget_toolbar .addWidgetBtn,
.invisibleChildrenBtn,
.settingsBtn,
.groupBtn {
    @include _add-button-styles("-transparent");
    height: var(--bo-compact-height);
    line-height: var(--bo-compact-height);
    min-width: var(--bo-compact-height);
    border-radius: $editor-defaults__inline-box--border-radius;
    padding: 0 2px;
    text-align: center;
}

.addWidgetBtn {
	&, &:hover {
		@include _addFontIcon($admin-icon-add--content);
	}
}
.connectBtn.connectBtn{
    &_connected {
        @include _addFontIcon($admin-icon-connect--content);
    }
    &_disconnected {
        @include _addFontIcon($admin-icon-disconnect--content);
    }
}
.removeWidgetBtn {
    @include _addFontIcon($admin-icon-remove--content);;

    .widgetClipboard & {
        position: absolute;
        top: 8px;
        right: 10px;
    }
}
.exitBtn {
    padding-top: 15px;
    padding-left: 10px;
    float: left;
    text-transform: uppercase;
    color: var(--bo-text-color);
    cursor: pointer;
}
.templateBtn {
    &_activated {
        @include _addFontIcon($admin-icon-template--content);
    }
    &_deactivated {
        @include _addFontIcon($admin-icon-template--content);
        opacity: $admin-defaults-disabled-icon--opacity;
        cursor: not-allowed;
        &:hover, &:focus, &:active {
            outline: none;
            box-shadow: none;
            border-color: transparent;
            background: transparent;
        }
    }
}

.invisibleChildrenBtn {
	&, &:hover {
        @include _addFontIcon($admin-icon-not-visible--content);
	}

    &.showInvisibleChildren {
        @include _addFontIcon($admin-icon-visible--content);
    }

    .cng-adminmode-symbolic & {
        display: none;
    }
}

.invisibleWidgetChildren > .widget_cnt > .widget_toolbar .addWidgetBtn {
    @include _addFontIcon($admin-icon-add--content);
    opacity: $admin-defaults-disabled-icon--opacity;
    &, &hover, &:focus {
        opacity: $admin-defaults-disabled-icon--opacity;
        background: transparent !important;
        box-shadow: none !important;
        outline: none !important;
        cursor: not-allowed;
    }
}

.settingsBtn {
	&, &:hover {
        @include _addFontIcon($admin-icon-edit--content);
	}
}

.groupBtn {
	&, &:hover {
        @include _addFontIcon($admin-icon-add-group--content);

	    &.ungroup {
            @include _addFontIcon($admin-icon-add-group--content);
            opacity: $admin-defaults-disabled-icon--opacity;
	    }
	}
}

.settingsContent {    
    button.z-button {
        width: $admin-defaults__z-button--size;
        height: $admin-defaults__z-button--size;
    }
}
