/* Common */
.integrationbackoffice-abstractEditorContainer {
  margin: 20px;
  border-radius: 4px;
  box-shadow: 2px 2px 4px 4px var(--primary4);
}

.yw-de_hybris_platform_integrationbackoffice_widgets_AbstractIntegrationEditorContainer {
  background: var(--bo-base-background)
}

.integrationbackoffice-editor-top {
  display: flex;
}
