@import 'cockpitng-globals.scss';

$ye-dndfileupload__drop-area--height: 120px;

$ye-dndfileupload__container--min-height: 120px;
$ye-dndfileupload__container--bg-color: $_default__content-container--bg-color;
$ye-dndfileupload__container--box-shadow: false;
$ye-dndfileupload__container--border: $boxes--border__thin solid $form-defaults__box--border-color;
$ye-dndfileupload__container--margin: false;
@if $ye-dndfileupload__container--box-shadow {
	$ye-dndfileupload__container--margin: 0 nth($ye-dndfileupload__container--box-shadow, 3) nth($ye-dndfileupload__container--box-shadow, 3) nth($ye-dndfileupload__container--box-shadow, 3);
}
$_ye-dndfileupload__container__box--border-radius: $editor-defaults__input-box--border-radius;

$ye-dndfileupload__drop-area-icon--width: 120px;
$ye-dndfileupload__drop-area-icon--height: $_container-spacing-default__large;
$ye-dndfileupload__drop-area-icon--half-height: floor($ye-dndfileupload__drop-area-icon--height/2);
$ye-dndfileupload__drop-area-icon--margin-top: ceil($ye-dndfileupload__drop-area-icon--height/2)*-1;
$ye-dndfileupload__drop-area-icon--margin-left: $ye-dndfileupload__drop-area-icon--width*-1;
$ye-dndfileupload__drop-area-icon--content: _getIconGlyphContentValue("upload");
$ye-dndfileupload__drop-area-icon--font-size: $font-size__large;
$ye-dndfileupload__drop-area-icon--font-family: $font-family__icon;

$ye-dndfileupload__component-container--margin: 0;

$ye-dndfileupload__drop-area--color: $form-defaults__box--border-color;
$ye-dndfileupload__drop-area--padding-left: $ye-dndfileupload__drop-area-icon--width;
$ye-dndfileupload__drop-area--border-radius: $editor-defaults__input-box--border-radius;
$ye-dndfileupload__drop-area--border: $boxes--border__thin dashed var(--bo-input-border-color);
$ye-dndfileupload__drop-area--bg-color: transparent;
$ye-dndfileupload__drop-area-on-add--bg-color: $form-defaults__box--bg-color;
$ye-dndfileupload__drop-area-label--padding-left: $ye-dndfileupload__drop-area-icon--width;

$ye-dndfileupload__drop-area-btn--margin-right: 0.5em;
$ye-dndfileupload__drop-area-btn--color: $_container__action--color;
$ye-dndfileupload__drop-area-btn--padding: $ye-dndfileupload__drop-area-icon--half-height 0 $ye-dndfileupload__drop-area-icon--half-height $ye-dndfileupload__drop-area-icon--half-height;
$ye-dndfileupload__drop-area-content--font-size: $font-size__base;
$ye-dndfileupload__drop-area-content--line-height: $font-size__large;

$ye-dndfileupload__delete-btn--size: $toolbar__button-medium--size;
$ye-dndfileupload__preview-container--padding: 0; //$_container-spacing-default__core;
$ye-dndfileupload__preview_image--max-height: 250px;
$ye-dndfileupload__preview_image--margin-bottom: 0; //$container-spacing-default__third;
$ye-dndfileupload__preview_image--max-width:100%;
$ye-dndfileupload__preview_filename_label--font-size:$font-size__small;
$_ye-dndfileupload__preview_filename_label--padding: $_container-spacing-default__tiny;
$_ye-dndfileupload__preview_filename_label--margin: 0;
$_ye-dndfileupload__preview_filename_label--border-top: $ye-dndfileupload__container--border;
$_ye-dndfileupload__preview_filename_label--color: $_default__content--color;
$ye-dndfileupload-single-line-mode__delete-btn--size: $toolbar__button-medium--size;
$ye-dndfileupload-single-line-mode__delete-btn--right: $container-spacing-default__third;
$ye-dndfileupload-single-line-mode__delete-btn--margin-top: floor($ye-dndfileupload-single-line-mode__delete-btn--size/2) * -1;
$_ye-dndfileupload-single-line-mode-default__delete-btn--visible: true;
$ye-dndfileupload-single-line-mode__preview_image--max-size: 20px;
$_ye-dndfileupload-single-line-mode__preview_image--border-radius: 0;
$ye-dndfileupload-single-line-mode__preview-label--font-size: $font-size__base;
$ye-dndfileupload-single-line-mode__preview-label--padding-left: $ye-dndfileupload-single-line-mode__preview_image--max-size + $container-spacing-default__third;
$ye-dndfileupload-single-line-mode__preview-container--padding: 0 0 0 0;
$ye-dndfileupload-single-line-mode__preview-container--margin: 0 ($ye-dndfileupload-single-line-mode__delete-btn--size + floor($container-spacing-default__third/2)) 0 0;

$_ye-dndfileupload__upload-size-label--line-height: $font-size__large;
$_ye-dndfileupload__upload-size-label--font-size: $font-size__small;



// add and rename styling variables for ye-default-reference-editor-item-container
@import "../../../../defaultEditorArea/scss/support/_defaultEditorArea-variables.scss";

$ye-dndfileupload-single-line-mode__box--border-width: $editor-area__input-field--border-width;
$_ye-dndfileupload-single-line-mode__box--border-radius: $editor-defaults__input-box--border-radius;
$ye-dndfileupload-single-line-mode__list-item-content--padding-y: floor(($editor-defaults__inline-box--height - 2*$ye-dndfileupload-single-line-mode__box--border-width - $editor-area__input-field--font-size)/2);
$ye-dndfileupload-single-line-mode__list-item-content--padding-x: $container-spacing-default__third;
$ye-dndfileupload-single-line-mode__list-item-content--padding: $ye-dndfileupload-single-line-mode__list-item-content--padding-y $ye-dndfileupload-single-line-mode__list-item-content--padding-x ($ye-dndfileupload-single-line-mode__list-item-content--padding-y - $ye-dndfileupload-single-line-mode__box--border-width);