/* Status */
/* Button Color Scheme */
.ye-list-inline {
  position: relative;
  width: 100%;
  float: left;
  min-height: 28px; }

.ye-list-listbox-defaultmap .z-listcell-content {
  position: relative; }
  .ye-list-listbox-defaultmap .z-listcell-content .ye-remove-button {
    display: none;
    width: 16px;
    height: 16px;
    right: 8px;
    top: 50%;
    position: absolute;
    transform: translate3d(0, -50%, 0);
    color: var(--bo-button-text-color); }
  .ye-list-listbox-defaultmap .z-listcell-content:hover .ye-remove-button {
    display: block; }
.ye-list-listbox-defaultmap .ye-map-add-label {
  color: var(--bo-button-transparent-text-color);
  display: block;
  cursor: pointer;
  line-height: 36px;
  width: fit-content;
  margin: 2px; }
  .ye-list-listbox-defaultmap .ye-map-add-label:before {
    content: "\e058";
    margin-left: 4px;
    margin-right: 8px;
    font-family: var(--bo-content-icon-font-family);
    font-size: 16px;
    vertical-align: middle;
    top: -2px;
    position: relative; }
.ye-list-listbox-defaultmap .ye-map-add-icon.z-image {
  display: none; }

/* Status */
/* Button Color Scheme */
.ye-map-editor-btn-container .z-image {
  padding: 9px;
  border: 1px solid var(--bo-list-border-color);
  border-radius: var(--bo-input-border-radius);
  margin-right: 8px; }
  .ye-map-editor-btn-container .z-image:last-child {
    margin-right: 0; }
.ye-map-editor-btn-container .ye-map-btn-save {
  border-color: var(--bo-positive-color); }
.ye-map-editor-btn-container .ye-map-btn-clear {
  border-color: var(--bo-negative-color); }

.ye-list-listbox-defaultmap .z-listbox-paging-top .z-paging {
  border-bottom-width: 0; }
.ye-list-listbox-defaultmap .z-listcell div.z-listcell-content, .ye-list-listbox-defaultmap .z-listcell div.z-listcell-content:hover {
  height: auto;
  line-height: 18px;
  min-height: 34px;
  padding: 8px;
  display: flex; }
.ye-list-listbox-defaultmap .z-listcell div.z-listcell-content .ye-map-value,
.ye-list-listbox-defaultmap .z-listcell div.z-listcell-content .ye-map-key {
  color: var(--bo-list-text-color); }
  .ye-list-listbox-defaultmap .z-listcell div.z-listcell-content .ye-map-value.z-label,
  .ye-list-listbox-defaultmap .z-listcell div.z-listcell-content .ye-map-key.z-label {
    margin-bottom: 0;
    max-width: calc(50% - 8px);
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 17px;
    display: block; }
.ye-list-listbox-defaultmap .z-listcell div.z-listcell-content .ye-map-value {
  font-weight: 700;
  display: inline; }
.ye-list-listbox-defaultmap .z-listcell:not(.ye-list-line-editor) .z-listcell-content:hover {
  padding-right: 24px !important; }
.ye-list-listbox-defaultmap .z-listcell-selected .ye-default-reference-editor .ye-default-reference-editor-selected-item-container.ye-remove-enabled {
  padding-right: 26px; }
.ye-list-listbox-defaultmap .ye-map-footer .z-listfooter-content {
  padding: 1px;
  line-height: 40px;
  height: auto; }
  .ye-list-listbox-defaultmap .ye-map-footer .z-listfooter-content .z-label {
    margin-bottom: 0;
    vertical-align: middle; }
.ye-list-listbox-defaultmap .ye-map-footer > .z-listfoot-bar:empty {
  display: none; }
.ye-list-listbox-defaultmap.ye-list-listbox .z-paging {
  padding-left: 0;
  padding-right: 0; }
.ye-list-content .ye-list-listbox-defaultmap.ye-list-listbox {
  border: none; }
.ye-list-listbox-defaultmap.ye-list-listbox > .z-listbox-footer {
  padding-top: 8px;
  background-color: transparent;
  border: none; }
  .ye-list-listbox-defaultmap.ye-list-listbox > .z-listbox-footer,
  .ye-list-listbox-defaultmap.ye-list-listbox > .z-listbox-footer .z-listfooter {
    width: 100% !important;
    background-color: transparent; }
  .ye-list-listbox-defaultmap.ye-list-listbox > .z-listbox-footer .z-listfoot-bar:empty,
  .ye-list-listbox-defaultmap.ye-list-listbox > .z-listbox-footer .z-listfooter-bar:empty {
    display: none; }
.ye-list-listbox-defaultmap.ye-list-listbox > .z-listbox-body {
  position: relative;
  border-radius: var(--bo-input-border-radius);
  border-color: var(--bo-list-border-color);
  z-index: 0;
  box-shadow: none; }
  .ye-list-listbox-defaultmap.ye-list-listbox > .z-listbox-body > table > tbody:before,
  .ye-list-listbox-defaultmap.ye-list-listbox > .z-listbox-body .z-listbox-emptybody:after {
    content: "";
    display: none;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    border: 1px solid var(--bo-list-border-color);
    border-color: inherit; }
  .ye-list-listbox-defaultmap.ye-list-listbox > .z-listbox-body > table {
    border-radius: var(--bo-input-border-radius);
    max-width: calc(100% - 2px);
    margin: 0 1px;
    border-color: var(--bo-list-border-color);
    overflow: hidden; }
    .ye-list-listbox-defaultmap.ye-list-listbox > .z-listbox-body > table,
    .ye-list-listbox-defaultmap.ye-list-listbox > .z-listbox-body > table > tbody {
      position: static;
      border-color: inherit;
      border-radius: 2px; }
    .ye-list-listbox-defaultmap.ye-list-listbox > .z-listbox-body > table > tbody:before {
      display: block;
      right: 0;
      border-radius: var(--bo-input-border-radius); }
    .ye-list-listbox-defaultmap.ye-list-listbox > .z-listbox-body > table > tbody.z-listbox-emptybody td {
      padding: 9px 16px 9px !important;
      min-height: 34px;
      text-align: left;
      font-style: normal;
      box-sizing: border-box;
      border: 1px solid var(--bo-container-border-color); }
    .ye-list-listbox-defaultmap.ye-list-listbox > .z-listbox-body > table > tbody.z-listbox-emptybody:before {
      opacity: 0.4;
      display: none; }
    .ye-list-listbox-defaultmap.ye-list-listbox > .z-listbox-body > table > tbody.z-listbox-emptybody .z-listbox-emptybody-content {
      line-height: 16px;
      padding: 0;
      color: var(--bo-container-color); }
    .ye-list-listbox-defaultmap.ye-list-listbox > .z-listbox-body > table > tbody:empty:before {
      display: none; }
    .ye-list-listbox-defaultmap.ye-list-listbox > .z-listbox-body > table > tbody:empty + .z-listbox-emptybody:before {
      display: block; }
.ye-list-listbox-defaultmap .ye-map-separator {
  margin: 0 8px; }
  .ye-list-listbox-defaultmap .ye-map-separator:before {
    content: "\e066";
    font-family: var(--bo-content-icon-font-family); }

.ye-map-editor-btn-container .ye-map-editor-btn.z-button {
  margin-top: 0;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  width: 36px;
  height: 36px; }
  .ye-map-editor-btn-container .ye-map-editor-btn.z-button:active {
    box-shadow: var(--bo-content-shadow-small); }
.ye-map-editor-btn-container .ye-map-editor-btn.y-btn-primary, .ye-map-editor-btn-container .ye-map-editor-btn.y-btn-accept {
  margin-left: 0; }
  .ye-map-editor-btn-container .ye-map-editor-btn.y-btn-primary .z-icon-check:before, .ye-map-editor-btn-container .ye-map-editor-btn.y-btn-accept .z-icon-check:before {
    content: "\e05b";
    font-family: var(--bo-content-icon-font-family); }
.ye-map-editor-btn-container .ye-map-editor-btn.y-btn-secondary, .ye-map-editor-btn-container .ye-map-editor-btn.y-btn-reject {
  margin-right: 8px; }
  .ye-map-editor-btn-container .ye-map-editor-btn.y-btn-secondary .z-icon-close:before, .ye-map-editor-btn-container .ye-map-editor-btn.y-btn-reject .z-icon-close:before {
    content: "\e03e";
    font-family: var(--bo-content-icon-font-family); }

/* Status */
/* Button Color Scheme */
.ye-list-listbox-defaultmap .z-listcell-content .ye-list-line-editor,
.ye-list-listbox-defaultmap .z-listfooter-content .ye-list-line-editor {
  position: relative;
  padding-right: 0;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-bottom: -6px;
  width: 100%; }
  .ye-list-listbox-defaultmap .z-listcell-content .ye-list-line-editor input,
  .ye-list-listbox-defaultmap .z-listfooter-content .ye-list-line-editor input {
    width: 100%; }
  .ye-list-listbox-defaultmap .z-listcell-content .ye-list-line-editor-fields,
  .ye-list-listbox-defaultmap .z-listfooter-content .ye-list-line-editor-fields {
    display: flex;
    min-width: 100%;
    flex: 1;
    flex-wrap: wrap;
    margin-right: 8px;
    align-items: center; }
.ye-list-listbox-defaultmap .z-listcell-content .ye-list-inline,
.ye-list-listbox-defaultmap .z-listfooter-content .ye-list-inline {
  width: 100%;
  min-width: 60px;
  float: none;
  flex: 1 1 100px; }
  .ye-list-listbox-defaultmap .z-listcell-content .ye-list-inline:first-child,
  .ye-list-listbox-defaultmap .z-listfooter-content .ye-list-inline:first-child {
    min-height: auto; }
  .ye-list-listbox-defaultmap .z-listcell-content .ye-list-inline .z-label,
  .ye-list-listbox-defaultmap .z-listfooter-content .ye-list-inline .z-label {
    margin-bottom: 0; }
.ye-list-listbox-defaultmap .z-listcell-content .ye-map-editor-btn-container,
.ye-list-listbox-defaultmap .z-listfooter-content .ye-map-editor-btn-container {
  bottom: 0;
  display: flex;
  flex-shrink: 1;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: auto;
  overflow: hidden;
  text-align: center;
  margin-left: auto;
  margin-right: -8px; }
.ye-list-listbox-defaultmap .z-listcell-content .ye-map-editor-btn-container > *,
.ye-list-listbox-defaultmap .z-listcell-content .ye-list-line-editor-fields > *,
.ye-list-listbox-defaultmap .z-listfooter-content .ye-map-editor-btn-container > *,
.ye-list-listbox-defaultmap .z-listfooter-content .ye-list-line-editor-fields > * {
  margin-right: 8px;
  margin-bottom: 6px; }
.ye-list-listbox-defaultmap .z-listcell-content .ye-list-line-editor .ye-list-inline:first-child {
  flex-basis: 100%; }
.ye-list-listbox-defaultmap .z-listfooter-content .ye-list-line-editor-fields .ye-list-inline:first-child {
  flex-basis: 100%; }
.ye-list-listbox-defaultmap .z-listitem:hover .ye-list-line-editor {
  background-color: transparent; }
.ye-list-listbox-defaultmap .ye-list-line-editor:after {
  clear: both;
  display: block;
  content: ''; }
.ye-list-listbox-defaultmap .ye-list-line-editor.z-listcell {
  border-top: 1px solid var(--bo-list-border-color);
  background: var(--bo-list-background); }
.ye-list-listbox-defaultmap .ye-list-line-editor.z-listcell > .z-listcell-content > .z-label:empty {
  line-height: 34px; }
.ye-list-listbox-defaultmap .ye-list-line-editor.z-listcell > .z-listcell-content, .ye-list-listbox-defaultmap .ye-list-line-editor.z-listcell > .z-listcell-content:hover {
  background-color: transparent;
  width: 100%; }
.ye-list-listbox-defaultmap .ye-list-inline + .ye-map-editor-btn-container {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate3d(0, -50%, 0); }
.ye-list-listbox-defaultmap .ye-map-footer .ye-list-line-editor {
  line-height: 34px;
  background: transparent; }
  .ye-list-listbox-defaultmap .ye-map-footer .ye-list-line-editor .ye-list-inline {
    box-sizing: border-box; }

/* Status */
/* Button Color Scheme */
.yw-loceditor-fixed-open .ye-list-listbox.ye-list-listbox-defaultmap > .z-listbox-footer,
.yw-loceditor-dynamic-content .ye-list-listbox.ye-list-listbox-defaultmap > .z-listbox-footer {
  border-width: 1px 0 0; }
.yw-loceditor-fixed-open .ye-list-listbox.ye-list-listbox-defaultmap.ye-list-listbox > .z-listbox-body,
.yw-loceditor-fixed-open .ye-list-listbox.ye-list-listbox-defaultmap.ye-list-listbox > .z-listbox-body > table,
.yw-loceditor-fixed-open .ye-list-listbox.ye-list-listbox-defaultmap.ye-list-listbox > .z-listbox-body > table > tbody:before,
.yw-loceditor-dynamic-content .ye-list-listbox.ye-list-listbox-defaultmap.ye-list-listbox > .z-listbox-body,
.yw-loceditor-dynamic-content .ye-list-listbox.ye-list-listbox-defaultmap.ye-list-listbox > .z-listbox-body > table,
.yw-loceditor-dynamic-content .ye-list-listbox.ye-list-listbox-defaultmap.ye-list-listbox > .z-listbox-body > table > tbody:before {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }
.yw-loceditor-fixed-open .ye-list-listbox-defaultmap .z-listbox-footer,
.yw-loceditor-dynamic-content .ye-list-listbox-defaultmap .z-listbox-footer {
  margin-top: 0; }
.yw-loceditor-fixed-open .ye-list-listbox-defaultmap.ye-list-listbox > .z-listbox-footer,
.yw-loceditor-fixed-open .ye-list-listbox-defaultmap.ye-list-listbox > .z-listbox-paging-top > .z-paging,
.yw-loceditor-dynamic-content .ye-list-listbox-defaultmap.ye-list-listbox > .z-listbox-footer,
.yw-loceditor-dynamic-content .ye-list-listbox-defaultmap.ye-list-listbox > .z-listbox-paging-top > .z-paging {
  padding-left: 8px;
  padding-right: 8px;
  border: 1px solid var(--bo-list-border-color);
  border-width: 0 1px;
  border-left-color: var(--bo-container-border-color); }
.yw-loceditor-fixed-open .ye-list-listbox-defaultmap.ye-list-listbox > .z-listbox-footer,
.yw-loceditor-dynamic-content .ye-list-listbox-defaultmap.ye-list-listbox > .z-listbox-footer {
  border-bottom-width: 1px;
  border-bottom-right-radius: var(--bo-input-border-radius);
  padding-bottom: 8px; }
.yw-loceditor-fixed-open .ye-list-listbox-defaultmap.ye-list-listbox > .z-listbox-paging-top > .z-paging,
.yw-loceditor-dynamic-content .ye-list-listbox-defaultmap.ye-list-listbox > .z-listbox-paging-top > .z-paging {
  border-top-width: 1px;
  border-top-right-radius: var(--bo-input-border-radius); }
.yw-loceditor-fixed-open .ye-list-listbox-defaultmap.ye-list-listbox > .z-listbox-body tbody:empty + tbody.z-listbox-emptybody:after,
.yw-loceditor-dynamic-content .ye-list-listbox-defaultmap.ye-list-listbox > .z-listbox-body tbody:empty + tbody.z-listbox-emptybody:after {
  width: 1px;
  border-width: 0 0 0 1px;
  display: block;
  z-index: 0; }

/* Status */
/* Button Color Scheme */
.ye-validation-error .ye-list-listbox .ye-map-footer input, .ye-validation-error .ye-list-listbox .ye-map-footer input.z-textbox, .ye-validation-error .ye-list-listbox .ye-map-footer .z-longbox, .ye-validation-error .ye-list-listbox .ye-map-footer .z-intbox, .ye-validation-error .ye-list-listbox .ye-map-footer .z-decimalbox, .ye-validation-error .ye-list-listbox .ye-map-footer .z-doublebox, .ye-validation-warn .ye-list-listbox .ye-map-footer input, .ye-validation-warn .ye-list-listbox .ye-map-footer input.z-textbox, .ye-validation-warn .ye-list-listbox .ye-map-footer .z-longbox, .ye-validation-warn .ye-list-listbox .ye-map-footer .z-intbox, .ye-validation-warn .ye-list-listbox .ye-map-footer .z-decimalbox, .ye-validation-warn .ye-list-listbox .ye-map-footer .z-doublebox, .ye-validation-info .ye-list-listbox .ye-map-footer input, .ye-validation-info .ye-list-listbox .ye-map-footer input.z-textbox, .ye-validation-info .ye-list-listbox .ye-map-footer .z-longbox, .ye-validation-info .ye-list-listbox .ye-map-footer .z-intbox, .ye-validation-info .ye-list-listbox .ye-map-footer .z-decimalbox, .ye-validation-info .ye-list-listbox .ye-map-footer .z-doublebox {
  border-color: var(--bo-container-border-color);
  background: none;
  color: var(--bo-input-text-color); }
  .ye-validation-error .ye-list-listbox .ye-map-footer input:focus, .ye-validation-error .ye-list-listbox .ye-map-footer input.z-textbox:focus, .ye-validation-error .ye-list-listbox .ye-map-footer .z-longbox:focus, .ye-validation-error .ye-list-listbox .ye-map-footer .z-intbox:focus, .ye-validation-error .ye-list-listbox .ye-map-footer .z-decimalbox:focus, .ye-validation-error .ye-list-listbox .ye-map-footer .z-doublebox:focus, .ye-validation-warn .ye-list-listbox .ye-map-footer input:focus, .ye-validation-warn .ye-list-listbox .ye-map-footer input.z-textbox:focus, .ye-validation-warn .ye-list-listbox .ye-map-footer .z-longbox:focus, .ye-validation-warn .ye-list-listbox .ye-map-footer .z-intbox:focus, .ye-validation-warn .ye-list-listbox .ye-map-footer .z-decimalbox:focus, .ye-validation-warn .ye-list-listbox .ye-map-footer .z-doublebox:focus, .ye-validation-info .ye-list-listbox .ye-map-footer input:focus, .ye-validation-info .ye-list-listbox .ye-map-footer input.z-textbox:focus, .ye-validation-info .ye-list-listbox .ye-map-footer .z-longbox:focus, .ye-validation-info .ye-list-listbox .ye-map-footer .z-intbox:focus, .ye-validation-info .ye-list-listbox .ye-map-footer .z-decimalbox:focus, .ye-validation-info .ye-list-listbox .ye-map-footer .z-doublebox:focus {
    border-color: var(--bo-input-focus-border-color);
    background: none; }
.ye-validation-error .ye-list-listbox .ye-map-footer .z-bandbox-input:focus + .z-bandbox-button, .ye-validation-warn .ye-list-listbox .ye-map-footer .z-bandbox-input:focus + .z-bandbox-button, .ye-validation-info .ye-list-listbox .ye-map-footer .z-bandbox-input:focus + .z-bandbox-button {
  border-color: var(--bo-input-focus-border-color); }
.ye-validation-error .ye-list-listbox .ye-map-footer .z-combobox-button, .ye-validation-warn .ye-list-listbox .ye-map-footer .z-combobox-button, .ye-validation-info .ye-list-listbox .ye-map-footer .z-combobox-button {
  border-color: var(--bo-container-border-color);
  background: none; }
.ye-validation-error .ye-list-listbox .ye-map-footer input:focus + .z-combobox-button, .ye-validation-warn .ye-list-listbox .ye-map-footer input:focus + .z-combobox-button, .ye-validation-info .ye-list-listbox .ye-map-footer input:focus + .z-combobox-button {
  border-color: var(--bo-input-focus-border-color); }
