.yw-centered-panel-editor-area {
    .yw-editorarea-tabbox-tabpanels-tabpanel {
        padding: 0;

        &-groupbox {
            padding: 0 $editor-area-centered__groupbox--padding-x;

            > .z-groupbox-content {
                padding: $editor-area-centered__groupbox-content--padding;
            }
        }
    }
    .yw-editor-area-main-content {
        background-color: transparent;

        .yw-editorarea-tabbox-tabpanels-tabpanel .z-groupbox-header {
            border-width: 0;

            .yw-editorarea-tabbox-tabpanels-tabpanel-groupbox-caption {
                &.z-caption {
                    padding: $editor-area-centered__groupbox-header--padding;
                    background: $editor-area-centered__groupbox--bg-color;

                    &:after {
                        content: "";
                        position: absolute;
                        bottom: -$editor-area-centered__groupbox-header--border-width;
                        border-bottom: none;
                        height: $editor-area-centered__groupbox-header--border-width;
                        display: block;
                        left: -$editor-area-centered__groupbox--padding-x;
                        right: -$editor-area-centered__groupbox--padding-x;
                        width: auto;
                    }
                }
                .z-caption-content {
                    padding-left: $editor-area-centered__groupbox-header-caption-content--padding-left;
                }
                .yw-expandCollapse.z-button {
                    top: nth($editor-area-centered__groupbox-header--padding, 1);
                }
            }
        }
        .yw-editorarea-tabbox-tabpanels-tabpanel-groupbox-essential + .yw-editorarea-tabbox-tabpanels-tabpanel-groupbox .z-groupbox-header {
            border-top-width: 0;
        }
    }

    .yw-editor-area-main-content .yw-editorarea-tabbox,
    .cng-adminmode .yw-editor-area-main-content .yw-editorarea-tabbox {
         > .yw-editorarea-tabbox-tabs {
            height: $editor-area-centered__tabbox-tabs--height;

            + .z-tabbox-content-wrapper {
                top: $editor-area-centered__tabbox-tabs--height;
            }
         }
    }
    .z-tabbox-accordion > .z-tabpanels .z-tabs-content,
    .z-tabbox-top > .z-tabs .z-tabs-content {
        border-bottom-width: $editor-area-centered__toolbar--border-bottom-width;
    }
    .yw-editorarea-tabbox {
        &-tabs{
            @if ($editor-area-centered__tabbox--bg-color) and ($editor-area-centered__tabbox--bg-color != $editor-area__tabbox--bg-color){
                background-color: $editor-area-centered__tabbox--bg-color;
            }
            box-shadow: none;

            &-tab {
                .z-tab-text {
                    border-bottom-width: $editor-area-centered__tabbox-tab-text--border-bottom-width;
                }
                .z-caption-content {
                    margin-bottom: $editor-area-centered__tabbox-tab-caption--margin-bottom;
                    margin-top: $editor-area-centered__tabbox-tab-caption--margin-top;
                }
            }
        }
        &-tabpanels {
            @if($editor-area-centered__tabbox-tabpanels--padding){
                padding: $editor-area-centered__tabbox-tabpanels--padding;
            }
            box-sizing: border-box;

            &-tabpanel-groupbox {
                @if($editor-area-centered__tabbox-tabpanel-groupbox--bg-color){
                    background: $editor-area-centered__tabbox-tabpanel-groupbox--bg-color;
                }
            }
        }
        .z-tabbox-content {
            max-width: $editor-area-centered__tabbox-content--max-width;
            margin: $editor-area-centered__tabbox-content--margin;
            box-shadow: $editor-area-centered__tabbox-content--box-shadow;
            padding: 0;
            text-align: left;
            height: auto;

            &-wrapper {
                padding: $editor-area-centered__tabbox-content-wrapper--padding;
                background-color: transparent;
                text-align: center;
                overflow: auto;

                @media screen and (max-width: $editor-area-centered__tabbox-content-wrapper--full-width-bp) {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }

        &.yw-static-section-active {
            .yw-editorarea-tabbox-tabpanels {
                width: $editor-area-centered__tabbox-tabpanles-static-active--width;
                border-right: $editor-area-centered__tabbox-active-sidebar-contents--border-right;
            }
            .z-tabbox-static-section {
                width: $editor-area-centered__tabbox-static-section--width;
            }
        }
        .z-tabbox-left-scroll,
        .z-tabbox-right-scroll {
            @if ($editor-area-centered__tabbox--bg-color) and ($editor-area-centered__tabbox--bg-color != $editor-area__tabbox--bg-color){
                background-color: $editor-area-centered__tabbox--bg-color;
            }
            height: $editor-area-centered__tabbox-scroll--height;
            margin-right: $editor-area-centered__tabbox-scroll--margin-x;
            margin-left: $editor-area-centered__tabbox-scroll--margin-x;
            //border-bottom-width: $editor-area-centered__toolbar--border-bottom-width;
            //border-bottom-style: solid;
        }
        .z-tabbox-right-scroll .z-icon-chevron-right,
        .z-tabbox-left-scroll .z-icon-chevron-left {
            margin: $editor-area-centered__tabbox-scroll-icon--margin;
            height: $editor-area-centered__tabbox-scroll-icon--height;
            line-height: $editor-area-centered__tabbox-scroll-icon--height;
            padding-top: 0;
        }
    }
    .cng-adminmode .yw-editor-area-main-content,
    .yw-editor-area-main-content {
        .yw-editorarea-tabbox > .yw-editorarea-tabbox-tabs + .z-tabbox-content {
            top: $editor-area-centered__tabbox-content--top;
        }
    }
    .yw-editorarea-actioncontainer {
        background-color: $editor-area-centered__actioncontainer--bg-color;
        padding: 0;

        .y-toolbar {
            position: relative;
            padding: 0;
            border-top-width: 0;
            border-bottom-width: 0;
            line-height: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &:after {
                border-bottom-color: inherit;
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
            }

            .z-button {
                height: $editor-area-centered__actioncontainer-text-button--height;
            }
            .yw-listview-actionSlot, .yw-listview-copyLinkActionSlot {
                height: $editor-area-centered__actioncontainer-text-button--height;

                > .cng-action-group {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    .cng-action .cng-action-icon {
                        margin: 0px;
                    }
                }
            }
            .yw-listview-actionSlot,
            .yw-listview-copyLinkActionSlot,
            .widget_cnt {
                &:empty{
                    display: none;
                }
            }
            &-leftslot {
                margin-left: $editor-area-centered__toolbar-side-action-container--margin-x;
            }
            &-rightslot {
                margin-right: $editor-area-centered__toolbar-side-action-container--margin-x;
            }
        }
        .y-toolbar .yw-listview-actionSlot > .cng-action-group, .yw-listview-copyLinkActionSlot > .cng-action-group,
        .cng-action-group .z-hbox {
             table td {
                vertical-align: middle;
            }
        }
        .cng-action-group {
            .cng-action {
                margin-right: $editor-area-centered__toolbar-action--margin-right;
                &:hover {
                    background-color: $editor-area-toolbar-action-hover-background--color;
                }
            }
        }
    }
    .ye-editorarea-bottom-bar {
        height: $editor-area-centered__toolbar-bottom--height;
        @if $_editor-area-centered__toolbar-bottom--padding {
            padding: $_editor-area-centered__toolbar-bottom--padding;
        }
        > .yw-editor-area-nested-toolbar-widget{
            &:empty {
                display: none;
            }
        }
        @if $editor-area-centered__toolbar-bottom-button--height {
            .ye-cancel-container,
            .ye-save-container {
                .z-button {
                    height: $editor-area-centered__toolbar-bottom-button--height;
                    padding-top: $editor-area-centered__toolbar-bottom-button--padding-y;
                    padding-bottom: $editor-area-centered__toolbar-bottom-button--padding-y;
                }
            }
        }
    }
}
