@charset "UTF-8";

@font-face {
    font-family: "SAP-icons";
    src: url("font/SAP-icons.eot");
    src: url("font/SAP-icons.eot?#iefix") format("embedded-opentype"),
         url("font/SAP-icons.woff") format("woff"),
         url("font/SAP-icons.ttf") format("truetype");

    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
