@charset "UTF-8";
@font-face {
    font-family: "commerce_BO_extended";
    src: url("font/Commerce_BO_Extended.eot");
    src: url("font/Commerce_BO_Extended.eot?#iefix") format("embedded-opentype"),
         url("font/Commerce_BO_Extended.woff") format("woff"), 
         url("font/Commerce_BO_Extended.ttf") format("truetype"),
         url("font/Commerce_BO_Extended.svg#commerce_BO_extended") format("svg");
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
