/*================================
    Switch-Type Checkbox
================================*/
// Default styling of Checkbox & Radiobox in Cockpitng

@charset "UTF-8";
@import "../support/_cockpit-variables.scss";

.ye-switch-checkbox.z-checkbox {
    min-height: $editor-defaults__switch-checkbox--min-height;
    line-height: $editor-defaults__switch-checkbox--line-height;
    min-width: $editor-defaults__switch-checkbox-guide--width;
    padding-top: $_editor-defaults__switch-checkbox-padding-top;
    padding-bottom: $_editor-defaults__switch-checkbox-padding-bottom;
    padding-left: 0;
    width: auto;

    label {
        font-size: $_editor-defaults__switch-checkbox-label--font-size;
        line-height: $editor-defaults__switch-checkbox--line-height;
        padding-left: $editor-defaults__switch-checkbox--padding-left;
        margin-left: $editor-defaults__switch-checkbox-guide--width;

        &:before,
        &:after {
            content: "";
            transition: $editor-defaults__switch-checkbox--transition;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            margin-top: 0;
            margin-left: 0;
        }

        &:before {
            width: $editor-defaults__switch-checkbox-guide--width;
            height: $editor-defaults__switch-checkbox-guide--height;
            border-radius: $editor-defaults__switch-checkbox-guide--border-radius;
            background: $editor-defaults__switch-checkbox-guide--bg-color;
            border: $editor-defaults__switch-checkbox-guide--border;
        }

        &:after {
            margin-left: $editor-defaults__switch-checkbox--margin-left;
            width: $editor-defaults__switch-checkbox-btn--width;
            height: $editor-defaults__switch-checkbox-btn--height;
            border-radius: $editor-defaults__switch-checkbox-btn--border-radius;
            border: $editor-defaults__switch-checkbox--border;
            background: $editor-defaults__switch-checkbox-btn--bg-color;
            content: $editor-defaults__switch-checkbox--content;
            color: $editor-defaults__switch-checkbox--text-color;
            font-size: $editor-defaults__switch-checkbox--content-size;
            font-family: var(--bo-content-icon-font-family);
            text-align: center;
        }

        &:hover {
            &:before {
                background: $editor-defaults__switch-checkbox-guide-hover--bg-color !important;
                border-color: $editor-defaults__switch-checkbox-guide-hover--border-color !important;
            }
            &:after {
                box-shadow: 0 0 0 0.125rem $editor-defaults__switch-checkbox-hover--border-color !important;
                background: $editor-defaults__switch-checkbox-hover--bg-color !important;
            }
        }

        // &:focus {
        //     border: $editor-defaults__switch-checkbox-focus-border;
        //     border-radius: $editor-defaults__switch-checkbox-focus-border-radius;
        //     padding: $editor-defaults__switch-checkbox-focus-padding;
        // }

        &:empty {
            padding-left: 0;
            padding-right: 0;
        }
    }

    input:checked ~ label.z-checkbox-content {
        &:before {
            background: $editor-defaults__switch-checkbox-guide-checked--bg-color;
            border-color: $editor-defaults__switch-checkbox-guide-checked--border-color;
            content: '';
        }

        &:after {
            margin-left: $editor-defaults__switch-checkbox-selected--margin-left;
            background: $editor-defaults__switch-checkbox-checked--bg-color;
            border-color: $editor-defaults__switch-checkbox-checked--border-color;
            content: $editor-defaults__switch-checkbox-checked--content;
            color: $editor-defaults__switch-checkbox-selected--text-color;
            font-size: $editor-defaults__switch-checkbox--content-size;
            font-family: var(--bo-content-icon-font-family);
            text-align: center;
        }
        // &:focus {
        //     border: $editor-defaults__switch-checkbox-focus-border;
        //     border-radius: $editor-defaults__switch-checkbox-focus-border-radius;
        //     padding: $editor-defaults__switch-checkbox-focus-padding;
        // }
        &:hover {
            &:before {
                background: $editor-defaults__switch-checkbox-guide-checked-hover--bg-color !important;
                border-color: $editor-defaults__switch-checkbox-guide-checked-hover--border-color !important;
            }
            &:after {
                background: $editor-defaults__switch-checkbox-checked-hover--bg-color !important;
                box-shadow: 0 0 0 0.125rem $editor-defaults__switch-checkbox-checked-hover--border-color !important;
            }
        }
    }
}

.ye-switch-checkbox.z-checkbox {
    &.z-checkbox-disabled,
    &.z-checkbox-switch-disabled {
        label.z-checkbox-content {
            &:before {
                &:hover, &:focus, &:active {
                    opacity: $editor-defaults__switch-checkbox-disabled-opacity;
                    cursor: auto;
                }
            }
            &:after {
                &:hover, &:focus, &:active {
                    opacity: $editor-defaults__switch-checkbox-disabled-opacity;
                    cursor: auto;
                }
            }
        }
    }
}
