$collection-editor-area__multi-reference-right--width: 246px;

$collection-editor-area__multi-reference-right--min-width: 220px;
$collection-editor-area__modal-listview-actioncontainer--padding-top: false;
$_collection-editor-area__modal-container--border-color: $_default__delimiter--border-color;
$_collection-editor-area__modal-container--border-width: $boxes--border__thin;
$_collection-editor-area__modal-listview-actioncontainer--margin-top: $_collection-editor-area__modal-container--border-width * -1;
