/*================================
    Summary View Widget
================================*/
/* Status */
/* Button Color Scheme */
.yw-valuechooser-container {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  table-layout: fixed;
  color: var(--bo-content-label-color); }
.yw-valuechooser-option-container {
  padding: 30px 0;
  transition: background-color 0.3s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  vertical-align: middle;
  position: relative;
  padding-left: 48px; }
  .yw-valuechooser-option-container:before {
    content: "";
    width: 16px;
    height: 16px;
    border: 1px solid var(--bo-field-border-color);
    border-radius: var(--bo-input-border-radius);
    margin-right: 8px;
    margin-left: -24px;
    line-height: 14px;
    font-family: var(--bo-content-icon-font-family);
    color: var(--bo-selected-color);
    font-size: 12px;
    display: block; }
  .yw-valuechooser-option-container:hover:before {
    background-color: var(--bo-input-hover-background);
    border-color: var(--bo-input-hover-border-color); }
  .yw-valuechooser-option-container:first-child {
    border-left-width: 0; }
.yw-valuechooser-option-selected:before {
  content: "\e05b"; }
.yw-valuechooser-selection-handler {
  cursor: pointer; }
.yw-valuechooser-option {
  padding: 0;
  font-size: 14px; }
  .yw-valuechooser-option.z-button, .yw-valuechooser-option.z-button:focus, .yw-valuechooser-option.z-button:active, .yw-valuechooser-option.z-button:hover {
    border-color: transparent;
    background-color: transparent;
    box-shadow: none;
    color: inherit;
    min-height: auto;
    text-transform: uppercase; }
