@charset "utf-8";
@import "cockpitng-globals.scss";

$image_cropper_preview_image--max-height: 300px;
$image_cropper_preview_image--max-width: 600px;

$image_cropper_preview_actions_container--height: $editor-defaults__inline-box--height; //36px
$image_cropper_preview_actions_container--bottom: $container-spacing-default__two-thirds;
$image_cropper_preview_actions_container--padding-top: $_container-spacing-default__tiny;
$image_cropper_preview_actions_container--border-top: $boxes--border__thin solid var(--bo-page-footer-border-color);
$image_cropper_preview_actions_button--margin-right: $_container-spacing-default__tiny;
$image_cropper_preview_actions_button--min-height: 32px;
$image_cropper_preview_actions_button--min-width: 64px;

$image_cropper_preview_container--padding-bottom: 2 * $_container-spacing-default__tiny + $image_cropper_preview_actions_container--height;
$image_cropper_preview_container--padding: $_container-spacing-default__tiny $_container-spacing-default__tiny $image_cropper_preview_container--padding-bottom $_container-spacing-default__tiny;

// Override JCrop
$z-cropper-handle--border: $boxes--border__thin/2 solid var(--bo-button-border-color);
$z-cropper-handle--size: 6px;
$z-cropper-handle--background: var(--bo-button-background);
$z-cropper--dragbar-border: $boxes--border__thin/2 dashed var(--bo-input-border-color);
$z-cropper-shade--background: var(--bo-block-layer-background);
