//_default-extendedmultireferenceeditor-validation

@mixin _addValidationTypeInExtededMultiReferenceEditor ($type, $color, $bg-color) {
    .z-listitem.ye-validation-#{$type} {
        .z-listcell {
            @if $bg-color {
                background-color: $bg-color;
            }
            &.ye-editable-property {
                input {
                    background: $form-defaults__input--bg-color;
                    border-color: $editor-area__box--border-color;
                    color: $editor-area__box--text-color !important;
                }
            }
        }
        &:hover {
            .z-listcell {
                @if $bg-color {
                    background-color: $bg-color;
                }
            }
        }
        td.ye-row-status-edited {
            border-left-color: $color !important;
        }
    }
    .z-listcell.ye-validation-#{$type} {
        color: $color;
        .z-listcell-content {
            &,
            .z-label,
            .yw-listview-cell-label {
                color: inherit;
            }
        }
    }
}

.ye-com_hybris_cockpitng_editor_extendedmultireferenceeditor {
    @include _addValidationTypeInExtededMultiReferenceEditor (error, $validation__error--color, $editor-area__validation_error--bg-color);
    @include _addValidationTypeInExtededMultiReferenceEditor (warn, $validation__warn--color, $editor-area__validation_warn--bg-color);
    @include _addValidationTypeInExtededMultiReferenceEditor (info, $validation__info--color, $editor-area__validation_info--bg-color);

    .z-listitem.ye-validation-none {
        .z-listcell {
            background-color: $_default-list__item--bg-color;
        }
    }
    .z-listcell.ye-validation-none {
        .z-listcell-content {
            color: $editor-area__box--text-color !important;
        }
        input[type="radio"]:checked ~ .z-radio-content {
            color: $editor-area__box--text-color;
        }
    }
}