//_default-extendedmultireferenceeditor-buttons

.yw-global-save {
    position: relative;
    @if $multi-ref-editor__header-save-icon--bg-image {
        background-position: 0 ($multi-ref-editor__header-save-icon--size * -4);
    }
    opacity: $_multi-ref-editor__list-item-icon-button-disabled--opacity;

    &.z-button.y-btn-transparent.cng-font-icon {
        &:not(.yw-global-save-active) {
            &:hover,
            &:focus,
            &:active {
                box-shadow: none;
                background: transparent;
                border-color: transparent;
                outline: none;
                color: $multi-ref-editor__list-item-actiondots-icon--color;
            }
        }
    }

    &:before {
        display: block;
        width: $multi-ref-editor__header-save-icon--size;
        height: $multi-ref-editor__header-save-icon--size;
        @if $multi-ref-editor__header-save-icon--bg-image {
            background-image: $multi-ref-editor__header-save-icon--bg-image;
            background-repeat: no-repeat;
            background-position: inherit;
            content: "";
        } @else {
            content: $_multi-ref-editor__header-save-icon--content;
            font-family: $_multi-ref-editor__list-default-icon--font-family;
            text-align: center;
        }
    }
    &-active {
        opacity: 1;
        @if $multi-ref-editor__header-save-icon--bg-image {
            background-position: 0 0px;
        }
    }
}

.ye-com_hybris_cockpitng_editor_extendedmultireferenceeditor {

    .yw-global-save-container {
        &.z-listheader,
        .z-listheader-content {
            overflow: visible !important;
            padding: 0 !important;
        }
    }

    .yw-global-save {
        margin: $multi-ref-editor__header-save-button--margin;
        padding: $multi-ref-editor__header-save-button--padding;
        //// presumably unused class-definition
        // &-active-click {
        //     @include _yw-global-save-icon();
        //     background-position: 0 ($multi-ref-editor__header-save-icon--size * -3);
        //     &:hover {
        //         cursor: pointer;
        //     }
        // }
    }

    td.ye-actiondots {
        padding-right: 0 !important;
        text-align: left;
        font-size: $font-size__large;

        > .z-listcell-content {
            @include _add-button-styles("-transparent");
            height: $multi-ref-editor__list-item-actiondots-icon--size;
            width: $multi-ref-editor__list-item-actiondots-icon--size;
            display: inline-block;
            padding: 0;
            margin: 0 auto;
            position: relative;
            text-align: center;

            &:hover {
                background: $multi-ref-editor__list-item-actiondots-button-hover--bg-color !important;
            }

            &:before {
                content: $_multi-ref-editor__list-item-actiondots-icon--content;
                font-size: $_multi-ref-editor__list-item-actiondots-icon--font-size;
                font-family: $_multi-ref-editor__list-item-actiondots-icon--font-family;
                line-height: $multi-ref-editor__list-item-actiondots-icon--size;
                color: $multi-ref-editor__list-item-actiondots-icon--color;
            }
        }
        &:first-child {
            text-align: left;

            > .z-listcell-content {
                float: left;
                margin: 2px 0px 2px 0px;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        &:last-child {
            text-align: right;

            > .z-listcell-content {
                margin-right: $multi-ref-editor__list-item-actiondots-button--margin-x;
                float: right;
            }
        }
        &:hover {
            > .z-listcell-content {
                height: $multi-ref-editor__list-item-actiondots-icon--size;
                width: $multi-ref-editor__list-item-actiondots-icon--size;
                background-repeat: no-repeat;
            }
        }
    }
    .ye-actiondots,
    .z-listitem:hover .ye-actiondots {

        &,
        &:hover,
        &-focus,
        &-active,
        &-disabled {
            > .z-listcell-content {
                color: inherit;
            }
        }

    }


    td.ye-row-status + td.ye-actiondots > .z-listcell-content {
        background: transparent;
        margin: 3px 1px 1px 1px;;
    }
}