/*================================
    Side Navigation (Mixins)
================================*/
@import "_sidenavigation-variables.scss";

@mixin _rowStateColor($selector, $color: false, $bg-color: false) {
  @if $color or $bg-color {
    .#{$selector} {
      @if $bg-color {
        background-color: $bg-color;
      }
      @if $color {
        > .z-treecell {
          .z-treecell-content {
            color: $color;
          }
        }
      }
    }
  }
}

@mixin _rowAndCellStateColor($selector, $treerow-bg-color: false, $treecell-bg-color: false, $treecell-side-color: false, $treecell-color: false) {
  
    .#{$selector} {
      @if $treerow-bg-color {
        background-color: $treerow-bg-color;
      }
      > .z-treecell {
        .z-treecell-content {

          @if $treecell-bg-color {
            background-color: $treecell-bg-color;
          }
          @if $treecell-color {
            color: $treecell-color;
          }

          &:before {
            left: 0;
            top: 0;
            content: "";
            height: 100%;
            width: 0.25rem;
            position: absolute;
            @if $treecell-side-color {
              background-color: $treecell-side-color;
            }
          }
        }
      }
  }
}
