@import "../support/_summaryView-variables.scss";

.yw-summaryview-dataquality {
    &-bar {        
        height: $summaryView__quallity-bar--height;
        background: $summaryView__quallity-bar--bg;
        background-image: none;
        border: $summaryView__quallity-bar--border;
        border-radius: $summaryView__quallity-bar--border-radius;
        margin-top: $summaryView__quallity-bar--margin-top;
        position: relative;
        width: 100%;

        &-container-caption {
            width: 100%;

            .z-caption-content {
                font-size: $summaryView__widget--smaller--font-size;
                width: 100%;
            }
        }

        .z-progressmeter-image {
            top: 0;
            border-radius: $summaryView__quallity-bar--border-radius;
        }

        &-valid .z-progressmeter-image {
            background-color: $summaryView__quallity-bar-progressmeter-valid--color;
            height: $summaryView__quallity-bar--height;
        }

        &-warning .z-progressmeter-image {
            background-color: $summaryView__quallity-bar-progressmeter-warning--color;
            height: $summaryView__quallity-bar--height;
        }

        &-error .z-progressmeter-image {
            background-color: $summaryView__quallity-bar-progressmeter-error--color;
            height: $summaryView__quallity-bar--height;
        }
    }

    &-container {
        border: none;

        &.z-groupbox {
            padding-top: 0;

            > .z-groupbox-header {
                padding: $summaryView__quality-header--padding;
                height: auto;
                position: relative;
                
                .z-caption{
                    min-height: $_summaryView__groupbox-header-collapse-icon--size;
                    padding: 0;
                    background: transparent;
                    position: static;
                    line-height: 0;

                    &-content {
                        font-size: $summaryView__widget--smaller--font-size;
                        line-height: $_summaryView__widget--smaller--line-height; // $_summaryView__quality-header-caption--line-height;
                        color: $summaryView__widget--smaller--color;
                        font-weight: $summaryView__widget--smaller--font-weight;
                        position: relative;
                        width: 100%;

                        .yw-caption-icon {
                            position: absolute;
                            right: $summaryView__quality-item-header--right;
                            top: $summaryView__quality-item-header--top;
                            font-style: normal;
                        }
                    }
                }
            }
            &-collapsed {
                background: transparent;
            }
        }

        .yw-summaryview-section-container-content & {
            > .z-groupbox-content {
                padding: $summaryView__quality-content--padding;

                &:after {
                    content: "";
                    transition: $_summaryView__quality-content--transition;
                    border-bottom: $_summaryView__quality-content--border-bottom;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                }
            }
            &.z-groupbox-collapsed > .z-groupbox-content:after {
                border-color: transparent;
            }
        }

        &-content {
            > .z-vlayout-inner:last-child {
                border: none;
            }
        }
    }

    &-item-container {
        position: relative;
        cursor: pointer;

        .z-label {
            margin-right: $summaryView__quality-item-label--margin-right;
            padding: $summaryView__quality-item-label--padding;
            font-size: $summaryView__widget--smaller--font-size;
            line-height: $_summaryView__widget--smaller--line-height;
            display: inline-block;
        }
        button.z-button {
            height: $summaryView__quality-item-status-button--height;
            width: $summaryView__quality-item-status-button--width;
            margin-top: $summaryView__quality-item-status-button--margin-top;
            right: $summaryView__quality-item-status-button--right;
            top: 50%;
            padding: 0;
            min-height: 0;
            background: transparent !important;
            display: block;
            position: absolute;     
        }
        .z-icon-times {
            color: $summaryView__quallity-bar-progressmeter-warning--color;
        }
        .z-icon-check {
            color: $summaryView__quallity-bar-progressmeter-valid--color;
        }
    }
}