/* Status */
/* Button Color Scheme */
/*================================
    Default List
================================*/
/* Status */
/* Button Color Scheme */
/*================================
    Default List Defaults
================================*/
.ye-list-toolbar,
.ye-list-content .z-listbox {
  border-color: var(--bo-container-border-color); }

.ye-list-content .z-listbox {
  border-top-color: var(--bo-list-border-color);
  border-bottom-left-radius: var(--bo-input-border-radius);
  border-bottom-right-radius: var(--bo-input-border-radius); }

.ye-list-toolbar {
  background-color: var(--bo-toolbar-background);
  padding: 8px 16px;
  border-top-left-radius: var(--bo-input-border-radius);
  border-top-right-radius: var(--bo-input-border-radius); }
  .ye-list-toolbar .z-button {
    width: 36px;
    height: 36px;
    min-height: 36px;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    background-color: var(--bo-toolbar-background);
    color: var(--bo-button-text-color);
    border: 1px solid var(--bo-button-border-color);
    margin-right: 8px !important; }
    .ye-list-toolbar .z-button:before {
      font-size: 14px;
      font-family: var(--bo-content-icon-font-family);
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      position: absolute; }
    .ye-list-toolbar .z-button:hover, .ye-list-toolbar .z-button:focus {
      color: var(--bo-button-active-color);
      background-color: var(--bo-button-active-background);
      border-color: var(--bo-button-active-border-color); }
    .ye-list-toolbar .z-button[disabled], .ye-list-toolbar .z-button[disabled]:hover, .ye-list-toolbar .z-button[disabled]:focus {
      cursor: default;
      background-color: var(--bo-toolbar-background);
      color: var(--bo-button-text-color);
      border: 1px solid var(--bo-button-border-color);
      opacity: 0.4; }
    .ye-list-toolbar .z-button:last-child {
      margin-right: 0 !important; }
    .ye-list-toolbar .z-button.ye-list-toolbar-button-add {
            /*
            background-image: $list-editor__toolbar-add-button--bg-image;

            &:hover {
                background-image: $list-editor__toolbar-add-button-hover--bg-image;
            }

            &[disabled] {
                background-image: $list-editor__toolbar-add-button-disabled--bg-image;
            }
            */ }
      .ye-list-toolbar .z-button.ye-list-toolbar-button-add:before {
        content: "\e058"; }
    .ye-list-toolbar .z-button.ye-list-toolbar-button-edit {
            /*
            background-image: $list-editor__toolbar-edit-button--bg-image;

            &:hover {
                background-image: $list-editor__toolbar-edit-button-hover--bg-image;
            }

            &[disabled] {
                background-image: $list-editor__toolbar-edit-button-disabled--bg-image;
            }
            */ }
      .ye-list-toolbar .z-button.ye-list-toolbar-button-edit:before {
        content: "\e038"; }
    .ye-list-toolbar .z-button.ye-list-toolbar-button-delete {
            /*
            background-image: $list-editor__toolbar-delete-button--bg-image;

            &:hover {
                background-image: $list-editor__toolbar-delete-button-hover--bg-image;
            }

            &[disabled] {
                background-image: $list-editor__toolbar-delete-button-disabled--bg-image;
            }
            */ }
      .ye-list-toolbar .z-button.ye-list-toolbar-button-delete:before {
        content: "\e03d"; }
  .ye-list-toolbar span[style*="display: none"] + .z-button.ye-list-toolbar-button-add:not([disabled]) {
    color: var(--bo-button-active-color);
    background-color: var(--bo-button-active-background);
    border-color: var(--bo-button-active-border-color); }
  .ye-list-toolbar-popup-add {
    border-width: 1px; }
    .ye-list-toolbar-popup-add.z-popup-open > .z-popup-content {
      padding: 12px; }
    .ye-list-toolbar-popup-add .ye-btn-container {
      text-align: right;
      padding: 8px 1px; }
      .ye-list-toolbar-popup-add .ye-btn-container > button.z-button.ye-btn-cancel,
      .ye-list-toolbar-popup-add .ye-btn-container > button.z-button.y-btn-primary {
        margin: 0 0 0 8px;
        padding: 0 12px; }
    .ye-list-toolbar-popup-add-checkbox {
      display: inline-block;
      margin-top: 4px; }
    .ye-list-toolbar-popup-add-container > .z-vlayout-inner {
      padding-top: 8px; }
      .ye-list-toolbar-popup-add-container > .z-vlayout-inner:first-child {
        padding-top: 0; }

.ye-list-listbox .z-paging {
  line-height: 0;
  padding: 4px 16px;
  border-color: var(--bo-list-border-color); }
  .ye-list-listbox .z-paging ul > li {
    line-height: 36px;
    margin-right: 8px; }
    .ye-list-listbox .z-paging ul > li:last-child {
      margin-right: 0; }
  .ye-list-listbox .z-paging-button {
    background-image: none;
    font-weight: 400;
    color: var(--bo-button-icon-color); }
    .ye-list-listbox .z-paging-button:hover, .ye-list-listbox .z-paging-button:focus {
      background-color: transparent; }
  .ye-list-listbox .z-paging-selected, .ye-list-listbox .z-paging-selected:hover, .ye-list-listbox .z-paging-selected:focus {
    font-weight: 700;
    color: var(--bo-list-text-color);
    background-color: transparent; }
  .ye-list-listbox .z-paging-os .z-paging-info:last-child {
    position: static;
    float: right; }
.ye-list-listbox .z-listitem .z-listcell-content, .ye-list-listbox .z-listitem .z-listcell-content:hover {
  height: auto;
  line-height: 18px;
  min-height: 34px;
  padding: 8px 16px; }
.ye-list-listbox .z-listitem-selected > .z-listcell {
  box-shadow: var(--bo-content-shadow-small); }
  .ye-list-listbox .z-listitem-selected > .z-listcell.ye-list-line-editor {
    box-shadow: none; }
.ye-list-listbox .ye-list-line-editor,
.ye-list-listbox .z-listitem:hover .ye-list-line-editor,
.ye-list-listbox div.z-listbox-body .z-listcell.z-draggable-over,
.ye-list-listbox div.z-listbox-body tr.z-listitem-selected.z-listitem td.ye-list-line-editor div.z-listcell-content {
  background: var(--bo-container-background); }
.ye-list-listbox .ye-list-inline-editor .ye-com_hybris_cockpitng_editor_defaulttext {
  width: 100%; }
.ye-list-listbox .z-listbox-emptybody td > div:empty {
  min-height: 16px; }

.ye-list-line-editor button {
  float: right;
  margin-top: 8px;
  margin-left: 8px; }

.ye-list-toolbar-popup-add.z-popup-open > .z-popup-content {
  padding: 12px; }
.ye-list-toolbar-popup-add .ye-btn-container {
  text-align: right; }
  .ye-list-toolbar-popup-add .ye-btn-container > button.z-button.ye-btn-cancel,
  .ye-list-toolbar-popup-add .ye-btn-container > button.z-button.y-btn-primary {
    margin: 0 0 0 8px;
    padding: 0 12px; }
.ye-list-toolbar-popup-add-checkbox {
  display: inline-block;
  margin-top: 4px; }

.ye-list-toolbar-inline-editor-add {
  padding: 12px;
  border: solid 1px var(--bo-container-border-color);
  border-top: none; }
  .ye-list-toolbar-inline-editor-add .ye-btn-container {
    text-align: right; }
    .ye-list-toolbar-inline-editor-add .ye-btn-container > button.z-button.ye-btn-cancel,
    .ye-list-toolbar-inline-editor-add .ye-btn-container > button.z-button.y-btn-primary {
      margin: 0 0 0 8px;
      padding: 0 12px; }
  .ye-list-toolbar-inline-editor-add-checkbox {
    display: inline-block;
    margin-top: 4px; }

.ye-com_hybris_cockpitng_editor_defaultlist td.z-listcell > div.z-listcell-content {
  min-height: 18px; }
.ye-com_hybris_cockpitng_editor_defaultlist .z-paging-button {
  background-image: none; }
.ye-com_hybris_cockpitng_editor_defaultlist .ye-list-inline-editor .ye-com_hybris_cockpitng_editor_defaulttext {
  width: 100%; }
