/* Status */
/* Button Color Scheme */
/* Status */
/* Button Color Scheme */
.ye-dndfileupload-upload-container {
  display: table;
  width: 100%;
  text-align: center;
  position: relative; }
  .ye-dndfileupload-upload-container > .ye-dndfileupload-drop-upload {
    left: 0px !important;
    top: 0px !important;
    position: absolute !important;
    background: rgba(255, 255, 255, 0); }
.ye-dndfileupload-container {
  min-height: 120px;
  background-color: var(--bo-container-background);
  border: 1px solid var(--bo-container-border-color);
  border-radius: var(--bo-input-border-radius);
  width: auto;
  display: inline-table;
  position: relative; }
.ye-dndfileupload-preview-container {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  padding: 0; }
.ye-dndfileupload-preview-image {
  max-height: 250px;
  max-width: 100%;
  margin-bottom: 0;
  border-top-left-radius: var(--bo-input-border-radius);
  border-top-right-radius: var(--bo-input-border-radius); }
.ye-dndfileupload-preview-filename.z-label {
  padding: 8px;
  margin: 0;
  border-top: 1px solid var(--bo-container-border-color);
  font-size: 12px;
  color: var(--bo-text-color);
  display: block; }
.ye-dndfileupload-component {
  margin: 0; }
  .ye-dndfileupload-component:last-child {
    margin-bottom: 0; }
.ye-dndfileupload-drop-anchor {
  border: 1px dashed var(--bo-input-border-color);
  height: 120px;
  border-radius: var(--bo-input-border-radius);
  background-color: transparent;
  color: var(--bo-container-border-color);
  box-sizing: border-box;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  width: 100%; }
  .ye-dndfileupload-drop-anchor .z-button,
  .ye-dndfileupload-drop-anchor .z-label {
    display: inline;
    position: relative;
    font-size: inherit;
    line-height: inherit;
    vertical-align: baseline; }
  .ye-dndfileupload-drop-anchor .z-button {
    margin-right: 0.5em;
    color: var(--bo-button-icon-color);
    padding: 24px 0 24px 24px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none; }
    .ye-dndfileupload-drop-anchor .z-button:before {
      left: 0;
      position: absolute;
      content: "\e12e";
      font-size: 16px;
      font-family: var(--bo-content-icon-font-family); }
.ye-dndfileupload-drop-upload {
  background: transparent; }
  .ye-dndfileupload-drop-upload + .ye-dndfileupload-drop-anchor {
    background-color: var(--bo-container-background); }
  .ye-dndfileupload-drop-upload[style*="display: none"] + .ye-dndfileupload-drop-anchor {
    background-color: transparent;
    border-color: var(--bo-container-border-color); }
  .ye-dndfileupload-drop-upload > div {
    display: none; }
.ye-dndfileupload-preview-remove-btn {
  width: 24px;
  height: 24px;
  min-height: 24px;
  display: inline-block;
  position: absolute;
  right: 0; }
  .ye-dndfileupload-preview-remove-btn, .ye-dndfileupload-preview-remove-btn:hover, .ye-dndfileupload-preview-remove-btn:focus, .ye-dndfileupload-preview-remove-btn:active {
    background: none;
    padding: 0;
    box-shadow: none;
    border: none; }
.ye-dndfileupload-drop-upload-size-label.z-label {
  display: table-row;
  text-align: left;
  line-height: 16px;
  font-size: 12px; }

/* Status */
/* Button Color Scheme */
/* Status */
/* Button Color Scheme */
.ye-dndfileupload-single-line-mode {
  background: var(--bo-list-background);
  border: 1px solid var(--bo-list-border-color);
  border-radius: var(--bo-input-border-radius);
  padding: 10px 8px 9px;
  min-height: 36px;
  height: 36px;
  line-height: 16px;
  font-size: 14px;
  position: relative; }
  .ye-dndfileupload-single-line-mode.ye-dndfileupload-container {
    box-shadow: none;
    display: block;
    height: auto;
    margin: 0; }
  .ye-dndfileupload-single-line-mode .ye-dndfileupload-preview-container {
    padding: 0 0 0 0;
    margin: 0 28px 0 0;
    text-align: left;
    position: relative;
    display: block; }
  .ye-dndfileupload-single-line-mode .ye-dndfileupload-preview-remove-btn {
    width: 24px;
    height: 24px;
    min-height: 24px;
    margin-top: -12px;
    right: 8px;
    display: block;
    position: absolute;
    top: 50%;
    border-color: transparent;
    background: transparent; }
    .ye-dndfileupload-single-line-mode .ye-dndfileupload-preview-remove-btn:hover {
      color: var(--bo-button-hover-color);
      border: 1px solid var(--bo-button-hover-border-color);
      background: var(--bo-button-hover-background); }
  .ye-dndfileupload-single-line-mode .ye-dndfileupload-preview-image {
    max-height: 20px;
    max-width: 20px;
    transform: translate3d(-50%, -50%, 0);
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
    position: absolute;
    top: 50%;
    border-radius: 0; }
  .ye-dndfileupload-single-line-mode .ye-dndfileupload-preview-filename.z-label {
    padding: 0 0 0 28px;
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 0;
    border: none;
    display: inline-block;
    -ms-word-wrap: break-word;
    word-wrap: break-word; }
  .ye-dndfileupload-single-line-mode:hover {
    background: var(--bo-list-hover-background); }
    .ye-dndfileupload-single-line-mode:hover .ye-dndfileupload-preview-remove-btn {
      display: block; }
      .ye-dndfileupload-single-line-mode:hover .ye-dndfileupload-preview-remove-btn, .ye-dndfileupload-single-line-mode:hover .ye-dndfileupload-preview-remove-btn:hover, .ye-dndfileupload-single-line-mode:hover .ye-dndfileupload-preview-remove-btn:focus, .ye-dndfileupload-single-line-mode:hover .ye-dndfileupload-preview-remove-btn:active {
        background: transparent; }
