.yw-modal-RegisterIOWithOAuthCredential .integrationbackoffice-modal-body {
    border-bottom: 0
}

.yw-modal-RegisterIOWithOAuthCredential .integrationbackoffice-editor-splitlayout {
    border-top: 1px solid var(--bo-field-border-color);
}

.yw-modal-RegisterIOWithOAuthCredential .integrationbackoffice-editor-white-background {
    margin-left: 10px;
}

.yw-modal-RegisterIOWithOAuthCredential .integrationbackoffice-modal-body {
    border-top: 0 solid;
}

.yw-modal-RegisterIOWithOAuthCredential .integrationbackoffice-create-oauth-cred {
    display: block;
    margin-top: 20px;
    padding: 15px 0 15px 0;
}

.yw-modal-RegisterIOWithOAuthCredential .integrationbackoffice-modal-label-user {
    padding: 5px 0 5px 0;
}

.yw-modal-RegisterIOWithOAuthCredential .integrationbackoffice-modal-button {
    margin-top:70px;
    margin-right: 0;
}
