@import "cockpitng-globals.scss";

$valueChooser__option-container--border: $boxes--border__thin solid $_default-list__item--border-color;
$valueChooser__option--padding: 0;
$valueChooser__option--color: $form-defaults__label--color;
$valueChooser__option--font-size: $font-size__base;

$valueChooser__option--border-bottom: $boxes--border__medium solid transparent;

$valueChooser__option-container--padding: 30px 0;
$valueChooser__option-container-transition: background-color .3s;
$valueChooser__option-transition: border-color .3s;

$_valueChooser__option-checkbox--width: $form-defaults__input-icon--size;
$_valueChooser__option-checkbox--height: $form-defaults__input-icon--size;
$_valueChooser__option-checkbox--border: $boxes--border__thin solid var(--bo-field-border-color);
$valueChooser__option-checkbox--hover--border-color: var(--bo-input-hover-border-color);
$valueChooser__option-checkbox--hover--bg-color: var(--bo-input-hover-background);
$_valueChooser__option-checkbox--border-radius: $editor-defaults__input-field--border-radius;
$_valueChooser__option-checkbox--margin-right: $_container-spacing-default__tiny;
$_valueChooser__option-checkbox--margin-left: -($_valueChooser__option-checkbox--width + $_valueChooser__option-checkbox--margin-right);
$_valueChooser__option-checkbox--line-height: $font-size__base;
$_valueChooser__option-checkbox--color: var(--bo-selected-color);
$_valueChooser__option-checkbox--font-family: $font-family__icon;
$_valueChooser__option-checkbox--content: _getIconGlyphContentValue('accept');
$_valueChooser__option-checkbox--font-size: $font-size__small;