/*================================
    Default File Upload Defaults
================================*/

.ye-com_hybris_cockpitng_editor_defaultfileupload {
    .ye-com_hybris_cockpitng_editor_defaultfileupload_reset_button {
        margin-left: $ye-com_hybris_cockpitng_editor_defaultfileupload__reset_button--margin-left;
    }
    .ye-com_hybris_cockpitng_editor_defaultfileupload_preview_container {
        border: $ye-com_hybris_cockpitng_editor_defaultfileupload__preview_container--border;
        border-radius: $ye-com_hybris_cockpitng_editor_defaultfileupload__preview_container__box--border-radius;
        margin-top: $ye-com_hybris_cockpitng_editor_defaultfileupload__preview_container--margin-top;
        text-align: center;
    }
    .ye-com_hybris_cockpitng_editor_defaultfileupload_preview_image {
        max-height: $ye-com_hybris_cockpitng_editor_defaultfileupload__preview_image--max-height;
        max-width: $ye-com_hybris_cockpitng_editor_defaultfileupload__preview_image--max-width;
    }
    .ye-com_hybris_cockpitng_editor_defaultfileupload_preview_filename {
        padding: $ye-com_hybris_cockpitng_editor_defaultfileupload_label--padding;
        margin: $ye-com_hybris_cockpitng_editor_defaultfileupload__preview_filename_label--margin;
        border-top: $ye-com_hybris_cockpitng_editor_defaultfileupload__preview_filename_label--border-top;
        font-size: $ye-com_hybris_cockpitng_editor_defaultfileupload__preview_filename_label--font-size;
        color: $ye-com_hybris_cockpitng_editor_defaultfileupload__preview_filename_label--color;
        display: block;
    }
}
