/*================================
    Collapsible-Container
================================*/
// Styling definitions for collapsible containers (lock, unlock-button, labels & positioning)

@import "cockpitng-globals.scss";
@import "scss/support/_collapsiblecontainer-variables.scss";
@import "scss/components/_collapsiblecontainer-buttons.scss";
@import "scss/components/_collapsiblecontainer-caption.scss";

.yw-caption-container span.z-label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.yw-collapsibleContainer-container {
    overflow: auto;
    clear: both;
    width: 100%;
    height: 100%;
}

.yw-collapsibleContainer  {
    .yw-collapsibleContainer-caption {
    	.yw-caption-container {

    	    .north, .center {
    	        padding-right: $collapsible-container__expand-button--size;
    	    }

			.yw-copylink-slot {
				display: inline-block;
				position: absolute;
				right: $collapsible-container__expand-button--size;
				top: 2px;

				.yw-deeplink-copy {
				    margin-right: 8px;
				}
			}
        }
    }
}
