/* Status */
/* Button Color Scheme */
.yw-collapse-widget {
  line-height: 36px;
  margin-left: -24px; }
  @media (max-width: 1020px) {
    .yw-collapse-widget {
      margin-left: -8px; } }
  @media (max-width: 680px) {
    .yw-collapse-widget {
      margin-left: 0; } }
  .yw-collapse-widget .collapse-button {
    background-color: var(--bo-shell-background);
    border: none;
    margin-right: 8px; }
    .yw-collapse-widget .collapse-button:before {
      content: "\e1de";
      color: var(--bo-shell-interactive-color);
      font-size: 16px;
      font-family: var(--bo-content-icon-font-family); }
    .yw-collapse-widget .collapse-button:focus {
      outline: none; }
    .yw-collapse-widget .collapse-button:hover {
      background-color: var(--bo-shell-hover-background) !important; }
