/*================================
    Side Navigation (Mixins)
================================*/
/*================================
    Side Navigation (Variables)
================================*/
/* Status */
/* Button Color Scheme */
[data-base-theme^="sap_fiori_3"] .yw-sideNavigation-widget {
  padding: 0 !important; }
  [data-base-theme^="sap_fiori_3"] .yw-sideNavigation-widget .search-content:hover {
    background-color: var(--bo-list-hover-background) !important; }
  [data-base-theme^="sap_fiori_3"] .yw-sideNavigation-widget .search-content .search-button {
    padding-top: 0 !important; }
    [data-base-theme^="sap_fiori_3"] .yw-sideNavigation-widget .search-content .search-button:hover {
      background-image: linear-gradient(to right, var(--bo-list-hover-background) 0.25rem, var(--bo-list-hover-background) 0.25rem) !important; }
  [data-base-theme^="sap_fiori_3"] .yw-sideNavigation-widget .yw-sideNavigation .z-treecell .z-treecell-content:hover {
    background-color: transparent !important; }
  [data-base-theme^="sap_fiori_3"] .yw-sideNavigation-widget .yw-sideNavigation .z-treecell .z-treecell-content:before {
    display: none !important; }
  [data-base-theme^="sap_fiori_3"] .yw-sideNavigation-widget .yw-sideNavigation .z-treerow:hover {
    background-color: var(--bo-list-hover-background) !important; }
  [data-base-theme^="sap_fiori_3"] .yw-sideNavigation-widget .yw-sideNavigation .z-treerow.yw-selected {
    background-color: var(--bo-list-selected-background) !important; }
    [data-base-theme^="sap_fiori_3"] .yw-sideNavigation-widget .yw-sideNavigation .z-treerow.yw-selected:hover {
      background-color: var(--bo-list-selected-hover-background) !important; }
      [data-base-theme^="sap_fiori_3"] .yw-sideNavigation-widget .yw-sideNavigation .z-treerow.yw-selected:hover .z-treecell .z-treecell-content {
        background-color: transparent !important; }
    [data-base-theme^="sap_fiori_3"] .yw-sideNavigation-widget .yw-sideNavigation .z-treerow.yw-selected .z-treecell {
      border-bottom: 1px solid var(--bo-list-selected-border-color); }
[data-base-theme^="sap_fiori_3"] .search-content {
  margin-top: 0 !important; }

.yw-sideNavigation {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  background: var(--bo-container-background);
  scrollbar-color: transparent transparent; }
  .yw-sideNavigation-widget, .yw-sideNavigation-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden; }
  .yw-sideNavigation-container {
    flex: 1; }
  .yw-sideNavigation-widget {
    background: var(--bo-container-background); }
    .yw-sideNavigation-widget .yw-sideNavigation-bottom {
      display: block;
      width: 100%;
      margin-bottom: 4px; }
      .yw-sideNavigation-widget .yw-sideNavigation-bottom .widget_cnt {
        width: 100%; }
    .yw-sideNavigation-widget .search-content {
      display: flex;
      justify-content: center;
      margin-top: 4px; }
      .yw-sideNavigation-widget .search-content:hover {
        background-color: var(--bo-sideNavigation__treerow_hover--bg-color); }
      .yw-sideNavigation-widget .search-content .search-button {
        border: none;
        height: 48px;
        width: 48px;
        line-height: 48px;
        color: var(--bo-content-icon-color);
        position: relative; }
        .yw-sideNavigation-widget .search-content .search-button:hover {
          background-image: linear-gradient(to right, var(--bo-neutral-color) 0.25rem, var(--bo-list-hover-background) 0.25rem);
          border: none;
          box-shadow: none;
          color: var(--bo-content-icon-color);
          background-color: transparent; }
        .yw-sideNavigation-widget .search-content .search-button:focus {
          outline: none; }
        .yw-sideNavigation-widget .search-content .search-button:before {
          content: "\e00d";
          font-size: 1.25rem;
          font-family: var(--bo-content-icon-font-family); }
    .yw-sideNavigation-widget .scroll-content-up, .yw-sideNavigation-widget .scroll-content-down {
      display: none;
      background: var(--bo-container-background);
      justify-content: center; }
      .yw-sideNavigation-widget .scroll-content-up .z-button:before, .yw-sideNavigation-widget .scroll-content-down .z-button:before {
        font-size: 1.25rem;
        font-family: var(--bo-content-icon-font-family); }
    .yw-sideNavigation-widget .scroll-content-up {
      padding: 4px 0;
      border-bottom: 1px solid var(--bo-list-border-color); }
      .yw-sideNavigation-widget .scroll-content-up .scroll-button-up:before {
        content: "\e1f0"; }
    .yw-sideNavigation-widget .scroll-content-down {
      border-top: 1px solid var(--bo-list-border-color);
      padding: 4px 0; }
      .yw-sideNavigation-widget .scroll-content-down .scroll-button-down:before {
        content: "\e1ef"; }
  .yw-sideNavigation .z-treerow > .z-treecell {
    border: none; }
  .yw-sideNavigation .z-treerow > .z-treecell .z-treecell-content {
    color: var(--bo-text-color); }
  .yw-sideNavigation .z-treerow:hover {
    background-color: transparent; }
    .yw-sideNavigation .z-treerow:hover > .z-treecell .z-treecell-content {
      background-color: var(--bo-list-hover-background); }
      .yw-sideNavigation .z-treerow:hover > .z-treecell .z-treecell-content:before {
        left: 0;
        top: 0;
        content: "";
        height: 100%;
        width: 0.25rem;
        position: absolute;
        background-color: var(--bo-neutral-color); }
  .yw-sideNavigation .z-treerow.yw-selected {
    background-color: transparent; }
    .yw-sideNavigation .z-treerow.yw-selected > .z-treecell .z-treecell-content {
      background-color: var(--bo-list-selected-background); }
      .yw-sideNavigation .z-treerow.yw-selected > .z-treecell .z-treecell-content:before {
        left: 0;
        top: 0;
        content: "";
        height: 100%;
        width: 0.25rem;
        position: absolute;
        background-color: var(--bo-selected-color); }
  .yw-sideNavigation .z-treerow.yw-selected:hover {
    background-color: transparent; }
    .yw-sideNavigation .z-treerow.yw-selected:hover > .z-treecell .z-treecell-content {
      background-color: var(--bo-list-selected-hover-background); }
      .yw-sideNavigation .z-treerow.yw-selected:hover > .z-treecell .z-treecell-content:before {
        left: 0;
        top: 0;
        content: "";
        height: 100%;
        width: 0.25rem;
        position: absolute;
        background-color: var(--bo-selected-color); }
  .yw-sideNavigation .z-treerow.yw-selected > .z-treecell {
    box-shadow: none; }
  .yw-sideNavigation .z-treerow.yw-selected .y-tree-icon {
    color: var(--bo-content-icon-color); }
  .yw-sideNavigation .z-treerow .y-tree-icon {
    color: var(--bo-content-icon-color); }
  .yw-sideNavigation .z-treerow.yw-navigationNode-level1 .z-vfiletree-spacer {
    display: none; }
  .yw-sideNavigation .z-treerow.yw-navigationNode-level1 .z-treecell {
    display: flex;
    justify-content: center;
    padding: 0; }
    .yw-sideNavigation .z-treerow.yw-navigationNode-level1 .z-treecell .y-tree-icon {
      line-height: 48px; }
  .yw-sideNavigation .z-treerow.yw-navigationNode-level1 .yw-sideNavigation-expand-icon .z-treecell-content:after {
    content: "\f0d7";
    font-size: 12px;
    font-family: var(--bo-content-icon-font-family);
    display: inline-block;
    position: absolute;
    right: 4px;
    bottom: 0px;
    transform: rotate(315deg); }
  .yw-sideNavigation .z-treerow.yw-navigationNode-level1 .z-treecell-content {
    height: 48px;
    width: 48px;
    border-radius: 8px;
    position: relative;
    display: flex;
    justify-content: center; }
    .yw-sideNavigation .z-treerow.yw-navigationNode-level1 .z-treecell-content .z-vfiletree-icon {
      display: none; }
    .yw-sideNavigation .z-treerow.yw-navigationNode-level1 .z-treecell-content .yw-treeCellInner .y-tree-icon-backoffice_dashboard:before {
      font-family: var(--bo-content-icon-font-family);
      font-size: 1.25rem;
      content: "\e070"; }
    .yw-sideNavigation .z-treerow.yw-navigationNode-level1 .z-treecell-content .yw-treeCellInner .y-tree-icon-hmc_backoffice-workflow-inbox:before {
      font-family: var(--bo-content-icon-font-family);
      font-size: 1.25rem;
      content: "\e02b"; }
    .yw-sideNavigation .z-treerow.yw-navigationNode-level1 .z-treecell-content .yw-treeCellInner .y-tree-icon-hmc_treenode_system:before {
      font-family: var(--bo-content-icon-font-family);
      font-size: 1.25rem;
      content: "\e158"; }
    .yw-sideNavigation .z-treerow.yw-navigationNode-level1 .z-treecell-content .yw-treeCellInner .y-tree-icon-hmc_treenode_catalog:before {
      font-family: var(--bo-content-icon-font-family);
      font-size: 1.25rem;
      content: "\e124"; }
    .yw-sideNavigation .z-treerow.yw-navigationNode-level1 .z-treecell-content .yw-treeCellInner .y-tree-icon-hmc_treenode_medias:before {
      font-family: var(--bo-content-icon-font-family);
      font-size: 1.25rem;
      content: "\e07e"; }
    .yw-sideNavigation .z-treerow.yw-navigationNode-level1 .z-treecell-content .yw-treeCellInner .y-tree-icon-hmc_treenode_user:before {
      font-family: var(--bo-content-icon-font-family);
      font-size: 1.25rem;
      content: "\e001"; }
    .yw-sideNavigation .z-treerow.yw-navigationNode-level1 .z-treecell-content .yw-treeCellInner .y-tree-icon-hmc_treenode_order:before {
      font-family: var(--bo-content-icon-font-family);
      font-size: 1.25rem;
      content: "\e0c3"; }
    .yw-sideNavigation .z-treerow.yw-navigationNode-level1 .z-treecell-content .yw-treeCellInner .y-tree-icon-hmc_treenode_pricesettings:before {
      font-family: var(--bo-content-icon-font-family);
      font-size: 1.25rem;
      content: "\e126"; }
    .yw-sideNavigation .z-treerow.yw-navigationNode-level1 .z-treecell-content .yw-treeCellInner .y-tree-icon-hmc_treenode_c2l:before {
      font-family: var(--bo-content-icon-font-family);
      font-size: 1.25rem;
      content: "\e0e8"; }
    .yw-sideNavigation .z-treerow.yw-navigationNode-level1 .z-treecell-content .yw-treeCellInner .y-tree-icon-hmc_treenode_marketing:before {
      font-family: var(--bo-content-icon-font-family);
      font-size: 1.25rem;
      content: "\e0b0"; }
    .yw-sideNavigation .z-treerow.yw-navigationNode-level1 .z-treecell-content .yw-treeCellInner .y-tree-icon-hmc_cockpit:before {
      font-family: var(--bo-content-icon-font-family);
      font-size: 1.25rem;
      content: "\e22d"; }
    .yw-sideNavigation .z-treerow.yw-navigationNode-level1 .z-treecell-content .yw-treeCellInner .y-tree-icon-pcmbackoffice-dashboard-view:before {
      font-family: var(--bo-content-icon-font-family);
      font-size: 1.25rem;
      content: "\e120"; }
    .yw-sideNavigation .z-treerow.yw-navigationNode-level1 .z-treecell-content .yw-treeCellInner .y-tree-icon-pcmbackoffice-collectionBrowser-view:before {
      font-family: var(--bo-content-icon-font-family);
      font-size: 1.25rem;
      content: "\e011"; }
    .yw-sideNavigation .z-treerow.yw-navigationNode-level1 .z-treecell-content .yw-treeCellInner .y-tree-icon-pcmbackoffice-assortment-view:before {
      font-family: var(--bo-content-icon-font-family);
      font-size: 1.25rem;
      content: "\e0c6"; }
    .yw-sideNavigation .z-treerow.yw-navigationNode-level1 .z-treecell-content .yw-treeCellInner .y-tree-icon-pcmbackoffice-compare-view:before {
      font-family: var(--bo-content-icon-font-family);
      font-size: 1.25rem;
      content: "\e086"; }

.yw-sideNavigation-popup {
  width: 245px;
  overflow-y: auto;
  max-height: 600px; }
  .yw-sideNavigation-popup .z-treerow > .z-treecell .z-treecell-content {
    color: var(--bo-text-color); }
  .yw-sideNavigation-popup .z-treerow:hover {
    background-color: var(--bo-list-hover-background); }
  .yw-sideNavigation-popup .z-treerow.yw-selected {
    background-color: var(--bo-list-selected-background); }
  .yw-sideNavigation-popup .z-treerow.yw-selected:hover {
    background-color: var(--bo-list-selected-hover-background); }
  .yw-sideNavigation-popup tr[class^="yw-navigationNode-level"].yw-selected.z-treerow .z-treecell {
    border-bottom: 1px solid var(--bo-list-selected-border-color);
    background-color: transparent; }
  .yw-sideNavigation-popup tr[class^="yw-navigationNode-level"] .z-treecell {
    padding: 14px 20px 13px 12px;
    border-bottom: 1px solid var(--bo-list-border-color);
    word-break: break-word; }
  .yw-sideNavigation-popup tr[class^="yw-navigationNode-level"] .z-tree-icon {
    display: none; }
  .yw-sideNavigation-popup tr[class^="yw-navigationNode-level"] .z-tree-spacer {
    display: none; }
  .yw-sideNavigation-popup tr[class^="yw-navigationNode-level"] .yw-sideNavigation-expand-icon:before {
    content: "\e066";
    position: absolute;
    right: 12px;
    top: calc(50% - 7px);
    font-family: var(--bo-content-icon-font-family);
    font-size: 16px;
    color: var(--bo-content-icon-color); }

.yw-navigationNode-cannot-access {
  opacity: 0.5;
  font-style: italic; }

.yw-sideNavigation::-webkit-scrollbar {
  width: 0px;
  height: var(--bo-scrollbar-height);
  background-color: transparent; }
