@import "./scss/support/sidenavigation-mixins";
@import "./scss/support/_theme-adjust";

.yw-sideNavigation {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  background: $sideNavigation__treecell--background;
  scrollbar-color: transparent transparent; // firefox

  &-widget,
  &-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
  }

  &-container {
    flex: 1;
  }

  &-widget {
    background: $sideNavigation__treecell--background;

    .yw-sideNavigation-bottom {
      display: block;
      width: 100%;
      margin-bottom: 4px;

      .widget_cnt {
        width: 100%;
      }
    }

    .search-content {
      display: $sideNavigation__search_content--display;
      justify-content: $sideNavigation__search_content--justify-content;
      margin-top: $sideNavigation__search-content--margin-top;

      &:hover {
        background-color: $sideNavigation__search-button-hover--bg-color;
      }

      .search-button {
        border: none;
        height: $sideNavigation__search-button--height;
        width: $sideNavigation__search-button--height;
        line-height: $sideNavigation__search-button--height;
        color: $sideNavigation__search-button--color;
        position: relative;

        &:hover {
          background-image: $sideNavigation__search-button_hover--background-image;
          border: none;
          box-shadow: none;
          color: $sideNavigation__search-button--color;
          background-color: transparent;
        }

        &:focus {
          outline: none;
        }

        &:before {
          content: $sideNavigation__search-button--before-content;
          font-size: $sideNavigation__search-button--before-font-size;
          font-family: $font-family__icon;
        }
      }
    }

    .scroll-content {

      &-up,
      &-down {
        display: none;
        background: $sideNavigation__treecell--background;
        justify-content: $sideNavigation__search_content--justify-content;

        .z-button:before {
          font-size: $sideNavigation__search-button--before-font-size;
          font-family: $font-family__icon;
        }
      }

      &-up {
        padding: $_container-spacing-default__core 0;
        border-bottom: $boxes--border__thin solid var(--bo-list-border-color);

        .scroll-button-up {
          &:before {
            content: $sideNavigation__scroll-up-button--before-content;
          }
        }
      }

      &-down {
        border-top: $boxes--border__thin solid var(--bo-list-border-color);
        padding: $_container-spacing-default__core 0;

        .scroll-button-down {
          &:before {
            content: $sideNavigation__scroll-down-button--before-content;
          }
        }
      }
    }
  }

  .z-treerow>.z-treecell {
    border: none;
  }

  @include _rowStateColor("z-treerow", $sideNavigation__row--color);
  @include _rowAndCellStateColor("z-treerow:hover",
    $sideNavigation__treerow_hover--bg-color,
    $sideNavigation__treecell_content_hover--bg-color,
    $sideNavigation__treecell_content_side_hover--bg-color,
    $sideNavigation__row-hover--color );
  @include _rowAndCellStateColor("z-treerow.yw-selected",
    $sideNavigation__treerow_selected--bg-color,
    $sideNavigation__treecell_content_selected--bg-color,
    $sideNavigation__treecell_content_side_selected_hover--bg-color,
    false);
  @include _rowAndCellStateColor("z-treerow.yw-selected:hover",
    $sideNavigation__treerow_selected_hover--bg-color,
    $sideNavigation__treecell_content_selected_hover--bg-color,
    $sideNavigation__treecell_content_side_selected_hover--bg-color,
    false);
  @include _rowStateColor("z-treerow.z-treerow-focus", false, false);
  @include _rowStateColor("z-treerow.z-treerow-focus:hover", false, false);

  .z-treerow {
    &.yw-selected>.z-treecell {
      box-shadow: none;
    }

    &.yw-selected .y-tree-icon {
      color: $sideNavigation__treerow_selected_tree-icon-color;
    }

    .y-tree-icon {
      color: $default-icon--color;
    }
  }

  .z-treerow.yw-navigationNode-level1 {
    .z-vfiletree-spacer {
      display: none;
    }

    .z-treecell {
      .y-tree-icon {
        line-height: $sideNavigation__treecell_tree_icon--line-height;
      }

      display: flex;
      justify-content: center;
      padding: 0;
    }

    .yw-sideNavigation-expand-icon {
      .z-treecell-content {
        &:after {
          content: $sideNavigation__treerow_expand_icon--content;
          font-size: $sideNavigation__treerow_expand_icon--font-size;
          font-family: $sideNavigation__treerow_expand_icon--font-family;
          display: $sideNavigation__treerow_expand_icon--display;
          position: $sideNavigation__treerow_expand_icon--position;
          right: $sideNavigation__treerow_expand_icon--right;
          bottom: $sideNavigation__treerow_expand_icon--bottom;
          transform: $sideNavigation__treerow_expand_icon--transform;
        }
      }
    }

    .z-treecell-content {
      height: $sideNavigation__treecell_content--height;
      width: $sideNavigation__treecell_content--height;
      border-radius: $sideNavigation__treecell_content--border-radius;
      position: relative;
      display: $sideNavigation__search_content--display;
      justify-content: $sideNavigation__search_content--justify-content;

      .z-vfiletree-icon {
        display: none;
      }

      .yw-treeCellInner {
        //admin-cockpit navibar icons
        @include setSideNavigationIconGlyph("backoffice_dashboard", "home");
        @include setSideNavigationIconGlyph("hmc_backoffice-workflow-inbox", "inbox");
        @include setSideNavigationIconGlyph("hmc_treenode_system", "it-system");
        @include setSideNavigationIconGlyph("hmc_treenode_catalog", "sap-box");
        @include setSideNavigationIconGlyph("hmc_treenode_medias", "documents");
        @include setSideNavigationIconGlyph("hmc_treenode_user", "account");
        @include setSideNavigationIconGlyph("hmc_treenode_order", "sales-order");
        @include setSideNavigationIconGlyph("hmc_treenode_pricesettings", "accounting-document-verification");
        @include setSideNavigationIconGlyph("hmc_treenode_c2l", "globe");
        @include setSideNavigationIconGlyph("hmc_treenode_marketing", "marketing-campaign");
        @include setSideNavigationIconGlyph("hmc.cockpit", "developer-settings");

        // pcm-cockpit navibar icons
        @include setSideNavigationIconGlyph("pcmbackoffice-dashboard-view", "bbyd-dashboard");
        @include setSideNavigationIconGlyph("pcmbackoffice-collectionBrowser-view", "product");
        @include setSideNavigationIconGlyph("pcmbackoffice-assortment-view", "puzzle");
        @include setSideNavigationIconGlyph("pcmbackoffice-compare-view", "compare");
      }
    }
  }
}

.yw-sideNavigation-popup {
  width: $sideNavigation__popup--width;
  overflow-y: auto;
  max-height: $sideNavigation__popup--max-height;

  @include _rowStateColor("z-treerow", $sideNavigation__row--color);
  @include _rowStateColor("z-treerow:hover", $sideNavigation__row-hover--color, $sideNavigation__row-hover--bg-color);
  @include _rowStateColor("z-treerow.yw-highlighted", false, false);
  @include _rowStateColor("z-treerow.yw-selected", false, $sideNavigation__row-selected--bg-color);
  @include _rowStateColor("z-treerow.yw-selected:hover", false, $sideNavigation__row-selected-hover--bg-color);
  @include _rowStateColor("z-treerow.z-treerow-focus", false, false);
  @include _rowStateColor("z-treerow.z-treerow-focus:hover", false, false);

  tr[class^="yw-navigationNode-level"] {
    &.yw-selected.z-treerow .z-treecell {
      border-bottom: $sideNavigation__popup_selected_treecell--border-bottom;
      background-color: transparent;
    }
  }

  tr[class^="yw-navigationNode-level"] {
    .z-treecell {
      padding: $sideNavigation__popup_treecell--padding;
      border-bottom: $sideNavigation__popup_treecell--border-bottom;
      word-break: $sideNavigation__popup_treecell--word-break;
    }

    .z-tree-icon {
      display: none;
    }

    .z-tree-spacer {
      display: none;
    }

    .yw-sideNavigation-expand-icon {
      &:before {
        content: $sideNavigation__popup_expand_icon--content;
        position: absolute;
        right: $sideNavigation__popup_expand_icon--right;
        top: calc(50% - 7px);
        font-family: $font-family__icon;
        font-size: $font-size__large;
        color: $sideNavigation__popup_expand_icon--color;
      }
    }
  }
}

.yw-navigationNode-cannot-access {
  opacity: 0.5;
  font-style: italic;
}

// chrome
.yw-sideNavigation::-webkit-scrollbar {
  width: 0px;
  height: var(--bo-scrollbar-height);
  background-color: transparent;
}
