/* Status */
/* Button Color Scheme */
/*================================
    Default File Upload
================================*/
/* Status */
/* Button Color Scheme */
/*================================
    Default File Upload Defaults
================================*/
.ye-com_hybris_cockpitng_editor_defaultfileupload .ye-com_hybris_cockpitng_editor_defaultfileupload_reset_button {
  margin-left: 16px; }
.ye-com_hybris_cockpitng_editor_defaultfileupload .ye-com_hybris_cockpitng_editor_defaultfileupload_preview_container {
  border: 1px solid var(--bo-container-border-color);
  border-radius: var(--bo-input-border-radius);
  margin-top: 16px;
  text-align: center; }
.ye-com_hybris_cockpitng_editor_defaultfileupload .ye-com_hybris_cockpitng_editor_defaultfileupload_preview_image {
  max-height: 250px;
  max-width: 100%; }
.ye-com_hybris_cockpitng_editor_defaultfileupload .ye-com_hybris_cockpitng_editor_defaultfileupload_preview_filename {
  padding: 8px;
  margin: 0;
  border-top: 1px solid var(--bo-container-border-color);
  font-size: 12px;
  color: var(--bo-text-color);
  display: block; }
